{% extends "sub_base.html" %}
{% load custom_tags %}
{% block script %}
<script></script>
{% endblock %}
{% block contents %}
<figure class="figure subCustomer">
    <div class="banner subBanner05">
        <div class="figure_inner">
            <div class="container">
                <h1>
                    <span>학부모와 수험생 여러분의 만족</span>을<br />
                    최우선으로 생각합니다.
                </h1>
                <div class="bannerLine"></div>

                <p class="pc">
                    <span
                        style="vertical-align: middle; padding: 2px 20px; border-radius: 15px; margin-right: 10px; background-color: white; color: #666;">이용문의</span>
                    <span style="vertical-align: middle;">02-2287-2386</span>
                </p>

                <p class="mobile">
                    <span
                        style="vertical-align: middle; padding: 2px 20px; border-radius: 15px; margin-right: 10px; background-color: white; color: #666;">이용문의</span>
                    <span style="vertical-align: middle; display: inline;"><a href="tel:02-2287-2386"
                            style="color: white; font-size: 15px; display: inline;">02-2287-2386</a></span>
                </p>

            </div>
        </div>
    </div>
</figure>
<section class="content subMypage subCustomer">
    <div class="content_inner container">
        <ul class="tabMenu">
            <li class="on"><a href="#item02">자주 묻는 질문 </a></li>
            <li><a href="{% url 'notice_list' %}">박샘 소식 </a></li>
        </ul>
    </div>
</section>

<section class="content accordionList" id="item02">
    <div class="content_inner container">
        <div class="row">
            <div class="accordion" id="accordionExample">

                <div class="card">
                    <div class="card-header" id="heading1">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1"
                                aria-expanded="false" aria-controls="collapse1">
                                1. 다른 컨설팅 업체와 다른 점은 무엇인가요?
                            </button>
                        </h2>
                    </div>

                    <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                        <div class="card-body">
                            ‘누구나 좋은 상담을 받을 때까지’ 박샘이 지향하는 가치 입니다.<br />
                            박샘은 서울권에 집중된 고액 컨설팅 대신 ‘부담 없는 월 정액 정기상담 서비스와 실시간 화상시스템을 통해 많은 분들의 상담’을 돕고자 합니다.<br />
                            또한 출처나 기준을 알 수 없는 비 전문가의 상업적 지도 대신 ‘최소 10년 이상 진로진학분야에서 전문성을 갖춘 수도권 고교 진학부장 출신 컨설턴트’를 모셔 올바르고 정확한 컨설팅을 제공합니다.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading2">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2"
                                aria-expanded="false" aria-controls="collapse2">
                                2. 누구나 가입이 가능한가요?
                            </button>
                        </h2>
                    </div>

                    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                        <div class="card-body">
                            박샘의 정기상담 프로그램은 수시전형, 특히 학생부종합전형기반의 대학입시를 체계적으로 준비하고자 하는 학생을 위해 구성되었습니다.<br />
                            중3부터 고2까지 정기상담 신청이 가능하며 고3인 경우 1회 상담 신청이 가능합니다.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading3">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3"
                                aria-expanded="false" aria-controls="collapse">
                                3. 담당 컨설턴트는 어떻게 배정이 되나요? 중도에 변경이 가능한가요?
                            </button>
                        </h2>
                    </div>

                    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                        <div class="card-body">
                            희망상담분야 및 계열, 목표대학 등에 따라 ‘적합한 컨설턴트를 추천해 드리며 사전상담을 통해 확정’하게 됩니다. 중도 변경 또한 ‘언제든지 가능’합니다. 
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading4">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4"
                                aria-expanded="false" aria-controls="collapse4">
                                4. 언제든 가입이 가능한가요?
                            </button>
                        </h2>
                    </div>

                    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                        <div class="card-body">
                            정기상담 서비스는 ‘원하는 시점에 맞추어 언제든 시작’이 가능합니다.<br/>
                            첫 상담을 통해 개인별 진학목표 및 계획을 수립한 이후 연간 정기적인 컨설팅이 이루어지는 구조입니다. 
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading5">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5"
                                aria-expanded="false" aria-controls="collapse5">
                                5. 상담은 언제 받는 것이 좋나요?
                            </button>
                        </h2>
                    </div>

                    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                        <div class="card-body">
                            1) 학기 초 상담을 통해 교과 및 교과연계 활동계획을 수립한 이후 2) 중간고사 종료 후의 중간점검  3) 학기 말 학생부 기재시점등에 맞추어 순차적인 상담을 받는 것이 가장 좋습니다. 성적분석을 통한 학습전략, 누적된 활동의 효과적인 기재를 위한 방법까지 ‘박샘의 컨설턴트가 시점에 맞는 방향성과 조언을 제공’하기 때문입니다.<br/>
                            물론 상담은 선택과목 추천 및 수행평가 가이드, 진로변경에 따른 전략수정 등 ‘원하는 시점에 맞추어 이용도 가능’합니다.<br/>
                            스탠다드 회원의 경우 담당 컨설턴트와의 1:1 질의응답 게시판을 통해 ‘간략한 궁금점 등을 언제든지 해소’할 수 있습니다. 
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading6">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse6"
                                aria-expanded="false" aria-controls="collapse6">
                                6. 상담신청과정 및 필요한 서류를 알고 싶어요
                            </button>
                        </h2>
                    </div>

                    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                        <div class="card-body">
                            회원가입을 통해 결제완료 후 My Page에서 상담신청을 완료해주세요. 이후 박샘에서 전화를 드려 일정과 담당컨설턴트를 확정 후 상담이
                            진행됩니다.<br /><br />
                            일정이 확정되면 상담 최소 1주일전까지, My Page의 서류등록란에 학교생활기록부와 최근 모의고사성적표를 올려 주세요. 컨설턴트가 학생의 성적과 위치를 진단 후
                            상담에 임하게 되어 효율적인
                            상담이 진행됩니다.<br /><br />
                            상담이 종료되면 My Page 내 상담내역을 통해 상담결과를 확인하실 수 있습니다. 이후 컨설턴트와 협의한 일정에 맞추어 다음 시점의 상담을 진행하시면 됩니다.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading7">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse7"
                                aria-expanded="false" aria-controls="collapse7">
                                7. 연간 상담시간을 다 사용했을 경우에는 어떻게 하나요?
                            </button>
                        </h2>
                    </div>

                    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
                        <div class="card-body">
                            정기상담 회원은 ‘연 최대 2회 추가상담 신청’이 가능합니다. 추가상담은 50분 주문형 주제로 진행되며 스탠다드 기준 회당 120,000원에 이용이 가능합니다. 
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading8">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse8"
                                aria-expanded="false" aria-controls="collapse8">
                                8. 상담서류를 등록하는 방법이 알고 싶어요
                            </button>
                        </h2>
                    </div>

                    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
                        <div class="card-body">
                            1) PDF를 통해 학교생활기록부를 올려주세요. (마이페이지 -> 상담서류 등록)<br />
                            <br />
                            학교생활기록부가 없을 경우 아래를 참고하여 주세요. <br />
                            Step 1. 익스플로러를 이용하여 ‘나이스 학부모 서비스’에 접속합니다.<br />
                            Step 2. ‘학생정보’의 ‘학교생활기록부’를 클릭합니다.<br />
                            Step 3. 화면 우클릭으로 인쇄를 누르고 ‘프린터 선택’에서 ‘Microsoft Print to PDF’ 또는 ‘PDF 저장하기’ 선택 후 인쇄를 눌러 파일을
                            저장합니다.<br />
                            Step 4. 박샘 마이페이지의 ‘상담 서류 등록’에서 저장한 파일을 제출합니다.<br />
                            <br />
                            2) 스마트폰으로 서류스캔 및 제출하기<br />
                            1) 갤럭시 이용방법<br />
                            Step 1. 카메라 앱의 설정에서 ‘장면별 최적 촬영’을 터치하고 '문서 스캔' 활성화 합니다. <br />
                            Step 2. 서류가 화면에 잡히도록 한 뒤 ‘눌러서 스캔’을 터치합니다. <br />
                            Step 3. 모서리를 조정하여 저장하고 다른 서류도 마저 스캔합니다.<br />
                            Step 4. ‘상담 서류 등록’의 ‘파일 업로드’를 터치하고 갤러리에 저장된 서류를 제출하면 끝!<br />
                            <br />
                            2) 아이폰 이용방법<br />
                            Step 1. 설정에서 메모의 미디어 ‘사진 앱에 저장’을 활성화 합니다.<br />
                            Step 2. 메모 앱에서 새 메모 추가 후 ‘카메라’의 ‘문서 스캔’을 터치하여 서류를 촬영합니다.<br />
                            Step 3. 모서리를 조정하고 ＇스캔 항목 유지＇를 터치하여 다른 서류 스캔한 뒤에 저장과 완료를 합니다.<br />
                            Step 4. ‘상담 서류 등록’의 ‘파일 업로드’를 터치하고 사진보관함에 저장된 서류를 제출하면 끝!<br />
                            <br />
                            성적표 등의 간단한 자료는 핸드폰으로 잘 보이게 찍어 올려주셔도 됩니다. 궁금하신 부분은 고객센터로 전화 주세요!<br />

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading9">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse9"
                                aria-expanded="false" aria-controls="collapse9">
                                9. 비대면으로 진행하는 이유를 알고 싶어요. (상담시간 안내 포함)
                            </button>
                        </h2>
                    </div>

                    <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
                        <div class="card-body">
                            직장에 다니는 학부모나 지방에 위치한 학생들 모두 시간과 장소의 구애 없이 상담이 가능하기 때문입니다.<br />
                            또한 실시간 비대면 시스템을 통해 컨설턴트와 학생 모두의 효율적인 시간이용을 도우며 박샘의 상담가능시간은 아래와 같습니다.<br />
                            <br />
                            상담가능시간 (시작 및 종료시점 기준)<br />
                            - 월요일~금요일: 10:00~22:00<br />
                            - 토요일~일요일: 10:00~22:00<br />
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading10">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse10"
                                aria-expanded="false" aria-controls="collapse10">
                                10. 이용취소 및 환불규정이 알고 싶어요
                            </button>
                        </h2>
                    </div>

                    <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
                        <div class="card-body">
                            취소는 ‘마이페이지 내 나의 이용정보 메뉴 혹은 고객센터를 통해 언제든 가능’합니다.<br/>
                            컨설팅 등 서비스를 이용한 경우 환불은 어렵습니다.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading11">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse11"
                                aria-expanded="false" aria-controls="collapse11">
                                11. 개인정보 처리방식이 궁금합니다
                            </button>
                        </h2>
                    </div>

                    <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
                        <div class="card-body">
                            학생이 제공한 학교생활기록부와 성적표 등은 프로그램 종료 후 전면폐기하며 소유자의 동의없이 온라인에 게시하거나 제3자에 제공하지 않습니다.
                            박샘은 '정보통신망 이용촉진 및 정보보호' 법률에 따른 개인정보취급방침을 준수합니다.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}