{% extends "sub_base.html" %}
{% load custom_tags %}
{% block script %}
<script>
    $(document).ready(function () {
        let id = '{{ id }}';

        if (id) {
            $("#notice" + id).next().show();
        }

        // 모바일 버전 박샘 소식 210426
        var noticeListWrap = $(".noticeList table tr td .iconBox");
        var noticeAnswerWrap = $(".noticeList table tr td .ansDesWrap");
        $(noticeListWrap).click(function () {
            $(this).siblings(".ansDesWrap").toggle();
        });
    });
</script>
{% endblock %}
{% block contents %}
<figure class="figure subCustomer">
    <div class="banner subBanner05">
        <div class="figure_inner">
            <div class="container">
                <h1>
                    <span>학부모와 수험생 여러분의 만족</span>을<br />
                    최우선으로 생각합니다.
                </h1>
                <div class="bannerLine"></div>

                <p class="pc">
                    <span
                        style="vertical-align: middle; padding: 2px 20px; border-radius: 15px; margin-right: 10px; background-color: white; color: #666;">이용문의</span>
                    <span style="vertical-align: middle;">02-2287-2386</span>
                </p>

                <p class="mobile">
                    <span
                        style="vertical-align: middle; padding: 2px 20px; border-radius: 15px; margin-right: 10px; background-color: white; color: #666;">이용문의</span>
                    <span style="vertical-align: middle; display: inline;"><a href="tel:02-2287-2386"
                            style="color: white; font-size: 15px; display: inline;">02-2287-2386</a></span>
                </p>
                
            </div>
        </div>
    </div>
</figure>
<section class="content subMypage subCustomer">
    <div class="content_inner container">
        <ul class="tabMenu">
            <li><a href="{% url 'faq_list' %}">자주 묻는 질문 </a></li>
            <li class="on"><a href="#item01">박샘 소식 </a></li>
        </ul>
    </div>
</section>
<section class="content noticeList pc" id="item01">
    <div class="content_inner container">
        <div class="row">
            <div class="consultTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">제목</th>
                            <th scope="col">날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for news in page_list %}
                        <tr>
                            <td><a href="/notice_detail/{{ news.id }}">{{ news.title}}</a></td>
                            <td>{{ news.regist_date|date:"Y.m.d" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'common/pagination.html' with page_list=page_list %}
            </div>
        </div>
    </div>
</section>
<section class="content noticeList mobile" id="item01">
    <div class="content_inner container">
        <div class="row">
            <div class="consultTable">
                <table class="table">
                    <tbody>
                        {% for notice in page_list %}
                        <tr>
                            <td>
                                <div class="iconBox" id="notice{{notice.id}}">
                                    {{ notice.title}}
                                    <p class="date">{{ notice.regist_date|date:"Y.m.d"}}</p>
                                </div>
                                <div class="ansDesWrap">
                                    {{ notice.content|safe }}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                {% include 'common/pagination.html' with page_list=page_list %}

            </div>
        </div>
    </div>
</section>
{% endblock %}