{% extends "sub_base.html" %} {% block script %}
<script>
    function save() {
        $.post("{% url 'notice_new' %}", $("#form").serializeArray(), function (data) {
            if (data.success) {
                Swal.fire({
                    title: "",
                    text: "저장 되었습니다.",
                    icon: "success",
                    confirmButtonText: "확인",
                }).then(function () {
                    document.location.href = "{% url 'notice_list' %}";
                });
            } else {
                console.log(data.message);

                alert(data.message);
                /*
                Swal.fire({
                    title: "Error",
                    text: data.message,
                    icon: "error",
                    confirmButtonText: "확인",
                });
                */
            }
        });
    }
</script>
{% endblock %} {% load custom_tags %} {% block contents %}
<h2>글쓰기</h2>
<hr />

<div class="row">
    <form id="form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">제목</label>
            {{ form.title }}
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">내용</label>
            {{ form.content }}
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">순서</label>
            {{ form.order_no }}
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">고정여부</label>
            {{ form.fix_yn }}
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">사용여부</label>
            {{ form.use_yn }}
        </div>
    </form>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" onclick="save();">저장</button>
        <button class="btn btn-secondary" type="button" onclick="goList();">목록</button>
    </div>
</div>

{% endblock %}
