{% extends "sub_base.html" %} {% block script %}
<script>
    $(document).ready(function () {
        // 모바일 버전 박샘 소식 210426
        var noticeListWrap = $(".noticeList table tr td .iconBox");
        var noticeAnswerWrap = $(".noticeList table tr td .ansDesWrap");
        $(noticeListWrap).click(function () {
            $(this).siblings(".ansDesWrap").toggle();
        });
    });
</script>
{% endblock %}
{% load custom_tags %}
{% block contents %}
<section class="content subMypageItem qnaListContent noticeListContent pc" id="">
    <div class="content_inner container">
        <div class="row">
            <div class="qnaTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="qnaTit">{{ notice.title }}</th>
                            <th class="qnaDate">{{ notice.regist_date|date:"Y.m.d" }}</th>
                            <!--<th class="qnaDate">{{ form.regist_date.value|date:"Y.m.d" }}</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <p class="ansDes">
                                    {{ notice.content | safe }}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btnArea">
                    <a href="#">
                        <button class="gBtn" onclick="goList();">
                            <span>이전으로</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<h2>상세보기</h2>
<hr />

<div class="row">
    <form id="form">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">제목</label>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">내용</label>
            <p>{{ form.content.value | safe }}</p>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">순서</label>
            <p>{{ form.order_no.value }}</p>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">고정여부</label>
            <p>{{ form.fix_yn.value }}</p>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">사용여부</label>
            <p>{{ form.use_yn.value }}</p>
        </div>
    </form>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" onclick="modify();">수정</button>
        <button class="btn btn-secondary" type="button" onclick="goList();">목록</button>
    </div>
</div>
-->
{% endblock %}