* {
  padding: 0;
  margin: 0;
  font-size: 10px;
}
ul,
li {
  list-style: none;
  margin-bottom: 0 !important;
}
a {
  display: block;
  text-decoration: none !important;
  color: #333333;
  cursor: pointer;
}
input.form-control {
  border: none;
  -webkit-box-shadow: none;
}
button {
  border: none;
  background: none;
}
.hidden {
  visibility: hidden;
  display: none;
}
/* 부트스트랩 버튼효과 제거 */
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none !important;
  outline: none !important;
  outline-offset: 0 !important;
  text-decoration: none !important;
}
.switchCustom .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switchCustom .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchCustom .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a4a4a4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switchCustom .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switchCustom input:checked + .slider {
  background-color: #6b6dff;
}

.switchCustom input:focus + .slider {
  box-shadow: 0 0 1px #6b6dff;
}

.switchCustom input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switchCustom .slider.round {
  border-radius: 34px;
}

.switchCustom .slider.round:before {
  border-radius: 50%;
}
/* header */
header .container {
  height: 89px;
  line-height: 89px;
  background-color: #323232;
}
header .gnb ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .gnb ul li {
  text-align: center;
}
header .util ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .util ul li {
  padding: 0;
  position: relative;
  width: 180px;
  text-align: center;
}
header .util ul li::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #ffffff;
}
header .util ul li:last-child:after {
  display: none;
}
header .util ul li.icon:before {
  content: "";
  margin-right: 10px;
  width: 16px;
  height: 17px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
header .util ul li.icon:first-child:before {
  background-image: url(../img/admin/icon_mem_white.png);
}
header .util ul li.icon:last-child:before {
  background-image: url(../img/admin/icon_logout_white.png);
}

header .gnb ul li {
  width: calc(100% / 7);
}
.header ul li a {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 2.2;
  color: #ffffff;
  box-sizing: border-box;
}
.header ul li:hover a {
  font-weight: 600;
  border-bottom: 1px solid #ffffff;
}
/* section */
.section {
  margin-bottom: 114px;
}
.section .side .menuTitle {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px #d9d9d9;
}
.section .side .menuTitle span {
  font-size: 20px;
  font-weight: 600;
  color: #5a5a5a;
}
.section .side .menuList {
  padding: 37px 0;
}
.section .side .menuList ul {
  padding: 0 40px;
}
.section .side .menuList ul li {
  margin: 28px 0;
}
.section .side .menuList ul li.on a,
.section .side .menuList ul li:hover a {
  display: inline;
  font-weight: 600;
  color: #5a5a5a;
  border-bottom: solid 1px #d9d9d9;
}
.section .side .menuList ul li a {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #5a5a5a;
}
.section .content .contentTitle {
  /* padding: 38px 0 30px; */
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #d9d9d9;
}
.section .content .contentTitle span {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #5a5a5a;
}
.btnArea button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 146px;
  height: 50px;
  line-height: 50px;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.btnArea button.dgBtn {
  background-color: #484848;
}
.btnArea button.gBorderBtn {
  margin: 0 33px;
  border-radius: 10px;
  border: 2px solid #575757 !important;
  color: #565656 !important;
}

.section .content .contentTitle .btnArea button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  width: 146px;
  /* height: 50px; */
  padding: 10px 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
.section .content .contentTitle .btnArea button.dgBtn {
  background-color: #484848;
}
.section .content .table thead tr th {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #5a5a5a;
}
.section .content .table tbody tr th {
  width: 20%;
}
.section .content .table tbody tr th,
.section .content .table tbody tr td {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #5a5a5a;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 23px 18px !important;
  line-height: 1.42857143;
  vertical-align: middle;
  /* border-top: 1px solid #ddd; */
}
/* table > inputCustom */
.section .content .table .inputCustom {
  display: inline-block;
  width: auto;
  background-color: #f4f4f4;
}
/* input셀 너비 */
.section .content .table .inputCustom.widWidly {
  width: 37.5%;
}
.section .content .table .textareaCustom {
  padding: 30px;
  background-color: #f4f4f4;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #6d6d6d;
}
.section .content table .labelCustom {
  margin-bottom: -1px;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  border: solid 2px #d5d5d5;
  background-color: #ffffff;
}
.section .content table input[type="checkbox"] {
  display: none;
}
.section .content table input[type="checkbox"]:checked + .labelCustom {
  border: solid 2px #484848;
  background-color: #484848;
  background-image: url(../img/admin/icon_check.png);
  background-repeat: no-repeat;
  background-size: 20px 15px;
  background-position: center;
}
/* 제목셀 너비 */
.section .content table thead tr th.widWidLeft,
.section .content table tbody tr td.widWidLeft {
  width: 60%;
  text-align: left;
}
/* 제목셀 너비 */
.section .content table thead tr th.widWidCenter,
.section .content table tbody tr td.widWidCenter {
  width: 60%;
  text-align: center;
}
/* thead 타이틀 */
.section .content .table thead tr th.theadTit {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #5a5a5a;
}
/* ------------------------------ 페이지공통 --------------------------------------*/

/* btn 공통 */
.content .search .btnArea {
  display: flex;
  justify-content: flex-end;
}
.content .tableList .btnArea {
  display: flex;
  justify-content: space-between;
}
/* pagination 공통 */
.content .tableList .pagination {
  margin: 0;
}
/* span 수정 공통 */

.content .tableList tbody tr td span {
  padding: 7px 11px;
  border-radius: 5px;
  border: solid 2px #a1a1a1;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  color: #5a5a5a;
}
.content .tableList .pagination > li > a,
.content .tableList .pagination > li > span {
  color: #5a5a5a;
}
/* ------------------------------adminSetBase --------------------------------------*/
.adminSetBase .content .table > tbody > tr > td span {
  margin-bottom: 24px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
}
/* ------------------------------adminSetMember --------------------------------------*/

.adminSetMember .content .searchList {
  margin-top: 77px;
  border-top: solid 1px #9c9c9c;
}
.adminSetMember .content .table > tbody > tr > td,
.adminSetMember .content .table > tbody > tr > th,
.adminSetMember .content .table > thead > tr > td,
.adminSetMember .content .table > thead > tr > th {
  vertical-align: middle;
}
.adminSetMember .content .tableList thead tr th,
.adminSetMember .content .tableList tbody tr th,
.adminSetMember .content .tableList tbody tr td {
  padding: 23px 3px !important;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.8px;
  text-align: center;
  color: #5a5a5a;
}
.adminSetMember .content .btnArea button.gBorderBtn {
  margin: 0;
}

/* 너비 auto 설정 */
.adminSetMember .content .tableList tbody tr th {
  width: auto;
}

/* ------------------------------adminExamInfo --------------------------------------*/
section.adminExamInfo .content .tableList table thead tr th,
section.adminExamInfo .content .tableList table tbody tr th {
  /* padding: 23px 3px !important; */
  width: auto;
}

/* 엑셀 다운로드 btn */
.adminExamInfo .content .tableList .btnArea .excelBtn {
  opacity: 0;
}
.adminExamInfo .content .contentTitle .btnArea {
  display: flex;
}
.adminExamInfo .content .attachList {
  width: calc(100% - 70px);
  display: inline-block;
}
.adminExamInfo .content .attachList.empty li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #a4a4a4;
}
.adminExamInfo .content .attachList li {
  display: inline-flex;
  margin-right: 55px;
}
.adminExamInfo .content .attachList li a {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
}
.adminExamInfo .content .attachList li button {
  margin-left: 19px;
  font-size: 16px;
  font-weight: 400;
  color: #c04245;
  border-bottom: 1px solid #c04245;
}
.adminExamInfo .content .inputFile {
  float: right;
}
.adminExamInfo .content .inputFile label {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #9e9e9e;
  vertical-align: middle;
  background-color: #ffffff;
  cursor: pointer;
  border-bottom: solid 0.5px #9e9e9e;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.adminExamInfo .content .inputFile input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ------------------------------adminCustomer --------------------------------------*/

/* 엑셀 다운로드 btn */
section.adminCustomer .content .tableList table thead tr th,
section.adminCustomer .content .tableList table tbody tr th {
  padding: 23px 3px !important;
  width: auto;
}

.adminCustomer .content .tableList .btnArea .excelBtn {
  opacity: 0;
}
.adminCustomer .content .contentTitle .btnArea {
  display: flex;
}
.adminCustomer .content .attachList {
  width: calc(100% - 70px);
  display: inline-block;
}
.adminCustomer .content .attachList.empty li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #a4a4a4;
}
.adminCustomer .content .attachList li {
  display: inline-flex;
  margin-right: 55px;
}
.adminCustomer .content .attachList li a {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
}
.adminCustomer .content .attachList li button {
  margin-left: 19px;
  font-size: 16px;
  font-weight: 400;
  color: #c04245;
  border-bottom: 1px solid #c04245;
}
.adminCustomer .content .inputFile {
  float: right;
}
.adminCustomer .content .inputFile label {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #9e9e9e;
  vertical-align: middle;
  background-color: #ffffff;
  cursor: pointer;
  border-bottom: solid 0.5px #9e9e9e;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.adminCustomer .content .inputFile input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* ------------------------------adminMypage --------------------------------------*/

.section.adminMypage .content table thead tr th.widWidLeft,
.section.adminMypage .content table tbody tr td.widWidLeft {
  width: 50%;
}
.section.adminMypage .content .tableEnroll.table tbody tr td:nth-of-type(2) {
  width: 20%;
}
.adminMypage .content .applyList thead tr th,
.adminMypage .content .applyList tbody tr th,
.adminMypage .content .applyList tbody tr td {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.8px;
  text-align: center;
  color: #5a5a5a;
}
.adminMypage .content .applyList tbody tr td .complete {
  font-size: 16px;
  font-weight: 400;
  color: #496cdc;
  border: none;
}
.adminMypage .content .applyList tbody tr td .completeNot {
  font-size: 16px;
  font-weight: 400;
  color: #c04245;
  border: none;
}
.adminMypage .content .btnArea.btnNav {
  display: flex;
  justify-content: center;
}

/* 너비 auto 설정 */
.adminMypage .content .applyList tbody tr th {
  width: auto;
}
.adminMypage .content .tableList .btnArea .excelBtn {
  opacity: 0;
}

.adminMypage .content .contentTitle .btnArea {
  display: flex;
}

.adminMypage .content .attachList {
  width: calc(100% - 70px);
  display: inline-block;
}
.adminMypage .content .attachList.empty li {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #a4a4a4;
}
.adminMypage .content .attachList li {
  display: inline-flex;
  margin-right: 55px;
}
.adminMypage .content .attachList li a {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
  text-decoration: underline !important;
}
.adminMypage .downBtn {
  text-decoration: underline;
}
.adminMypage .content .inputFile {
  float: right;
}
.adminMypage .content .inputFile label {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #9e9e9e;
  vertical-align: middle;
  background-color: #ffffff;
  cursor: pointer;
  border-bottom: solid 0.5px #9e9e9e;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.adminMypage .content .inputFile input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.adminMypage .content .applyList tbody tr td .spangray {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
  border: none;
}
.adminMypage .content .applyList tbody tr td .spanred {
  font-size: 16px;
  font-weight: 400;
  color: #ec5151;
  border: none;
}
/* 나의이용정보관리(회원) */
.section .content .item05 table thead tr th.widWidCenter,
.section .content .item05 table tbody tr td.widWidCenter {
  width: 50%;
  text-align: center;
}
/* 나의이용정보관리(비회원) */
.section .content .item06 table thead tr th.widWidCenter,
.section .content .item06 table tbody tr td.widWidCenter {
  width: 50%;
  text-align: center;
}

/* -------------------------------------footer----------------------------------- */
footer .container {
  height: 76px;
  line-height: 76px;
  background-color: #323232;
}
footer .info p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 1200px) {
  body .container {
    width: 100%;
  }
}
