#ui-datepicker-div {
    z-index: 2 !important;
}

.consultTable table thead tr th:first-child,
.consultTable table tbody tr td:first-child {
    width: auto;
}

.dropzone {
    border: dashed 2px #555;
}

.swal2-popup {
    min-width: 500px;
}

/* 아이콘 크기 변경시 애니메이션 오류 발생 .. */
/*
.swal2-icon {
    font-size: 15px;
}
*/


/*
.dropzone {
    min-height: 200px !important;
}
*/
.dz-message span {
    color: #848484;
    font-size: 20px !important;
}

.filelist {
    padding: 20px 60px;
}

.btn-warning {
    background-color: #f0ad4e !important;
}

.dropzone .dz-preview .dz-image {
    width: 200px;
    height: 200px;
}

.dropzone .dz-preview .dz-image img {
    width: 200px;
    height: 200px;
}

.dz-remove button {
    font-size: 18px;
}

#counsel_date {
    cursor: auto;
}

.ui-datepicker-calendar tr {
    height: 50px;
}

.ui-state-default {
    min-height: 45px;
    font-size: 15px;
    border-radius: 5px;
}

.ui-datepicker-title span {
    font-size: 15px;
}

.ui-tooltip-content {
    font-size: 15px;
}

.form-control[readonly] {
    cursor: auto;
}




.figure .figure_inner h1 span.white {
    color: white;
}

.figure .figure_inner h1 span.yellow {
    color: #ebd796;
    font-size: 52px;
}

.pc .consultTable a {
    font-size: 20px;
    font-weight: 400;
    color: #686767;
}

.pc .consultTable a:hover {
    font-weight: 600;
    transition: all .5s;

}

.mobile .consultTable a {
    font-size: 12px;
}

footer .info li span {
    font-weight: 400;
}

.btnArea button span {
    font-weight: 600;
}

.mainBanner02 .figure_inner .mainBannerWrap .left p {
    font-size: 32px;
}

.accordionList .card-header button {
    font-weight: 400;
}

.qnaTable a {
    font-size: 20px;
}


.qnaList .writeBtn {
    right: 0;
    bottom: 26px;
    justify-content: flex-end;
}

.qnaList .writeBtn button {
    width: auto;
    height: 56px;
    padding: 5px 24px;
    color: #dbdbdb;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    margin: 0;
}

.subMypageItem .consultInfo input[type="radio"]:checked+.btn {
    background-color: #b4b4b4;
    font-weight: 500;
    color: #ffffff;
}

.answerlist {
    margin-top: 30px;
    width: 100%;
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    background-color: #f6f6f6;
}


.answerlist .teacher_name p {
    font-size: 22px !important;
    font-weight: 600 !important;
    margin-bottom: 20px;
    padding: 5px;
}

.answerlist .teacher_answer {
    padding: 20px;
}

.main_addinfo_btn {
    vertical-align: middle;
    padding: 2px 20px 0PX 20PX;
    border-radius: 15px;
    margin-right: 10px;
    background-color: white;
    color: #666 !important;
    font-size: 23px !important;
}

.main_addinfo_btn2 {
    vertical-align: middle;
    padding: 2px 20px 0PX 20PX;
    border-radius: 15px;
    margin-right: 10px;
    background-color: white;
    color: #666 !important;
    font-size: 23px !important;
}

.accordionList.counsel_review .card-header button::before {
    background-image: none;
}

.accordionList.counsel_review .card-body::before {
    background-image: none;
}

#id_use_yn li {
    float: left;
    margin-right: 20px;
}

.figure.clear::after {
    background-color: unset;
}

.accordionList .accordion .counsel_review {
    margin-bottom: 0px;
}

/* datepicker 관련 css: s */
.datepicker table {
    width: 485px;
}

.datepicker table thead th {
    text-align: center;
    background-color: #f1f1f1;
}

.datepicker table tbody td {
    text-align: center;
}

.datepicker table tbody td:first-child {
    color: red;

}

.datepicker table tbody td.disabled {
    color: #ddd;
}

.ui-timepicker .ui-menu-item a {
    font-size: 18px;

}

/* datepicker 관련 css: e */




/* custom media area  --------------------------------------------- */
/* for pc */
@media (min-width: 1200px) {

    .btnArea button.gBorderBtn {
        display: none;
    }

    #ui-datepicker-div {
        width: 490px !important;
    }

    .swal2-title {
        font-size: 3.3rem !important;
    }

    .swal2-html-container {
        font-size: 2.7rem !important;
    }

    .swal2-confirm {
        font-size: 2rem !important;
        background-color: #2778c4 !important;
    }

    .swal2-deny {
        font-size: 2rem !important;
        background-color: red !important;
    }

    .swal2-cancel {
        font-size: 2rem !important;
        background-color: lightgray !important;
    }

    .popup {
        display: none;
        position: absolute;
        top: 50px;
        left: 50px;
        max-width: 400px;
        z-index: 10;
        max-width: 570px;
    }

    .subContent06 .item06 .img table tbody tr td span {
        font-size: 18.5px;
    }

    .mainBanner01 .left.container {
        /* max-width: 700px !important; */
        margin-left: 0;
    }

    .mainBanner01 .figure_inner p {
        line-height: 2.5;
        letter-spacing: -1.4px;
        font-size: 32px;
        font-weight: 300;
        color: #dedede;
    }

    .mainBanner01 .figure_inner .mainBannerWrap .right {
        margin-top: 210px;
        margin-left: auto;
        margin-right: 210px;
    }

    .custom_highlight {
        font-size: 20px;
        background-color: yellow;
    }

    .regular_payment_desc {
        font-size: 15px;
        line-height: 1.95;
        letter-spacing: -0.75px;
        color: #8e8e8e;
    }

    figure {
        margin-top: 120px;
    }

    .add_button {
        margin-top: 70px;
    }

    .find_consultant_span {
        font-size: 24px !important;
        color: #444;
    }

    .accordionList.counsel_review .card-header button {
        padding: 0 80px;
    }

    #id_use_yn label {
        font-weight: 400;
        font-size: 15px;
    }

    .card-body p {
        font-size: 18px;
        font-weight: 400;
        line-height: 2.03;
        letter-spacing: -0.9px;
        text-align: left;
        color: #878787;
        position: relative;
    }

    .subConsultiong02 .text li p span {
        font-size: 20px;
        font-weight: 700;
    }

    .qnaList .writeBtn button span {
        color: #555;
        font-size: 18px;
    }

    .accordionList .btn span {
        font-size: 20px;
    }

    .accordionList.counsel_review .card-body {
        padding: 5px 88px;
    }

    .onetime p, .onetime span {
        font-size: 22px !important; 
    }

}




/* for mobile */
@media screen and (max-width: 959px) {

    .qnaList .writeBtn button {
        height: 35px;
        padding: 5px 15px;
    }

    .btnArea button.gBorderBtn {
        margin: 0;
    }

    #ui-datepicker-div {
        width: 265px !important;
    }


    .swal2-title {
        font-size: 1.8rem !important;
    }

    .swal2-html-container {
        font-size: 1.3rem !important;
    }

    .swal2-confirm {
        font-size: 1rem !important;
        background-color: #2778c4 !important;
    }

    .swal2-deny {
        font-size: 1rem !important;
        background-color: red !important;
    }

    .swal2-cancel {
        font-size: 1rem !important;
        background-color: lightgray !important;
    }

    .popup_area {
        display: none;
        position: absolute;
        padding: 20px;
        top: 10px;
        left: 0px;
        z-index: 10;
    }

    section .tableBox table tbody td span.bold::after {
        content: " ";
        font-size: 23px;
        font-weight: 300;
        color: #4178dc;
    }

    section .tableBox table tbody td span.must::after {
        content: "*";
    }



    .subMypageItem .consultInfo input[type="radio"]+.btn {
        margin-right: 0;
        margin-bottom: 5px;
        min-width: 57px;
        font-size: 11px;
    }

    .mainBanner01 .figure_inner .mainBannerWrap {
        display: block;
    }

    .mainBanner01 .figure_inner .mainBannerWrap .left.mobile p {
        font-weight: 400;
        font-size: 12px;
        margin: 0 0 0;
        letter-spacing: -0.4px;
    }

    .mainBanner01 .figure_inner .mainBannerWrap .left p {
        font-size: 15px;
    }

    .mainBanner01 .figure_inner .mainBannerWrap .right {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .mainBanner01 .figure_inner p {
        font-size: 15px;
        font-weight: 300;
    }

    .mainBanner01 .figure_inner .mainBannerWrap .left {
        margin-bottom: -7px;
    }

    .custom_highlight {
        font-size: 13px;
        background-color: yellow;
    }

    .regular_payment_desc {
        font-size: 10px;
        line-height: 1.95;
        letter-spacing: -0.75px;
        color: #8e8e8e;
    }

    /* 모바일 화면에서 프로그램 안내 페이지 버튼 변경 */
    .yBtn.regular {
        width: 48%;
        float: left;
        display: flex;
        line-height: 0px;
    }

    .yBtn.regular .small {
        font-size: 12px;
    }

    .bBtn.onetime {
        width: 48%;
        float: right;
        display: flex;
        line-height: 0px;
    }

    .bBtn.onetime .small {
        font-size: 12px;
    }

    .main_addinfo_btn {
        vertical-align: middle;
        padding: 2px 10px 0PX 10PX;
        border-radius: 15px;
        margin-right: 10px;
        background-color: white;
        color: #666 !important;
        font-size: 12px !important;
    }

    .main_addinfo_btn2 {
        vertical-align: middle;
        padding: 2px 10px 0PX 10PX;
        border-radius: 15px;
        margin-right: 10px;
        background-color: white;
        color: #666 !important;
        font-size: 12px !important;
    }

    .container {
        padding: 0 10px;
    }

    .find_consultant_span {
        font-size: 10px !important;
        color: #444;
    }

    .content.subMypage {
        margin-top: 10px;
    }

    .accordionList.counsel_review .card-header button {
        padding: 0 10px;
    }


    #id_use_yn label {
        font-weight: 400;
        font-size: 10px;
    }

    .card-body p {
        font-size: 11px;
        font-weight: 300;
        line-height: 1.64;
        letter-spacing: -0.83px;
        margin: 0;
        color: #878787;
    }

    figure .figure_inner h1 {
        margin: 0px;
    }

    .small_text,
    .small_text span {
        font-size: 18px !important;
        line-height: 1.3 !important;

    }

    .subConsultiong02 .text li p span {
        font-size: 13px;
        font-weight: 700;
    }

    .accordionList button span {
        font-size: 12px;
    }

    .accordionList.counsel_review .card-body {
        padding: 0 18px;
    }

    .qnaList .writeBtn button {
        height: 20px;
        padding: 5px 10px 10px 10px;
    }

    .qnaList .writeBtn button span {
        color: #555;
        font-size: 12px;
    }

    .counsel_review .writeBtn button {
        height: 10px;
        padding: 5px 10px 15px 10px;
        margin-right: 10px;
        float: right;
    }

    .counsel_review .writeBtn button span {
        font-size: 12px;
    }

    .counsel_review p span {
        font-size: 11px;
        font-weight: 300;
    }

    .counsel_review .card-header h2 {
        width: 96%;
    }

    /* datepicker 관련 css: s */
    .datepicker table {
        width: 240px;
    }

    .datepicker table thead th {
        text-align: center;
        background-color: #f1f1f1;
    }

    .datepicker table tbody td {
        text-align: center;
    }

    .datepicker table tbody td:first-child {
        color: red;

    }

    .datepicker table tbody td.disabled {
        color: #ddd;
    }

    .ui-timepicker .ui-menu-item a {
        font-size: 13px;

    }

    /* datepicker 관련 css: e */

    .subMypageItem.content .content_inner {
        margin: 0 15px;
    }

    .onetime p, .onetime span {
        font-size: 15px !important;
    }

}