{% extends "sub_base.html" %}
{% load custom_tags %}
{% block script %}
<script>
    let is_paid = "{{ is_regular_paid }}";
    $(document).ready(function () {

    });

    function detail(id) {
        if (is_paid != 'True' || id == 0) {
            alert('정기상담 회원만 열람이 가능합니다.');
            /*
            Swal.fire({
                title: "정기상담 회원만 열람이 가능합니다.",
                text: "",
                icon: "warning",
                confirmButtonText: "확인",
            });
            */
            return;
        } else {
            document.location.href = "/news_detail/" + id + "/";
        }
    }
</script>
{% endblock %}
{% block contents %}

{% if user.is_authenticated and user.is_staff %}
<div class="row">
    <div class="nav justify-content-end">
        <a href="{% url 'news_new' %}"><button class="btn btn-primary" type="button" id="signin">글쓰기</button></a>
    </div>
</div>
<hr />
{% endif %}



<figure class="figure subExamInfo">
    <div class="banner subBanner04">
        <div class="figure_inner">
            <div class="container">
                <h1>
                    <span>더 좋은 과정</span>을 위해<br />
                    꼼꼼하게 엄선하였습니다.
                </h1>
                <div class="bannerLine"></div>
                <p>국내 유일 교육 주간지 내일교육에서 제공하는 입시자료</p>
            </div>
        </div>
    </div>
</figure>

<section class="content subMypage subCustomer">
    <div class="content_inner container">
        <ul class="tabMenu">
            <li><a href="{% url 'news_list' %}">월간 입시뉴스</a></li>
            <li class="on"><a href="#item01">컨설턴트 칼럼</a></li>
        </ul>
    </div>
</section>

<section class="content subExamInfo pc">
    <div class="content_inner container">
        <div class="row">
            
            <div class="consultTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">제목</th>
                            <th scope="col">날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- test:s -->
                        <!--
                        <tr>
                            <td><a href="javascript:detail(0);">내일에듀 웹진 32호</a></td>
                            <td>2021. 04. 21</td>
                        </tr>
                        -->
                        <!-- test:e -->
                        {% for news in page_list %}
                        <tr>
                            <!--<td><a href="/news_detail/{{ news.id }}">{{ news.title}}</a></td>-->
                            <td><a href="javascript:detial({{ news.id }});">{{ news.title}}</a></td>
                            <td>{{ news.regist_date }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2" style="text-align: center;">조회된 자료가 없습니다.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'common/pagination.html' with page_list=page_list %}
            </div>
        </div>
    </div>
</section>
<section class="content subExamInfo mobile">
    <div class="content_inner container">
        <div class="row">
            
            <div class="consultTable">
                <table class="table">
                    <tbody>
                        <!-- test:s -->
                        <!--
                        <tr>
                            <td>
                                <div class="iconBox">
                                    <a href="javascript:detail(0);">내일에듀 웹진 32호</a>
                                    <p class="date">2021. 04. 21</p>
                                </div>
                            </td>
                        </tr>
                        -->
                        <!-- test:e -->
                        {% for news in page_list %}
                        <tr>
                            <td>
                                <div class="iconBox">
                                    <a href="javascript:detail({{ news.id }});">{{ news.title}}</a>
                                    <p class="date">{{ news.regist_date }}</p>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td style="text-align: center;">
                                <div class="iconBox">
                                    조회된 자료가 없습니다.
                                </div>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                {% include 'common/pagination.html' with page_list=page_list %}
            </div>
        </div>
    </div>
</section>

{% endblock %}