{% extends "sub_base.html" %}
{% block script %}
<script>
  function save() {
    $.post("{% url 'counsel_review_form' counsel_review.id %}", $("#form").serializeArray(), function (data) {
      if (data.success) {
        alert('저장 되었습니다.');
        document.location.href = "{% url 'counsel_review_list' %}";

        /*
        Swal.fire({
          title: "",
          text: "저장 되었습니다.",
          icon: "success",
          confirmButtonText: "확인",
        }).then(function () {
          document.location.href = "{% url 'counsel_qna_list' %}";
        })
        */
      } else {
        console.log(data.message);
        alert('저장 되지 않았습니다.\n' + data.message);

        /*
        Swal.fire({
          title: "Error",
          text: data.message,
          icon: "error",
          confirmButtonText: "확인",
        });
        */
      }
    });
  }
</script>
{% endblock %}
{% load custom_tags %}
{% block contents %}

<section class="content subMypageItem" id="item01">
  <form id="form" method="post" class="post-form">
    {% csrf_token %}
    <input type="hidden" id="parent_id" name="parent_id" value="0" />
    <div class="content_inner container">
      <div class="row">
        <div class="tit">
          <h1>상담 후기 등록</h1>
          <div class="titLine"></div>
        </div>
        <div class="tableBox personalInfo">
          <table>
            <tbody>
              <!-- 제목 -->
              <tr>
                <th class="bold must" style="width: 20%">제목</th>
                <td style="text-align: left">
                  {{ form.title }}
                </td>
              </tr>
              <!-- 내용 -->
              <tr>
                <th class="bold must" style="width: 20%">내용</th>
                <td style="text-align: left">
                  <div style="margin: 19px 0;">
                    <!--

                    <textarea name="content" class="form-control" placeholder="질문을 등록하세요."
                      style="height: 300px; border: 1px solid white;"></textarea>
                    -->
                    {{ form.content }}
                  </div>
                </td>
              </tr>

              <tr>
                <th class="bold must" style="width: 20%">사용여부</th>
                <td style="text-align: left">
                  <div style="margin: 19px 0;">
                    {{ form.use_yn }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- 상담신청 완료시 '상담 신청이 완료 모달창'으로 대체 -->
        <div class="btnArea">
          <button type="button" class="yBtn" onclick="save();">
            <span>등록</span>
          </button>
          <button type="button" class="gBtn" onclick="goList();">
            <span>목록으로</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
{% endblock %}