{% extends "sub_base.html" %}
{% load custom_tags %}
{% block script %}
<script>
    function counsel_review_new() {
        let is_paid = $("#is_paid").val();

        if (is_paid == "False"){
            alert("이용회원만 등록이 가능합니다.");
            return;
        }
        document.location.href = "{% url 'counsel_review_new' %}";
    }
</script>
{% endblock %}
{% block contents %}
<figure class="figure subExamInfo clear">
    <div class="banner subBanner07">
        <div class="figure_inner">
            <div class="container">
                <p>박샘의 상담, 무엇이 다를까요? </p>
                <div class="bannerLine"></div>
                <h1>
                    회원 여러분들의<br /> <span>솔직한 이야기</span>를<br class="mobile" /> 들어 보세요
                </h1>
            </div>
        </div>
    </div>
</figure>

<section class="content subMypage subCustomer">
    <div class="content_inner container">
        <div class="tit">
            <h1>상담 후기</h1>
            <div class="titLine"></div>
        </div>
    </div>
</section>

<section class="content accordionList counsel_review qnaList subContent06" id="item02"
    style="margin-bottom: 50px; padding: 0; background-color: white;">
    <div class="content_inner container">
        <div class="row">
            <div class="accordion consultTable counsel_review" id="accordionExample" style="margin-bottom: 0px;">

                {% for counsel_review in page_list %}
                <div class="card">
                    <div class="card-header" id="heading{{ forloop.counter }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                                aria-controls="collapse1">
                                <span style="float: left; width: 70%; padding: 0 7px;">{{ counsel_review.title }}</span>
                                <span
                                    style="float: left; width: 10%; text-align: center;">{{ counsel_review.userid|default_if_none:"" }}</span>
                                <span
                                    style="float: left; width: 15%; text-align: right;">{{ counsel_review.regist_date|date:"Y.m.d" }}</span>
                            </button>

                        </h2>
                    </div>

                    <div id="collapse{{ forloop.counter }}" class="collapse"
                        aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
                        <div class="card-body">
                            {{ counsel_review.content|safe }}
                            {% if counsel_review.regist_id == request.user.id %}
                            <a href="{% url 'counsel_review_form' counsel_review.id %}">
                                <button style="margin-top: 15px; margin-bottom: 5px; margin-left: 5px;">
                                    <span
                                        style="border: 1px solid lightgray; border-radius: 7px; padding: 2px 10px;">수정</span>
                                </button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="card">
                    <div class="card-header" id="heading1">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1"
                                aria-expanded="false" aria-controls="collapse1">
                                등록된 상담 후기가 없습니다.
                            </button>
                        </h2>
                    </div>
                </div>
                {% endfor %}

                <div class="btnArea writeBtn" style="margin-top: 20px;">
                    <button onclick="counsel_review_new();" style="">
                        <span>글쓰기</span></button>
                </div>

                <input type="hidden" id="is_paid" value="{{ is_paid }}" />

                {% include 'common/pagination.html' with page_list=page_list %}
            </div>
        </div>

        <div class="btnArea">
            <!--
            <a href="{% url 'program_index' %}">''
                <button class="yBtn regular">
                    <b><span>현재 중3~고2라면</span></b>
                    <span class="small">정기상담 알아보기&nbsp;></span>
                </button>
            </a>
            -->
            <a href="{% url 'program_index' %}">
                <button class="bBtn regular">
                    <span>정기상담 알아보기</span>
                    <!--
                    <span class="small">1회상담 알아보기&nbsp;></span>
                    -->
                </button>
            </a>
        </div>

    </div>

</section>
{% endblock %}