{% extends "sub_base.html" %} {% block script %}
<script>
    $(document).ready(function () {
        // 모바일 버전 박샘 소식 210426
        var newsListWrap = $(".newsList table tr td .iconBox");
        var newsAnswerWrap = $(".newsList table tr td .ansDesWrap");
        $(newsListWrap).click(function () {
            $(this).siblings(".ansDesWrap").toggle();
        });
    });
</script>
{% endblock %}
{% load custom_tags %}
{% block contents %}
<section class="content subMypageItem qnaListContent newsListContent pc" id="">
    <div class="content_inner container">
        <div class="row">
            <div class="qnaTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="qnaTit">{{ news.title }}</th>
                            <th class="qnaDate">{{ news.regist_date|date:"Y.m.d" }}</th>
                            <!--<th class="qnaDate">{{ form.regist_date.value|date:"Y.m.d" }}</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <p class="ansDes">
                                    {{ news.content | safe }}
                                </p>

                                {% if files %}
                                <div class="filelist">
                                    <ul>
                                        {% for file in files %}
                                        <li>
                                            {{ file.real_name|default_if_none:"" }}
                                            <a href="{% url 'file_download' file.id %}" target="hidden_target"><button
                                                    type="button" class="pc">다운로드</button></a>
                                            <a href="{% url 'file_download' file.id %}" target="hidden_target"><button
                                                    type="button" class="mobile"></button></a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btnArea">
                    <button class="gBtn" onclick="goList();">
                        <span>이전으로</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}