{% extends "sub_base.html" %}
{% load custom_tags %}
{% block script %}
<script>
    $(document).ready(function () {
        let id = '{{ id }}';

        if (id) {
            $("#news" + id).next().show();
        }

        // 모바일 버전 박샘 소식 210426
        var newsListWrap = $(".newsList table tr td .iconBox");
        var newsAnswerWrap = $(".newsList table tr td .ansDesWrap");
        $(newsListWrap).click(function () {
            $(this).siblings(".ansDesWrap").toggle();
        });
    });
</script>
{% endblock %}
{% block contents %}
<figure class="figure subExamInfo">
    <div class="banner subBanner04">
        <div class="figure_inner">
            <div class="container">
                <h1>
                    <span>더 좋은 과정</span>을 위해<br />
                    꼼꼼하게 엄선하였습니다.
                </h1>
                <div class="bannerLine"></div>
                <p>국내 유일 교육 주간지 내일교육에서 제공하는 입시자료</p>
            </div>
        </div>
    </div>
</figure>

<section class="content subMypage subCustomer">
    <div class="content_inner container">
        <div class="tit">
            <h1>월간 입시뉴스</h1>
            <div class="titLine"></div>
        </div>
    </div>
</section>

<section class="content newsList pc" id="item01">
    <div class="content_inner container">
        <div class="row">
            <div class="consultTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">제목</th>
                            <th scope="col">날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for news in page_list %}
                        <tr>
                            <td><a href="/news_detail/{{ news.id }}">{{ news.title}}</a></td>
                            <td>{{ news.regist_date|date:"Y.m.d" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'common/pagination.html' with page_list=page_list %}
            </div>
        </div>
    </div>
</section>
<section class="content newsList mobile" id="item01">
    <div class="content_inner container">
        <div class="row">
            <div class="consultTable">
                <table class="table">
                    <tbody>
                        {% for news in page_list %}
                        <tr>
                            <td>
                                <div class="iconBox" id="news{{news.id}}">
                                    {{ news.title}}
                                    <p class="date">{{ news.regist_date|date:"Y.m.d"}}</p>
                                </div>
                                <div class="ansDesWrap">
                                    {{ news.content|safe }}

                                    {% if news.files %}
                                    <div class="filelist">
                                        <ul>
                                            {% for file in news.files %}
                                            <li>
                                                {{ file.real_name|default_if_none:"" }}
                                                <a href="{% url 'file_download' file.id %}"
                                                    target="hidden_target"><button type="button"
                                                        class="mobile"></button></a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>


                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                {% include 'common/pagination.html' with page_list=page_list %}

            </div>
        </div>
    </div>
</section>
{% endblock %}