{% load staticfiles %}

<footer class="footer">
  <div class="footer_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 tit">
          <h1 class="pc"><img src="{% static 'img/img_logo_g.png' %}" alt="logo" /></h1>
          <h1 class="mobile"></h1>
        </div>

        <!-- left -->
        <div class="col-lg-5 info">
          <h4>고객센터</h4>
          <ul>
            <li class="pc">
              <span>전화문의 :</span> 02-2287-2386
            </li>
            <li class="mobile">
              <span>전화문의 :</span> <a href="tel:02-2287-2386" style="color: #636363; display: inline;">02-2287-2386</a>
            </li>
            <li>
              <span>이메일문의 :</span> help@parksam.co.kr
            </li>
            <li>
              <span>운영 시간 :</span> 평일 09:30~17:30 (점심시간 12:00~13:00, 주말/공휴일 제외)
            </li>
            <li>
              <span>제휴 문의 :</span> kjlee@parksam.co.kr
            </li>
          </ul>
        </div>

        <!-- right -->
        <div class="col-lg-4 info">
          <h4>주식회사 에듀내일컨설팅</h4>
          <ul>
            <li>
              <span>서울시 종로구 새문안로 3길 3 내일신문 지하 1층</span>
            </li>
            <li>
              <span>대표자 :</span> 이기정
            </li>
            <li>
              <span>사업자등록번호 :</span> 809-81-02118
            </li>
            <li>
              <span>통신판매번호 :</span> 제 2021-서울종로-0659 호
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 tit">
        </div>
        <div class="col-lg-9 info">
          <p>
            <a href="{% url 'terms' %}"><span>이용약관</span></a> ㅣ
            <a href="{% url 'privacy' %}"><span>개인정보처리방침</span></a>
            Copyright © 2021 Edunaeil Consulting co.,ltd All Rights
            Reserved.
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>