{% load staticfiles %}
<script>
    function send_mail_test() {
        $.post("{% url 'send_mail_test' %}", "", function (data) {
            alert(data.message)

        });
    }

    $(document).ready(function () {
        $(window).scroll(function () {
            var scrollTop = $(document).scrollTop();

            // 헤더의 "정기상담 신청 버튼 숨기기"
            if (scrollTop > 300) {
                $("#pc_phone").fadeIn(500);
            } else {
                $("#pc_phone").fadeOut(200);

            }
        });
    });
</script>
<style>
    .btn-grad {
        background-image: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%)
    }

    .btn-grad {
        margin: 10px;
        padding: 7px 20px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        min-width: 130px;
    }

    .btn-grad:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
</style>
<div class="util pc" style="position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; background-color: white;">
    <div class="container">
        <ul>
            <!-- 버튼 비활성화시 디자인 유지를 위한 버튼 객체 -->
            <li><button type="button" class="btn-grad"
                    style="background-color: white !important; background-image: none; width: 0px; cursor: auto;">&nbsp;</button>
            </li>
            <li>
                <a href="https://forms.gle/a5Rc4rx2sGpz2yEa7" target="_blank">
                    <button type="button" class="btn-grad counsel_request_btn">
                        사전상담 신청
                    </button>
                </a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="icon login">({{ user.username }}) 로그아웃</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="icon login">로그인</a></li>
            <li><a href="{% url 'signup' %}" class="icon signup">ㅣ 회원가입</a></li>
            {% endif%}
        </ul>
    </div>
</div>

<div id="pc_phone" class="pc" style="
        position: fixed; 
        width: 130px; 
        z-index: 2; 
        right: 0; 
        bottom: 0; 
        text-align: 
        center; display: none;">
    <div style="color: white;">
        <div style="background-color: #000;
            font-size: 16px; 
            padding: 8px;">
            <i class="fas fa-phone-volume" style="font-size: 16px;"></i>&nbsp;전화문의
        </div>

        <div style=" background-color: gray;
            padding-top: 5px;
            border-top: 1px solid white;
            font-size: 16px;
            padding: 8px;">02-2287-2386
        </div>
    </div>
</div>