{% extends "main_base.html" %}
{% load staticfiles %}
{% load custom_tags %}
{% block script %}
<script src="https://mattstow.com/experiment/responsive-image-maps/jquery.rwdImageMaps.min.js"></script>

<script>
    let cookiedata = document.cookie;

    $(document).ready(function () {
        //$('img[usemap]').rwdImageMaps();
        //$("#img").width("100%");

        // 쿠키확인 후 팝업 표시
        /*
        console.log($.cookie('popup'));
        console.log($.cookie('popup') == undefined);
        if ($.cookie('popup') == undefined) {
            $("#popup_1").show();
        }
        */

        main_slide();
    });

    function main_slide() {
        $('#myCarousel').carousel({
            // 슬리아딩 자동 순환 지연 시간
            // false면 자동 순환하지 않는다.
            interval: 5000,
            // hover를 설정하면 마우스를 가져대면 자동 순환이 멈춘다.
            //pause: "hover", // not working
            pauseOnHover: true,
            // 순환 설정, true면 1 -> 2가면 다시 1로 돌아가서 반복
            wrap: true,
            // 키보드 이벤트 설정 여부(?)
            keyboard: true
        });
    }

    function close_pop_day(id, hidden_day) {
        $("#" + id).css("display", "none");
        console.log('hidden_day:' + hidden_day);
        if (hidden_day == 1) {
            if ($.cookie('popup') == undefined) {
                //쿠키가 없는 경우 testCookie 쿠키를 추가
                $.cookie('popup', 'Y', {
                    expires: 1,
                    path: '/'
                });
                /**
                    설명 :
                    임의로 testCookie라는 이름에 Y라는 값을 넣어주었고,
                    expires값으로 1을 주어 1일 후 쿠키가 삭제되도록 하였다.
                    path값을 '/'로 주면 해당사이트 모든페이지에서 유효한 쿠키를 생성한다.
                    특정페이지에서만 작동하려면 페이지 경로를 작성하면 된다.
                **/
            }
        }
    }

    function close_pop() {
        $(".popup_area").hide();
    }

    function goNoticeDetail(id) {
        console.log("goNoticeDetail:");
        // 모바일 디자인은 박샘 소식 상세화면이 별도로 없으므로
        // 현재 화면 크기 확인 후 pc 와 mobile 의 동작을 구분
        let w = $(document).width();

        if (w < 960) {
            // mobile
            document.location.href = '/notice_list/?id=' + id;
        } else {
            // pc
            document.location.href = '/notice_detail/' + id + '/';
        }
    }

    function view_detail() {

        const loc = window.location;
        const path_label = location.pathname;
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'view_detail',
            view_detail: {
                action_field: {
                    affiliation: 'Park Sam',
                    path_label,
                },
            },
        });
        document.location.href = "/program";
    }

    function view_service() {
        // 서비스 둘러보기(팝업) 버튼 클릭
        const loc = window.location;
        const path_label = location.pathname;
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'view_service_popup',
            view_service_popup: {
                action_field: {
                    affiliation: 'Park Sam',
                    path_label,
                },
            },
        });
        document.location.href = "{% url 'program_index' %}";
    }

    function benefit() {
        // 혜택받기(팝업) 버튼 클릭
        const loc = window.location;
        const path_label = location.pathname;
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'benefit_popup',
            benefit_popup: {
                action_field: {
                    affiliation: 'Park Sam',
                    path_label,
                },
            },
        });
        document.location.href = "{% url 'member_counseltant' %}";
    }
</script>
{% endblock %}
{% block contents %}
<figure class="figure main" id="headerNext">
    <div id="myCarousel" class="carousel slide">
        <!--<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="9000">-->
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active">
                    <div class="banner mainBanner mainBanner01">
                        <div class="figure_inner">
                            <div class="container mainBannerWrap">

                                <div class="left container">
                                    <h1>
                                        <span>정기상담,</span>&nbsp;
                                        <span class="yellow dot">수</span>
                                        <span class="yellow dot">시</span>
                                        <span class="yellow dot">전</span>
                                        <span class="yellow dot">형</span>
                                        <span>의&nbsp; 완성</span><br />
                                    </h1>

                                    <h1 class="small_text">
                                        올바른 방향설정과 유지를 위한 공교육 출신 <br class="mobile" />전문가의 1:1 코칭!
                                    </h1>
                                    {% comment %}
                                    국내최초 &nbsp;
                                    <span class="white dot">정</span>
                                    <span class="white dot">기</span>
                                    <span class="white dot">구</span>
                                    <span class="white dot">독</span>
                                    <span class="white dot">형</span>&nbsp;&nbsp;대입컨설팅
                                    {% endcomment %}

                                    <div class="bannerLine"></div>
                                    <p>학교 밖 담임선생님, <span>박샘</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{% url 'program_index' %}"
                                            style="max-width: 300px !important; display: inline; vertical-align: middle;">
                                            <span class="main_addinfo_btn2">자세히 보기</span>
                                        </a>
                                    </p>
                                </div>
                                <!--
                            <div class="right pc">
                                <p>
                                    ‘입시전략’
                                    <br />
                                    ‘진로탐색’
                                    <br />
                                    ‘수시지원’
                                </p>
                            </div>
                            
                            <div class="right mobile">
                                <p>
                                    ‘입시전략‘&ensp;‘진로탐색‘&ensp;‘수시지원’
                                </p>
                            </div>
                            -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item ">
                    <div class="banner mainBanner mainBanner02">
                        <div class="figure_inner">
                            <div class="container mainBannerWrap">
                                <div class="left pc">
                                    <p>
                                        ‘내가 만난 교사’
                                        <br />
                                        ‘내가 사는 지역’
                                        <br />
                                        ‘내가 가진 지갑’
                                    </p>
                                </div>
                                <div class="left mobile">
                                    <p>
                                        ‘내가 만난 교사‘&ensp;‘내가 사는 지역‘&ensp;‘내가 가진 지갑’
                                    </p>
                                </div>
                                <div class="right">
                                    <h1>
                                        내가 아닌, 나의 환경으로 인해<br />
                                        <span class="">손해보지 않도록</span>
                                    </h1>
                                    <div class="bannerLine"></div>
                                    <p>학교 밖 담임선생님, <span>박샘</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</figure>

<!-- 팝업: s -->
<div class="popup" id="popup_1" style="display: none;">
    <div>
        <img id="img" src="{% static 'images/pop4.jpg' %}" usemap="#map01" />
        <map name="map01" id="map01">
            <!-- 자세히 보기 -->
            <area shape="rect" coords="92, 288, 208, 312" href="javascript:view_service();" target="_self" alt="">

            <!-- 오늘 하루 열지 않기 -->
            <area shape="rect" coords="21,326,116, 340" href="javascript:close_pop_day('popup_1', 1);" target="_self">

            <!-- 닫기 -->
            <area shape="rect" coords="230, 325, 282, 340" href="javascript:close_pop_day('popup_1', 0);"
                target="_self">
        </map>


    </div>
</div>
<!-- 팝업: e -->

<section class="content main mainContent02">
    <div class="content_inner container">
        <div class="row">
            <div class="tit">
                <h1>
                    복잡한 수시전형을 <br class="mobile" />
                    <span>정기상담으로 대비</span>하세요
                </h1>
                <div class="titLine"></div>
            </div>
            <div class="item item02"></div>
        </div>
    </div>
</section>
<section class="content main mainContent05">
    <div class="content_inner container">
        <div class="row">
            <div class="item item05">
                <div class="img"></div>
                <div class="text">
                    <h3><span>수시에 강한 공교육 출신 입시전문가</span>의 맞춤형 지도</h3>
                    <div class="titLine"></div>
                    <ul>
                        <li>
                            <p>
                                재학생에겐 <span class="highlight">수시전형이 플랜 A </span>&nbsp;<br class="mobile" />(수시모집 재학생
                                합격비율 89% vs 정시모집 N수생 합격비율 65%)
                            </p>
                        </li>
                        <li>
                            <p>
                                수시전략과 대응,
                                <span class="highlight">사교육보다 강한 학교</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                검증된 정보와 축적된 데이터에 따른
                                <span class="highlight">정확한 입시전략을 제시</span>합니다.
                            </p>
                        </li>
                    </ul>

                    <div style="text-align: right; padding: 0 10px;">
                        <a href="/consultant/">
                            <!--<span style="font-size: 12px; color: #888; font-weight: 400;">컨설턴트 찾아보기 ></span>-->
                            <h2 style="text-align: right; padding: 0 10px;">
                                <span class="find_consultant_span"
                                    style="background: radial-gradient(yellow, #eeeeee 85%);">컨설턴트 찾아보기 ></span></h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content main mainContent03">
    <div class="content_inner container">
        <div class="row">
            <div class="item item03"></div>
            <div class="btnArea pc">
                <a href="javascript:return false;"><button class="yBtn" onclick="view_detail();">자세히 알아보기</button></a>
            </div>
            <div class="btnArea mobile" style="padding: 0 17px;">
                <a href="javascript:return false;">
                    <button class="yBtn" style="font-size: 17px; height: 40px; padding: 5px; width: 100%;"
                        onclick="view_detail();">자세히 알아보기</button></a>
            </div>
        </div>
    </div>
</section>
<section class="content main mainContent01">
    <div class="content_inner container">
        <div class="row">
            <div class="textGroup">
                <p class="highlight">‘내가 만난 <span>교사</span>’</p>
                <p class="highlight">‘내가 사는 <span>지역</span>’</p>
                <p class="highlight">‘내가 가진 <span>지갑</span>’</p>
            </div>
            <div class="mainline"></div>
            <p>내가 아닌, 나의 환경으로 인해 손해보지 않도록</p>
            <p class="bold">
                학교 밖 담임 선생님,
                <span class="highlight" style="margin: 0">박샘</span>이 함께 합니다.
            </p>
            <div class="mission">
                <p>Our Mission</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}