{% load staticfiles %}
<style>
    .btn-grad {
        background-image: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%)
    }

    .btn-grad {
        font-size: 16px;
        margin: 10px;
        padding: 4px 20px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        min-width: 130px;
    }

    .btn-grad:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
</style>

<header class="header pc" id="headerFix"
    style="position: fixed; top: 51px; left: 0; width: 100%; z-index: 2; border-bottom: 1px solid #ccc;">
    <div class="header_inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 logo">
                    <a href="/"><img src="{% static 'img/img_logo.png' %}" alt="logo" /></a>
                </div>
                <div class="col-md-9 gnb">
                    <ul>
                        <li><a href="{% url 'program_index' %}">정기상담 서비스</a></li>
                        <li><a href="{% url 'consultant_index' %}">컨설턴트</a></li>
                        <li><a href="{% url 'counsel_review_list' %}">상담후기</a></li>
                        {% if request.user.is_staff %}
                        {% endif %}
                        <!--
                        <li><a href="{% url 'news_list' %}">입시정보</a></li>
                        -->
                        <li><a href="{% url 'faq_list' %}">고객센터</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'counsel_request' %}">마이페이지</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<header class="header mobile">
    <div class="header_inner" style="border-bottom: 1px solid #ccc;">
        <div class="row dfCenter">
            <div class="col-2 menu">
                <a href="#"></a>
            </div>
            <div class="col-6 logo">
                <a href="/"></a>
            </div>
            <div class="col-4" style="text-align: right;">
                <a href="https://forms.gle/a5Rc4rx2sGpz2yEa7" target="_blank">
                    <button type="button">
                        <span class="counsel_request_btn" style="
                            background-image: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%);
                            margin-right: 30px; 
                            padding: 7px 15px; 
                            border-radius: 5px; 
                            font-size: 15px; 
                            color: white;">
                            사전상담 신청
                        </span>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <!-- 고정 전화상담 아이콘 -->
    <div class="fix_phone" style="position: fixed; top: 85%; right: 20px; z-index: 2;">
        <a href="tel:02-2287-2386"><img src="{% static 'images/phone2.png'%}" alt="전화상담" title="전화상담"
                style="width: 40px;" /></a>
    </div>
</header>

<!-- 모바일메뉴 모달창 : s -->
<div class="modal mobileGnb">
    <div class="modal_inner">
        <div class="top">


            {% if user.is_authenticated %}
            <p>
                <a href="#" class="icon"><span class="logIn">{{ user.username }}</span>님</a> ㅣ
                <a href="{% url 'logout' %}"><span>로그아웃 </span></a>
            </p>

            {% else %}

            <p>
                <a href="{% url 'login' %}"><span>로그인 </span></a> ㅣ
                <a href="{% url 'signup' %}"><span>회원가입 </span></a>
            </p>

            {% endif%}

            <button class="closeBtn"></button>
        </div>
        <div class="gnb">
            <ul>
                <li><a href="{% url 'program_index' %}">정기상담 서비스</a></li>
                <li><a href="{% url 'consultant_index' %}">컨설턴트</a></li>
                <li><a href="{% url 'counsel_review_list' %}">상담후기</a></li>
                {% if request.user.is_staff %}
                {% endif %}

                <li><a href="{% url 'faq_list' %}">고객센터</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'counsel_request' %}">마이페이지</a></li>
                {% endif %}

            </ul>

            <a href="/member_counseltant/"><button type="button" class="btn-grad counsel_request_btn">정기상담 신청</button></a>
            <a href="/non_member_counseltant/"><button type="button" class="btn-grad counsel_request_btn">비회원 1회상담</button></a>
        </div>
    </div>
</div>
<!-- 모바일메뉴 모달창 : e -->