{% extends "sub_base.html" %}
{% load custom_tags %}
{% block script %}
<script>
    $(window).scroll(function () {
        var scrollTop = $(document).scrollTop();
        var innerHeight = $(this).innerHeight();

        let target_top = $("#regular_button").offset().top;

        // console.log(scrollTop, innerHeight, (scrollTop + innerHeight), target_top);

        // 헤더의 "정기상담 신청 버튼 숨기기"
        if ((scrollTop + innerHeight) > target_top) {
            $(".counsel_request_btn").hide();
        } else {
            $(".counsel_request_btn").show();
        }



    });

    function view_lite() {
        const loc = window.location;
        const path_label = location.pathname;
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'begin_subscription',
            begin_subscription: {
                action_field: {
                    affiliation: 'Park Sam',
                    path_label,
                },
            },
        });
        document.location.href = "{% url 'member_counseltant_lite' %}";
    }

    function view_regular() {
        // 정기상담 시작하기 버튼 클릭
        const loc = window.location;
        const path_label = location.pathname;
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'begin_subscription',
            begin_subscription: {
                action_field: {
                    affiliation: 'Park Sam',
                    path_label,
                },
            },
        });
        document.location.href = "{% url 'member_counseltant' %}";
    }

    function view_onetime() {

    }
</script>
{% endblock %}
{% block contents %}
<figure class="figure">
    <div class="banner subBanner01">
        <div class="figure_inner">
            <div class="container">
                <p>시시각각 바뀌는 입시. 넘치는 정보.</p>
                <div class="bannerLine"></div>
                <h1>
                    <span>올바른 정보와 주기적인 상담</span>으로<br/>
                    대입을 완성하세요.
                </h1>
            </div>
        </div>
    </div>
</figure>
<section class="content subContent01">
    <div class="content_inner container">
        <div class="row">
            <div class="tit">
                <h1><span>정기상담</span> 서비스 소개</h1>
                <div class="titLine"></div>
            </div>
            <div class="item item01"></div>
        </div>
    </div>
</section>
<section class="content subContent02">
    <div class="content_inner container">
        <div class="row">
            <div class="tit">
                <h1>
                    주기적인 상담을 통한<br />
                    <span>체계적인 진학관리</span>
                </h1>
                <div class="titLine"></div>
            </div>
            <div class="item item02"></div>
        </div>
    </div>
</section>
<section class="midBar">
    <div class="content_inner container">
        <div class="row">
            <h2>
                <span>개별 상황에 맞춘 상담일정</span>이 적용되며<br class="mobile" />
                사전상담을 통해 <span>적합한 컨설턴트를 추천</span>해 드립니다.
            </h2>
        </div>
    </div>
</section>
<section class="content subContent04">
    <div class="content_inner container">
        <div class="row">
            <div class="tit">
                <span class="label">프로그램 이용 예시</span>
                <h1>
                    <span>고2 </span> 
                    학생이 연간 <span>학기 초부터 시작</span>한 경우
                </h1>
            </div>
            <div class="item item04"></div>
        </div>
    </div>
</section>
<section class="content subContent05">
    <div class="content_inner container">
        <div class="row">
            <div class="tit">
                <h1>올바른 정보까지 쌓이면 <span><br class="mobile" />더욱 좋은 선택이 가능합니다.</span></h1>
                <div class="titLine"></div>
            </div>
            <div class="item item05">
                <div class="img"></div>
                <div class="text">
                    <ul>
                        <li>
                            <p>
                                <span>월 1회 입시뉴스 : </span><br class="mobile" />
                                흐름을 보고 통찰을 제공하는 내일교육의 기사
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>월 1회 학부모강좌 : </span><br class="mobile" />
                                남보다 한발 빠른 새롭고 참신한 주제
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>연 2회 수시합격생 간담회 : </span><br class="mobile" />
                                제대로 준비해 합격한 선배들의 노하우
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content subContent06">
    <div class="content_inner container">
        <div class="row" id="program_info">
            <div class="tit">
                <!-- <img src="./img/img_logo_g.png" alt="logo"> -->
                <h1>박샘 정기상담 서비스</h1>
                <div class="titLine"></div>
            </div>
            <div class="item item06">
                <div class="img">
                    <!-- /* 프로그램 한 눈에 보기 table 추가 210426 */ -->

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" style="color: #494949;">구분</th>
                                <th scope="col" class="member">라이트</th>
                                <th scope="col" class="noMember">스탠다드</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th colspan="2">신청대상</th>
                                <td colspan="2">중3~고2</td>
                            </tr>
                            <tr>
                                <th colspan="2">금액 (부가세 포함)</th>
                                <td>월 33,000원</td>
                                <td>월 49,500원</td>
                            </tr>
                            <tr>
                                <th rowspan="5" class="lineHeight-13">제공 내역</th>
                                <th>1:1 컨설팅</th>
                                <td style="line-height: 1;">
                                    연 2회<br />
                                    <span>(총 100분)</span>
                                </td>
                                <td style="line-height: 1;">
                                    연 4회<br />
                                    <span>(총 200분)</span>
                                </td>
                            </tr>
                            <tr>
                                <th>입시뉴스</th>
                                <td>O</td>
                                <td>O</td>
                            </tr>
                            <tr>

                                <th>수시합격생 간담회</th>
                                <td>-</td>
                                <td>O</td>
                            </tr>
                            <tr>
                                <th>학부모 강좌</th>
                                <td>O</td>
                                <td>O</td>
                            </tr>
                            <tr>
                                <th>컨설턴트와의 질의응답</th>
                                <td>-</td>
                                <td>O</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="btnArea">
                <a href="#" onclick="return false;">
                    <button class="yBtn" onclick="view_lite();">
                        <b><span>라이트 시작하기</span></b>
                    </button>
                </a>
                <a href="#" onclick="return false;">
                    <button class="bBtn" id="regular_button" onclick="view_regular();">
                        <span>스탠다드 시작하기</span>
                    </button>
                </a>
            </div>

            <div class="row">
                <div class="tit onetime">
                    <a href="/non_member_counseltant/"><p><span>비회원 1회상담</span></p></a>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}