{% extends "sub_base.html" %}
{% block title %}정기상담{% endblock %}
{% block script %}
<style>
    .counsel_request_btn {
        display: none !important;
    }
</style>
<script>
    function go_next_page() {
        // 정기상담 결제하기 버튼 클릭
        const loc = window.location;
        const path_label = location.pathname;
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'pay_subscription',
            pay_subscription: {
                action_field: {
                    affiliation: 'Park Sam',
                    path_label,
                },
            },
        });


        let is_checked = $("#pay").is(":checked");

        if (is_checked) {
            document.location.href = "{% url 'lite_payment' %}";
        } else {
            /*
            Swal.fire({
                title: "",
                text: "정기 결제에 동의 하여야 합니다.",
                icon: "warning",
                confirmButtonText: "확인",
            });
            */
            alert('정기 결제에 동의 하여야 합니다.');
        }
    }
</script>
{% endblock %}
{% load custom_tags %}
{% block contents %}

<section class="content subConsultiong01">
    <div class="content_inner container">
        <div class="row">
            <div class="tit">
                <span class="icon"></span>
                <h1>정기상담 라이트</h1>
                <div class="titLine"></div>
            </div>
        </div>
    </div>
</section>
<section class="content subConsultiong02">
    <div class="content_inner container">
        <div class="row">
            <div class="item item02">
                <div class="text">
                    <ul>
                        <li>
                            <p class="tit">가입 대상</p>
                            <p class="des">
                                중3~고2 10월
                            </p>
                        </li>
                        <li>
                            <p class="tit">프로그램 구성</p>
                            <p class="des">
                                1:1 컨설팅 연 2회 (총 100분)
                            </p>
                            <p class="des">입시 뉴스 월 1회</p>
                            <p class="des">학부모 강좌 월 1회</p>
                        </li>
                        <li>
                            <p class="tit">이용료</p>
                            <p class="des">
                                월 33,000원 (부가세 포함) &nbsp;
                                <!--<span class="custom_highlight">첫 달 무료</span>-->
                            </p>
                        </li>
                        <li>
                            <p class="tit">유의사항</p>
                            <p class="des">
                                1:1 컨설팅 및 학부모 강좌는 <span>실시간 비대면</span>으로 운영 됩니다. (Zoom 활용)
                            </p>
                            <p class="des">
                                입시뉴스는 <span>매월 둘째 주 회원가입 이메일 주소로 발송</span>되며 학부모 강좌는 <span>매월 넷째 주 목요일 진행</span> 됩니다.  
                            </p>
                            <p class="des">
                                상담신청은 결제 후 <span>마이페이지 -> 상담신청 메뉴를 이용</span>해주세요. (상담가능시간: 월~일 10:00~22:00)
                            </p>
                            <p class="des">
                                사전상담을 통해 <span>적합한 컨설턴트를 추천</span>해 드리며 <span>중도에 변경 또한 가능</span>합니다. 
                            </p>
                            <p class="des">
                                상담 1주일 전까지 <span>학생부/성적표 등 서류등록 필요</span>하며 상담 후 3일 내 <span>상담내역이 제공</span> 됩니다. (마이페이지 내)
                            </p>
                        </li>
                        <li>
                            <p class="tit">취소, 환불 및 기타</p>
                            <p class="des">취소는 마이페이지의 ‘나의 이용정보’ 메뉴 혹은 고객센터를 통해 언제든 가능합니다.</p>
                            <p class="des">선택한 과정의 변경은 1년 단위로 가능하며 컨설팅 등 서비스를 이용한 경우 환불은 어렵습니다.</p>
                            <p class="des">추가상담은 연 최대 2회 신청 가능하며 50분 주문형 주제로 진행됩니다 (회당 135,000원)</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="btnArea">
                <button class="bBtn" onclick="go_next_page()">
                    <span>정기상담 결제하기</span>
                </button>


            </div>
            <div class="form-check radioCustom">
                <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="pay" />
                <label class="form-check-label inputRadio" for="pay">
                    <span>주문 내용을 확인하였으며 정기 결제에 동의합니다.</span>
                </label>
            </div>
        </div>
    </div>
</section>

{% endblock %}