{% extends "sub_base.html" %}
{% block title %}1회상담{% endblock %}
{% block script %}
<style>
    .counsel_request_btn {
        display: none !important;
    }
</style>
<script>
    function go_next_page() {
        let is_checked = $("#pay").is(":checked");

        if (is_checked) {
            document.location.href = "{% url 'onetime_payment' %}";
        } else {

            alert('1회상담 결제에 동의 하여야 합니다.');

            /*
            Swal.fire({
                title: "",
                text: "1회상담 결제에 동의 하여야 합니다.",
                icon: "warning",
                confirmButtonText: "확인",
            });
            */
        }
    }
</script>
{% endblock %}
{% load custom_tags %}
{% block contents %}

<!--
<figure class="figure">
    <div class="banner subBanner01">
        <div class="figure_inner" style="top: 45%;">
            <div class="container">
                <p>학교 밖 담임선생님, <span>박샘</span></p>
                <div class="bannerLine"></div>
                <h1>
                    <span>과정</span>을 만들면,<br />
                    합격을 위한 길이 완성됩니다.
                </h1>
            </div>
        </div>
    </div>
</figure>
-->

<section class="content subConsultiong01 consultNoMember">
    <div class="content_inner container">
        <div class="row">
            <div class="tit">
                <span class="icon"></span>
                <h1>1회상담</h1>
                <div class="titLine"></div>
            </div>
        </div>
    </div>
</section>
<section class="content subConsultiong02 consultNoMember">
    <div class="content_inner container">
        <div class="row">
            <div class="item item02">
                <div class="text">
                    <ul>
                        <li>
                            <p class="tit">대상</p>
                            <p class="des">중3~고3, 졸업생 및 기타</p>
                        </li>
                        <li>
                            <p class="tit">비용</p>
                            <p class="des">유료 (자세한 내용은 고객센터로 문의해 주세요)</p>
                        </li>

                        <li>
                            <p class="tit">상담 가능 시기</p>
                            <p class="des">상시 (월요일~일요일, 10:00~22:00)</p>
                        </li>
                        <li>
                            <p class="tit">상담 영역</p>
                            <p class="des">
                                입시전략, 학생부 관리 & 수시원서접수 등 개인맞춤형 주제
                            </p>
                        </li>
                        <li>
                            <p class="tit">유의사항</p>
                            <p class="des">
                                상담은 실시간 비 대면으로 진행됩니다. (Zoom 활용)
                            </p>
                            <p class="des">
                                상담 신청은 결제 후 <span>마이페이지 -> 상담신청 메뉴를 이용</span>해 주세요.
                            </p>
                            <p class="des">
                                사전상담을 통해 <span>적합한 컨설턴트를 추천</span>해 드립니다. 
                            </p>
                            <p class="des">
                                상담 1주일 전 <span>학생부 등 서류등록 필수</span>이며, 상담 후 3일 내 <span>상담결과 리포트가 제공</span> 됩니다. (마이페이지 내)
                            </p>
                            <p class="des">정시배치 상담은 현재 제공하지 않습니다.</p>
                        </li>
                        <li>
                            <p class="tit">환불 및 기타</p>
                            <p class="des">
                                컨설팅 서비스 진행 전 환불은 100% 가능하나, 진행 후에는
                                환불이 불가능 합니다.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="btnArea">
                <button class="bBtn" onclick="go_next_page()">
                    <span>1회상담 결제하기</span>
                </button>
            </div>
            <div class="form-check radioCustom">
                <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="pay" />
                <label class="form-check-label inputRadio" for="pay">
                    <span>주문 내용을 확인하였으며 1회상담 결제에 동의합니다.</span>
                </label>
            </div>
        </div>
    </div>
</section>

{% endblock %}