{% extends "sub_base.html" %}
{% block title %}1회상담{% endblock %}
{% block script %}
<style>
    .counsel_request_btn {
        display: none !important;
    }
</style>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
    $(document).ready(function () {
        setToday();

        $("input[name='agreement0']:visible").click(function () {
            $("input[name^='agreement']:visible").prop("checked", $(this).is(":checked"));
        });
    });

    function setToday() {
        var date = new Date();
        var year = date.getFullYear();
        var month = ("0" + (1 + date.getMonth())).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);

        $("#today").text(year + ". " + month + ". " + day);
    }

    function getMerchantUid() {
        var date = new Date();
        var year = date.getFullYear();
        var month = ("0" + (1 + date.getMonth())).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hour = ("0" + date.getHours()).slice(-2);
        var minute = ("0" + date.getMinutes()).slice(-2);
        var second = ("0" + date.getSeconds()).slice(-2);

        console.log(year + month + day + hour + minute + second);
        return year + month + day + hour + minute + second;

    }

    function scrollDisable() {
        // 크롬에서 작동하지 않는 이슈가 있음..
        /*
        $("body").on('scroll touchmove mousewheel', function (event) {
            event.preventDefault();
            event.stopPropagation();
            return false;
        });
        */
    }

    function scrollEnable() {
        /*
        $("body").off("scroll touchmove mousewheel");
        */
    }



    var IMP = window.IMP;
    IMP.init("imp57439105");

    function onetime_pay(cost) {
        /*
        let check1 = $("input[name='agreement1']:visible").is(":checked");
        let check2 = $("input[name='agreement2']:visible").is(":checked");

        let text = "";

        if (!check1) {
            text += "개인정보 이용 및 수집 동의";
        } else if (!check2) {
            text += "결제 대행 서비스 약관 동의";
        }

        if (!check1 || !check2) {
            alert('약관에 동의 하여야 합니다.\n' + text);
            return;
        }
        */
        // scrollDisable();

        // 1회결제를 진행
        // 결제 진행시 백그라운드 비활성화 및 고정 필요



        let pay_name = "비회원결제";

        $.post("{% url 'get_info_for_billing' %}", {
            'parksam': 'v2'
        }, function (data) {

            console.log(data);

            let mercant_uid = getMerchantUid();
            let customer_uid = "onetime_{{ request.user.username }}{{ request.user.id }}";

            console.log('mercant_uid:' + mercant_uid);
            console.log('customer_uid:' + customer_uid);

            IMP.request_pay({
                    pg: "danal",
                    pay_method: "card", // "card"만 지원됩니다
                    merchant_uid: mercant_uid, // 빌링키 발급용 주문번호
                    name: pay_name,
                    amount: cost,
                    buyer_email: data.email,
                    buyer_name: data.name,
                    buyer_tel: data.phone,
                    buyer_addr: data.address,
                    buyer_postcode: data.postcode,
                    m_redirect_url: "https://www.parksam.co.kr/payments/complete",
                },
                function (rsp) {
                    if (rsp.success) {

                        console.log(rsp);
                        $.post("{% url 'save_billing_result' %}", {
                                amount: cost
                            },
                            function () {
                                var msg = '결제가 완료되었습니다.';
                                /*
                                msg += '고유ID : ' + rsp.imp_uid;
                                msg += '상점 거래ID : ' + rsp.merchant_uid;
                                msg += '결제 금액 : ' + rsp.paid_amount;
                                msg += '카드 승인번호 : ' + rsp.apply_num;
                                
                                alert(msg);
                                document.location.href = '/counsel_request/';
                                return;
                                /*
                                Swal.fire({
                                    title: "결제가 완료 되었습니다.",
                                    text: "결제금액:" + data.message
                                        .response.amount + data.message
                                        .response.currency + "\n결제상품:" +
                                        data
                                        .message.response
                                        .name,
                                    icon: "success",
                                    confirmButtonText: "확인",
                                }).then(function () {
                                    document.location.href = '/';
                                });
                                */
                            });

                    } else {
                        var msg = "결제에 실패하였습니다.";
                        var text = rsp.error_msg;
                    }


                }
            );

        });


    }
</script>
{% endblock %}
{% load custom_tags %}
{% block contents %}

<!--
<figure class="figure">
    <div class="banner subBanner01">
        <div class="figure_inner" style="top: 45%;">
            <div class="container">
                <p>학교 밖 담임선생님, <span>박샘</span></p>
                <div class="bannerLine"></div>
                <h1>
                    <span>과정</span>을 만들면,<br />
                    합격을 위한 길이 완성됩니다.
                </h1>
            </div>
        </div>
    </div>
</figure>
-->

<!-- section.member (회원 ,정기상담) 일 경우, 가격,버튼 색상 yBtn -->
<!-- section.noMember (비회원) 일 경우, 가격,버튼 색상 bBtn -->
<section class="content subPay noMember">
    <div class="content_inner container">
        <div class="row">
            <div class="item item01">
                <table>
                    <thead class="pc">
                        <tr>
                            <th colspan="2">결제 정보</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="bold">신청 프로그램</th>
                            <td>1회상담</td>
                        </tr>
                        <tr>
                            <th class="bold">신청일</th>
                            <td>{{ today }}</td>
                        </tr>
                        <tr>
                            <th class="bold">총 주문금액</th>
                            <td><span class="price">200,000</span>원</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--
            <div class="item item02">
                <table>
                    <thead class="pc">
                        <tr>
                            <th colspan="2">결제 카드사</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="bold">카드사</th>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>카드사 선택</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="bold">결제 방식</th>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>일시불</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            -->
            <!--
            <div class="item item03 pc">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">약관 동의</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="bold">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="agreement0" id="flexRadio1" />
                                    <label class="form-check-label" for="flexRadio1">
                                        전체 약관 동의
                                    </label>
                                </div>
                            </th>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="bold">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="agreement1" id="flexRadio2" />
                                    <label class="form-check-label" for="flexRadio2">
                                        개인정보 이용 및 수집 동의 (필수)
                                    </label>
                                </div>
                            </th>
                            <td><button type="button">자세히</button></td>
                        </tr>
                        <tr>
                            <th class="bold">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="agreement2" id="flexRadio3" />
                                    <label class="form-check-label" for="flexRadio3">
                                        결제 대행 서비스 약관 동의 (필수)
                                    </label>
                                </div>
                            </th>
                            <td><button type="button">자세히</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="item item03 mobile">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">약관 동의</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="bold">
                                <div class="form-check radioCustom">
                                    <input class="form-check-input" type="checkbox" name="agreement0" id="flexRadio4" />
                                    <label class="form-check-label" for="flexRadio4"> </label>
                                    <span>서비스 이용약관 전체 동의 </span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="bold">
                                <div class="form-check radioCustom">
                                    <input class="form-check-input" type="checkbox" name="agreement1" id="flexRadio5" />
                                    <label class="form-check-label" for="flexRadio5"> </label>
                                    <span>개인정보 이용 및 수집 동의 (필수)</span>
                                    <button type="button"></button>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="bold">
                                <div class="form-check radioCustom">
                                    <input class="form-check-input" type="checkbox" name="agreement2" id="flexRadio6" />
                                    <label class="form-check-label" for="flexRadio6"> </label>
                                    <span>결제 대행 서비스 약관 동의 (필수)</span>
                                    <button type="button"></button>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            -->
            <br/>
            <br/>
            <br/>
            <div class="btnArea">
                <button class="yBtn" onclick="onetime_pay(200000);">결제</button>
                <button class="bBtn" onclick="onetime_pay(200000);">결제</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}