
{% extends "sub_base.html" %}
{% load humanize %}
{% block title %}정기상담{% endblock %}
{% block script %}
<style>
    .counsel_request_btn {
        display: none !important;
    }
</style>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>
    $(document).ready(function () {
        console.log("is_paid = {{ is_paid }}");
        $("input[name='agreement0']:visible").click(function () {
            $("input[name^='agreement']:visible").prop("checked", $(this).is(":checked"));
        });
    });

    function getMerchantUid() {
        var date = new Date();
        var year = date.getFullYear();
        var month = ("0" + (1 + date.getMonth())).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        var hour = ("0" + date.getHours()).slice(-2);
        var minute = ("0" + date.getMinutes()).slice(-2);
        var second = ("0" + date.getSeconds()).slice(-2);

        console.log(year + month + day + hour + minute + second);
        return year + month + day + hour + minute + second;

    }

    function scrollDisable() {
        // 크롬에서 작동하지 않는 이슈가 있음..
        /*
        $("body").on('scroll touchmove mousewheel', function (event) {
            event.preventDefault();
            event.stopPropagation();
            return false;
        });
        */
    }

    function scrollEnable() {
        /*
        $("body").off("scroll touchmove mousewheel");
        */
    }

    var IMP = window.IMP;
    IMP.init("imp57439105");


    function test_regular_pay(cost) {
        console.log('test_regular_pay called');

        $.ajax({
            url: "{% url 'test_billings' %}", // 서비스 웹서버
            type: "POST",
            data: {
                "customer_uid": 'regular_redukyo2', // 카드(빌링키)와 1:1로 대응하는 값
                "cost": cost
            },
            dataType: 'json',
            success: function (data) {
                console.log(
                    'billings result data ------------------------------ s');
                console.log(data);
                console.log(
                    'billings result data ------------------------------ e');

                let code = data.message.code;

                if (code == 0) {
                    // 결제 내역을 저장
                    $.post("{% url 'save_billing_result' %}", data.message
                        .response,
                        function () {
                            alert('결제가 완료 되었습니다.\n결제금액: ' + data.message
                                .response.amount + "\n결제상품: " + data
                                .message.response.name);

                            document.location.href = '/';
                            /*
                            Swal.fire({
                                title: "결제가 완료 되었습니다.",
                                text: "결제금액:" + data.message
                                    .response.amount + data.message
                                    .response.currency + "\n결제상품:" +
                                    data
                                    .message.response
                                    .name,
                                icon: "success",
                                confirmButtonText: "확인",
                            }).then(function () {
                                document.location.href = '/';
                            });
                            */
                        });

                } else {
                    alert('결제가 되지 않았습니다.\n' + data.message.message);

                    /*
                    Swal.fire({
                        title: "결제가 되지 않았습니다.",
                        text: data.message.message,
                        icon: "error",
                        confirmButtonText: "확인",
                    })
                    */

                }
            },
            error: function () {
                console.log('error');
            },
            complete: function () {
                console.log('complete');

            }
        });
    }


    function regular_pay(cost) {
        //정기상담100원 결제하기 버튼 클릭 
        const loc = window.location;
        const path_label = location.pathname;
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'pay_100_subscription',
            pay_100_subscription: {
                action_field: {
                    affiliation: 'Park Sam',
                    path_label,
                },
            },
        });

        console.log('regular_pay called');

        /*
        let check1 = $("input[name='agreement1']:visible").is(":checked");
        let check2 = $("input[name='agreement2']:visible").is(":checked");
        let text = "";

        if (!check1) {
            text += "개인정보 이용 및 수집 동의";
        } else if (!check2) {
            text += "결제 대행 서비스 약관 동의";
        }

        if (!check1 || !check2) {
            alert('약관에 동의 하여야 합니다.\n' + text);
            return;
        }
        */

        scrollDisable();

        // 회원정보 조회 후 결제 진행
        $.post("{% url 'get_info_for_billing' %}", {
            'parksam': 'v1'
        }, function (data) {
            let mercant_uid = getMerchantUid();

            // 아래의 값으로 정기결제를 시도하므로 절대 변경 금지
            let customer_uid = "regular_{{ request.user.username }}{{ request.user.id }}";

            // 회원정보를 조회하는 로직 추가

            IMP.request_pay({ // param
                pg: "danal",
                pay_method: "card", // "card"만 지원됩니다
                merchant_uid: mercant_uid, // 빌링키 발급용 주문번호
                customer_uid: customer_uid, // 카드(빌링키)와 1:1로 대응하는 값
                name: "정기상담",
                amount: 0, // 0 으로 설정하여 빌링키 발급만 진행합니다.
                buyer_email: data.email,
                buyer_name: data.name,
                buyer_tel: data.phone,
                buyer_addr: data.address,
                buyer_postcode: data.postcode,
                m_redirect_url: "https://www.parksam.co.kr/payments/complete",
            }, function (rsp) { // callback
                console.log('rsp.success!');
                console.log(rsp.success);

                if (rsp.success) {
                    // 빌링키 발급 성공
                    $.ajax({
                        url: "{% url 'billings' %}", // 서비스 웹서버
                        type: "POST",
                        data: {
                            "customer_uid": customer_uid, // 카드(빌링키)와 1:1로 대응하는 값
                            "cost": cost
                        },
                        dataType: 'json',
                        success: function (data) {
                            console.log(
                                'billings result data ------------------------------ s');
                            console.log(data);
                            console.log(
                                'billings result data ------------------------------ e');

                            let code = data.message.code;

                            if (code == 0) {
                                // 결제 내역을 저장
                                $.post("{% url 'save_billing_result' %}", data.message
                                    .response,
                                    function () {
                                        alert('결제가 완료 되었습니다.\n결제금액: ' + data.message
                                            .response.amount + "\n결제상품: " + data
                                            .message.response.name);

                                        document.location.href = '/counsel_request/';
                                        /*
                                        Swal.fire({
                                            title: "결제가 완료 되었습니다.",
                                            text: "결제금액:" + data.message
                                                .response.amount + data.message
                                                .response.currency + "\n결제상품:" +
                                                data
                                                .message.response
                                                .name,
                                            icon: "success",
                                            confirmButtonText: "확인",
                                        }).then(function () {
                                            document.location.href = '/';
                                        });
                                        */
                                    });

                            } else {
                                alert('결제가 되지 않았습니다.\n' + data.message.message);

                                /*
                                Swal.fire({
                                    title: "결제가 되지 않았습니다.",
                                    text: data.message.message,
                                    icon: "error",
                                    confirmButtonText: "확인",
                                })
                                */

                            }
                        },
                        error: function () {
                            console.log('error');
                        },
                        complete: function () {
                            console.log('complete');

                        }
                    });

                } else {
                    // 빌링키 발급 실패˝Î
                    console.log(rsp.error_msg);
                    alert('결제가 되지 않았습니다.\n다시 시도해 주시길 바랍니다.');

                    /*
                    Swal.fire({
                        title: "결제가 되지 않았습니다.",
                        text: "다시 시도해 주시길 바랍니다.",
                        icon: "error",
                        confirmButtonText: "확인",
                    })
                    */
                    scrollEnable();
                }
            });
        });
    }
</script>
{% endblock %}
{% load custom_tags %}
{% block contents %}

<!--
<figure class="figure">
    <div class="banner subBanner01">
        <div class="figure_inner" style="top: 45%;">
            <div class="container">
                <p>학교 밖 담임선생님, <span>박샘</span></p>
                <div class="bannerLine"></div>
                <h1>
                    <span>과정</span>을 만들면,<br />
                    합격을 위한 길이 완성됩니다.
                </h1>
            </div>
        </div>
    </div>
</figure>
-->
<!-- section.member (회원 ,정기상담) 일 경우, 가격,버튼 색상 yBtn -->
<!-- section.noMember (비회원) 일 경우, 가격,버튼 색상 bBtn -->
<section class="content subPay noMember">
    <div class="content_inner container">
        <div class="row">
            <div class="item item01">
                <table>
                    <thead class="pc">
                        <tr>
                            <th colspan="2">결제 정보</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="bold">신청 프로그램</th>
                            <td>정기상담 스탠다드</td>
                        </tr>
                        <tr>
                            <th class="bold">신청일</th>
                            <td>{{ today }}</td>
                        </tr>
                        <tr>
                            <th class="bold">총 주문금액</th>
                            <td>
                                <span class="price">{{ cost|intcomma }}</span>원·월
                                <br />
                                <!--<span class="custom_highlight">첫 달 무료</span>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--
            <div class="item item02">
                <table>
                    <thead class="pc">
                        <tr>
                            <th colspan="2">결제 카드사</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="bold">카드사</th>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>카드사 선택</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="bold">결제 방식</th>
                            <td>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>일시불</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            -->

            <!--
            <div class="item item03 pc">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">약관 동의</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="bold">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="agreement0" id="flexRadio1" />
                                    <label class="form-check-label" for="flexRadio1">
                                        전체 약관 동의
                                    </label>
                                </div>
                            </th>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="bold">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="agreement1" id="flexRadio2" />
                                    <label class="form-check-label" for="flexRadio2">
                                        개인정보 이용 및 수집 동의 (필수)
                                    </label>
                                </div>
                            </th>
                            <td><a href="{% url 'privacy' %}" target="_blank"><button type="button">자세히</button></a>
                            </td>
                        </tr>
                        <tr>
                            <th class="bold">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="agreement2" id="flexRadio3" />
                                    <label class="form-check-label" for="flexRadio3">
                                        결제 대행 서비스 약관 동의 (필수)
                                    </label>
                                </div>
                            </th>
                            <td><a href="javascript:return false;"><button type="button">자세히</button></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="item item03 mobile">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">약관 동의</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="bold">
                                <div class="form-check radioCustom">
                                    <input class="form-check-input" type="checkbox" name="agreement0" id="flexRadio4" />
                                    <label class="form-check-label" for="flexRadio4"> </label>
                                    <span>서비스 이용약관 전체 동의 </span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="bold">
                                <div class="form-check radioCustom">
                                    <input class="form-check-input" type="checkbox" name="agreement1" id="flexRadio5" />
                                    <label class="form-check-label" for="flexRadio5"> </label>
                                    <span>개인정보 이용 및 수집 동의 (필수)</span>
                                    <button type="button"></button>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="bold">
                                <div class="form-check radioCustom">
                                    <input class="form-check-input" type="checkbox" name="agreement2" id="flexRadio6" />
                                    <label class="form-check-label" for="flexRadio6"> </label>
                                    <span>결제 대행 서비스 약관 동의 (필수)</span>
                                    <button type="button"></button>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            -->
            <br/>
            <br/>
            <br/>
            <div class="btnArea">
                <!--
                <button class="bBtn" onclick="test_regular_pay(100);"><span>test</span>결제하기</button>
                -->
                <button class="yBtn" onclick="regular_pay({{ cost }});">결제</button>
                <button class="bBtn" onclick="regular_pay({{ cost }});">결제</button>


            </div>
            
            <div style="margin-top: 5px;">
                <span class="regular_payment_desc">
                    카드사 정책에 따라 100원이 함께 결제되며 몇 분 후 자동취소 됩니다
                </span>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}