{% extends "sub_base.html" %} {% block script %}
<script>
    $(document).ready(function () {
        
    });

    
</script>

{% endblock %} {% load custom_tags %} {% block contents %} 
<h2>teacher index</h2>

{% for row in rows %}
    {{ row.title }}[{{ row.answer_cnt }}]
{% endfor %}
{% endblock %}
