{% extends "sub_base.html" %}
{% load staticfiles %}
{% block script %}
<!-- /* ----------------서류 등록 방법을 보시려면 클릭하세요--------210426 */ -->
<script>
    $(document).ready(function () {
        var uplaodHowBtn = $(".uplaodHowBtn");
        var upLoadHowModal = $(".upLoadHowModal");
        var closeBtn = $(".upLoadHowModal .closeBtn");

        $(uplaodHowBtn).click(function () {
            $(upLoadHowModal).addClass("on");
        });

        $(closeBtn).click(function () {
            $(upLoadHowModal).removeClass("on");
        });

        /*
        $(".dropDownArea.mobile").click(function(){
            $(".upLoadHow.mobile").toggle();
        });
        */
        $(".dropDownArea.mobile.type1").click(function(){
            $("#help3").toggle();
            $("#help4").hide();
        });
        $(".dropDownArea.mobile.type2").click(function(){
            $("#help3").hide();
            $("#help4").toggle();
        });
    });
</script>
<!-- /* ----------------서류 등록 방법을 보시려면 클릭하세요--------210426 */ -->

<script>
    let file_index = 0;
    var dz;

    $(document).ready(function () {
        set_dropzone();

    });

    function set_dropzone() {

        Dropzone.autoDiscover = false;
        Dropzone.prototype.defaultOptions.dictDefaultMessage = "업로드 하고싶은 파일을 드랍하거나 클릭하여 등록하세요.";
        Dropzone.prototype.defaultOptions.dictFallbackMessage = "브라우저가 파일 업로드를 지원하지 않습니다.";
        Dropzone.prototype.defaultOptions.dictFallbackText =
            "Please use the fallback form below to upload your files like in the olden days.";
        Dropzone.prototype.defaultOptions.dictFileTooBig =
            "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.";
        Dropzone.prototype.defaultOptions.dictInvalidFileType = "해당 형식의 파일은 업로드 할 수 없습니다.";
        Dropzone.prototype.defaultOptions.dictResponseError = "Server responded with {{statusCode}} code.";
        Dropzone.prototype.defaultOptions.dictCancelUpload = "업로드 취소";
        Dropzone.prototype.defaultOptions.dictUploadCanceled = "업로드 취소 완료";
        Dropzone.prototype.defaultOptions.dictCancelUploadConfirmation = "Are you sure you want to cancel this upload?";
        Dropzone.prototype.defaultOptions.dictRemoveFile =
            "<button type='button' class='btn btn-warning btn-sm'>삭제</button>";
        Dropzone.prototype.defaultOptions.dictMaxFilesExceeded = "You can not upload any more files.";

        $("#dropzone").dropzone({
            url: "/common/file_upload/",
            uploadMultiple: false,
            paramName: "files",
            parallelUploads: 100,
            // thumbnailWidth: 70,
            // thumbnailHeight: 70,
            addRemoveLinks: true,
            autoProcessQueue: false,
            dictRemoveFileConfirmation: '삭제하시겠습니까?',
            headers: {
                'X-CSRF-Token': $.cookie('csrftoken'),
                csrfmiddlewaretoken: $.cookie('csrftoken')
            },
            init: function () {
                dz = this;
                files = '{{ files|safe }}';

                if (files) {
                    console.debug('files -> ', files);

                    files = JSON.parse(files);

                    for (f in files) {
                        
                        // console.debug(files[f]);
                        file = files[f];
                        console.log(file);

                        $("#file_list").append("<li id='uploaded" + file.id + "'>" + file.real_name +
                            "<button type='button' class='deleteBtn' onclick='remove_file(\"" + file.real_name + "\")' data-dz-remove></button></li>");
                        file_index++;

                        file.name = file.real_name;
                        file.size = file.real_size;

                        this.files.push(file);

                        console.log('file.save_name: ' + file.save_name);

                        this.emit("addedfile", file);
                        switch (file.ext) {
                            case "jpeg":
                            case "jpg":
                            case "gif":
                            case "png":
                                this.emit("thumbnail", file, '/media/' + file.save_name);
                                break;
                            case "csv":
                            case "xls":
                            case "xlsx":
                            default:
                                console.log('thumbnail : default');
                                this.emit("thumbnail", file, "{% static 'images/file.png' %}");
                                break;

                        }
                        //this.emit("complete", file);

                        jQuery('<input/>', {
                            type: 'hidden',
                            name: 'files',
                            value: file.id,
                            id: file.id
                        }).appendTo('#form');
                    }
                }

                this.on("sending", function (file, xhr, formData) {
                    formData.append("path", 'counsel_file');
                });

                this.on('success', function (file, json) {

                    var result = JSON.parse(json);
                    // 업로드된 정보를 form 에 추가
                    jQuery('<input/>', {
                        type: 'hidden',
                        name: 'files',
                        value: result.id,
                        'data-uuid': file.upload.uuid
                    }).appendTo('#form');
                });

                this.on("addedfile", function (file) {
                    let cnt = $(".dz-image img[alt='" + file.name + "']").size();

                    if(cnt > 0){
                        alert('동일한 파일명이 있으므로 추가할 수 없습니다.');
                        this.removeFile(file);
                        return;
                    }
                    console.log(file);
                    //console.log("addedfile");
                    //console.log(file.upload.uuid);
                    $("#file_list").append("<li id='" + file.upload.uuid + "'>" + file.name +
                        "<button type='button' class='deleteBtn' onclick='remove_file(\"" + file.name + "\")' data-dz-remove></button></li>");
                    file_index++;

                    /*
                    $("#file_list").append("<li>" + file.name +
                      "<button type='button' class='deleteBtn' onclick='remove_file(" + file_index +
                      ")' data-dz-remove></button></li>");
                    file_index++;
                    */
                });

                this.on('removedfile', function (file) {
                    if (file.id) {
                        $("#uploaded" + file.id).remove();
                        $.post(
                            '/counsel_file_delete/', {
                                file_id: file.id
                            },
                            function (data) {
                                console.log(data);

                                if (data.success) {
                                    $("#" + file.id).remove();
                                } else {
                                    console.debug('file delete error');
                                }
                            }
                        )
                    } else {
                        $("#" + file.upload.uuid).remove();
                    }
                });

                this.on("queuecomplete", function (file) {
                    $.post("{% url 'counsel_file' %}", $("#form").serializeArray(), function (
                        data) {
                        alert("서류가 등록 되었습니다.");

                    });
                    console.log("queuecomplete");
                    $("#form").submit();

                });
            }
        });
    }

    function click_file_upload() {
        $("#dropzone").click();
    }

    function file_upload() {
        $("#form").removeAttr("onsubmit");
        dz.processQueue();
    }

    function upload_file() {
        $("#file_form").submit();
    }

    function remove_file(file_name) {
        console.log('remove_file > ' + file_name);
        $(".dz-image img[alt='" + file_name + "']").parents(".dz-preview").find("button").click()
        //$(".dz-remove:eq(" + index + ") button").trigger("click");
    }

    function showDownloadInfo() {
        $(".upLoadHow.pc").toggle();
    }

    function showhelp1(){
        $("#helpdiv").show();
        $("#help1").show();
        $("#help2").hide();
    }

    function showhelp2(){
        $("#helpdiv").show();
        $("#help2").show();
        $("#help1").hide();
    }

    function hidehelp(){
        $("#helpdiv").hide();
    }
</script>

{% endblock %}
{% load custom_tags %}
{% block contents %}

<section class="content subMypage flexCenter">
    <div class="content_inner container">
        <ul class="tabMenu">
            <li><a href="{% url 'counsel_request' %}">상담신청 </a></li>
            <li class="on"><a href="#item02">상담 서류등록 </a></li>
            <li><a href="{% url 'counsel_list' %}">상담내역 </a></li>
            <li>
                <a href="{% url 'counsel_qna_list' %}"><span class="mobile">선생님과의</span>질의응답
                </a>
            </li>
            <li><a href="{% url 'counsel_info' %}">나의 이용정보 </a></li>
        </ul>
    </div>
</section>

<!-- -------------------------------------------상담 서류등록---------------------------- : s -->
<section class="content subMypageItem" id="item02">
    <div class="content_inner container">
        <div class="row">
            <!--
      <div class="tit">
        <h1>상담 서류등록</h1>
        <div class="titLine"></div>
      </div>
      -->
            <div class="uploadBox">
                <p>
                    필수 등록 서류 : 학교 생활기록부 / 최근 모의고사 성적표
                    <button type="button" class="uplaodHowBtn pc">
                        <span style="top: -10px;" onclick="showhelp1();">* 학생부 PDF 파일로 올리기 <b>클릭</b></span>
                        <span style="top: 20px;" onclick="showhelp2();">* 스마트폰으로 서류 스캔 및 출력하기 <b>클릭</b></span>
                    </button>
                    <div id="helpdiv" style="display: none; position: absolute; width: 100%; text-align: center;">
                        <img id="help1" src="{% static 'images/showhelp1.png' %}" style="border: 1px solid gray; display: none;"/>
                        <img id="help2" src="{% static 'images/showhelp2.png' %}" style="border: 1px solid gray; display: none;"/>
                        <i class="far fa-times-circle" style="vertical-align: top; font-size: 30px;" onclick="hidehelp();"></i>
                    </div>
                </p>
                <div class="dropDownArea mobile type1">
                    <p>학생부 PDF 파일로 올리기</p>
                    <img id="help3" src="{% static 'images/showhelp3.png' %}" style="border: 1px solid gray; display: none; width: 100%;"/>
                </div>
                <div class="dropDownArea mobile type2">
                    <p>스마트폰으로 서류 스캔 및 출력하기</p>
                    <img id="help4" src="{% static 'images/showhelp4.png' %}" style="border: 1px solid gray; display: none; width: 100%;"/>
                </div>

                <div class="upLoadHow pc"
                    style="display: none; position: absolute; background: white; border: lightpink; padding: 20px; font-size: 20px !important; right: 200px; border-radius: 15px; box-shadow: 3px 3px 5px 5px lightgrey; width: 32%; min-width: 450px;">
                    <div class="upLoadHow_inner">
                        <div class="appArea">
                            <a href="https://play.google.com/store/apps/details?id=com.google.ar.lens&hl=ko&gl=US"
                                target="_blank">
                                <button type="button" class="downLoadBtn">
                                    <img src="{% static 'img/img_officeAPP_download.png' %}" />
                                </button>
                            </a>
                            <hr />
                            <p class="advice aos">구글플레이 - Office Lense 검색 후 설치
                            </p>
                            <p class="advice ios">앱스토어 - Office Lense 검색 후 설치</p>
                        </div>
                        <ul>
                            <li>학생부를 촬영하여 갤러리 혹은 PDF저장을 선택합니다.</li>
                            <li>
                                표시되는 빨간 선 내에 페이지 전체가 잡히도록 설정하여
                                촬영하세요.
                            </li>
                            <li>
                                학생부의 모든 페이지를 촬영 후 이미지 혹은 PDF로 저장하세요.
                            </li>
                            <li>
                                Office Lense는 Microsoft가 개발한 신뢰할 수 있는
                                어플리케이션 입니다.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="upLoadHow mobile" style="display: none;">
                    <div class="upLoadHow_inner">
                        <div class="appArea">
                            <a href="https://play.google.com/store/apps/details?id=com.google.ar.lens&hl=ko&gl=US"
                                target="_blank"><button type="button" class="downLoadBtn"></button></a>
                            <p class="advice aos">구글플레이 - Office Lense 검색 후 설치
                            </p>
                            <p class="advice ios">앱스토어 - Office Lense 검색 후 설치</p>
                        </div>
                        <ul>
                            <li>학생부를 촬영하여 갤러리 혹은 PDF저장을 선택합니다.</li>
                            <li>
                                표시되는 빨간 선 내에 페이지 전체가 잡히도록 설정하여
                                촬영하세요.
                            </li>
                            <li>
                                학생부의 모든 페이지를 촬영 후 이미지 혹은 PDF로 저장하세요.
                            </li>
                            <li>
                                Office Lense는 Microsoft가 개발한 신뢰할 수 있는
                                어플리케이션 입니다.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="uploadBox_inner">
                    <!-- /* 파일업로드 커스텀 */ -->
                    <div class="filebox pc">
                        <label for="dropzone" class="form-label" onclick="click_file_upload();">파일 업로드</label>
                    </div>

                    <div class="filelist">
                        <ul id="file_list"></ul>
                        <div class="dropzone" id="dropzone" style="display: none;"></div>
                    </div>
                </div>
            </div>
            <div class="btnArea">
                <button class="gBorderBtn m-13 mobile" onclick="click_file_upload();">
                    <span>파일 업로드 </span>
                </button>
                <button class="yBtn" onclick="file_upload();">
                    <span>서류 제출</span>
                </button>
            </div>
        </div>
    </div>
    <form id="form" name="form" method="post" action="{% url 'counsel_file' %}" target="hidden_target"
        onsubmit="return false;">
        {% csrf_token %}
    </form>
</section>
<!-- -------------------------------------------상담 서류등록---------------------------- : e -->

{% endblock %}