{% extends "sub_base.html" %}
{% block script %}
<script>
  $(document).ready(function () {

  });

  function upload_file() {
    $("#file_form").submit();
  }

  function cancel_billing(billing_type, id) {
    let item_name = "";

    if (billing_type == "regular") {
      item_name = "정기결제";
    } else {
      item_name = "1회상담";
    }

    // 이용 취소 확인후 진행
    if (confirm(item_name + "를 취소 하시겠습니까?\n진행된 내용이 있을경우 환불 금액은 없습니다.")) {
      $.post("{% url 'billing_cancel' %}", {
        'id': id
      }, function (data) {
        console.log(data);
        alert('취소 되었습니다.');
        document.location.reload();
      });

    }
    /*
    Swal.fire({
      title: item_name + "를\n 취소 하시겠습니까?",
      text: "진행된 내용이 있을경우 환불 금액은 없습니다.",
      icon: "warning",
      confirmButtonText: "확인",
      showCancelButton: true,
      cancelButtonText: "취소",
    }).then(function (result) {
      if (result.isConfirmed) {
        $.post("{% url 'billing_cancel' %}", {
          'id': id
        }, function (data) {
          console.log(data);

        });
      }
    });
    */

  }
</script>

{% endblock %}
{% load custom_tags %}
{% block contents %}

<section class="content subMypage flexCenter">
  <div class="content_inner container">
    <ul class="tabMenu">
      <li><a href="{% url 'counsel_request' %}">상담신청 </a></li>
      <li><a href="{% url 'counsel_file' %}">상담 서류등록 </a></li>
      <li><a href="{% url 'counsel_list' %}">상담내역 </a></li>
      <li>
        <a href="{% url 'counsel_qna_list' %}"><span class="mobile">선생님과의</span>질의응답
        </a>
      </li>
      <li class="on"><a href="#item05">나의 이용정보 </a></li>
    </ul>
  </div>
</section>

<!-- ----------------------------------------나의 이용정보 (회원)------------------------------- : s -->

<section class="content subMypageItem myUseInfo pc" id="item05">
  <div class="content_inner container">
    <div class="row">
      <!--
      <div class="tit">
        <h1>나의 이용정보</h1>
        <div class="titLine"></div>
      </div>
      -->
      <div class="consultTable">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">이용 프로그램</th>
              <th scope="col">시작일자</th>
              <th scope="col">다음 결제일자</th>
              <th scope="col">상담 예정일자</th>
              <th scope="col">상태</th>
            </tr>
          </thead>
          <tbody>
            {% for billing_history in page_list %}
            <tr>
              {% if billing_history.billing_type == 'regular' %}
              <td>정기상담</td>
              {% else %}
              <td>1회상담</td>
              {% endif %}

              <td>{{ billing_history.regist_date|date:"Y.m.d" }}</td>
              {% if billing_history.billing_type == 'regular' %}
              <td>{{ billing_history.next_date|date:"Y.m.d" }}</td>
              {% else %}
              <td>-</td>
              {% endif %}

              <!-- 상담 일정을 표시 -->
              <td>{{ billing_history.schdule_date|date:"Y.m.d" }}</td>

              <td class="subCancle">
                {% if billing_history.use_yn == 'Y' %}
                <a href="javascript:cancel_billing('{{ billing_history.billing_type }}', {{ billing_history.id }});">
                  <span>취소</span>
                </a>
                {% else %}
                <span style="background: #fff; color: #aaaaaa;">완료</span>
                {% endif %}


              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">이용 내역이 없습니다.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include 'common/pagination.html' with page_list=page_list %}
      </div>
    </div>
  </div>
</section>
<section class="content subMypageItem myUseInfo mobile" id="item05">
  <div class="content_inner container">
    <div class="row">
      <div class="tit">
        <h1>나의 이용정보</h1>
        <div class="titLine"></div>
      </div>
      <div class="consultTable">
        <ul class="mobile">
          {% for billing_history in page_list %}
          <div class="dropdown_inner" style="display: block">
            <table>
              <tbody>
                <tr>
                  <th>이용 프로그램</th>
                  {% if billing_history.billing_type == 'regular' %}
                  <td>정기상담</td>
                  {% else %}
                  <td>1회상담</td>
                  {% endif %}
                </tr>
                <tr>
                  <th>시작일자</th>
                  <td>{{ billing_history.regist_date|date:"Y.m.d" }}</td>
                </tr>
                <tr>
                  <th>다음 결제일자</th>
                  {% if billing_history.billing_type == 'regular' %}
                  <td>{{ billing_history.next_date|date:"Y.m.d" }}</td>
                  {% else %}
                  <td>-</td>
                  {% endif %}
                </tr>
                <tr>
                  <th>다음상담 예정일자</th>
                  <td>{{ billing_history.schdule_date|date:"Y.m.d" }}</td>
                </tr>
              </tbody>
            </table>
            <div class="btnArea">


              {% if billing_history.use_yn == 'Y' %}
              <button class="gBorderBtn"
                onclick="cancel_billing('{{ billing_history.billing_type }}', {{ billing_history.id }});"><span>취소</span></button>

              {% endif %}
            </div>
          </div>

          {% empty %}


          {% endfor %}

        </ul>
        {% include 'common/pagination.html' with page_list=page_list %}
      </div>
    </div>
  </div>
</section>
<!-- ----------------------------------------나의 이용정보 (회원) ------------------------------- : e -->

{% endblock %}