{% extends "sub_base.html" %}
{% block script %}
<script>
    function mod() {
        document.location.href = "{% url 'counsel_qna_form' counsel_qna.id %}";
    }

    function del() {
        $.post("{% url 'counsel_qna_delete' counsel_qna.id %} ", {}, function (data) {
            if (data.success) {
                alert("삭제 되었습니다.");
                document.location.href = "{% url 'counsel_qna_list' %}";
            }

        });
    }
</script>
{% endblock %}
{% load custom_tags %}
{% block contents %}
<section class="content subMypage flexCenter">
    <div class="content_inner container">
        <ul class="tabMenu">
            <li><a href="{% url 'counsel_request' %}">상담신청 </a></li>
            <li><a href="{% url 'counsel_file' %}">상담 서류등록 </a></li>
            <li><a href="{% url 'counsel_list' %}">상담내역 </a></li>
            <li class="on">
                <a href="{% url 'counsel_qna_list' %}"><span class="mobile">선생님과의</span>질의응답</a>
            </li>
            <li><a href="{% url 'counsel_info' %}">나의 이용정보 </a></li>
        </ul>
    </div>
</section>

<section class="content subMypageItem qnaListContent" id="">
    <div class="content_inner container">
        <div class="row">
            <!--
      <div class="tit">
        <h1>선생님과의 질의응답</h1>
        <div class="titLine"></div>
      </div>
      -->
            <div class="qnaTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="qnaTit">{{ counsel_qna.title }}.</th>
                            <th class="qnaWriter">{{ counsel_qna.name }}</th>
                            <th class="qnaDate">{{ counsel_qna.regist_date|date:"Y.m.d" }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <!--<p class="ansTit">...</p>-->
                                <p class="ansDes">
                                    {{ counsel_qna.content|safe }}
                                </p>

                                {% if files1 %}
                                <div class="filelist">
                                    <ul>
                                        {% for file in files1 %}

                                        <li>
                                            {{ file.real_name|default_if_none:"" }}
                                            <a href="{% url 'file_download' file.id %}" target="hidden_target"><button
                                                    type="button" class="pc">다운로드</button></a>
                                            <a href="{% url 'file_download' file.id %}" target="hidden_target"><button
                                                    type="button" class="mobile"></button></a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <br />
                                {% endif %}


                                <button type="button" onclick="mod();">수정</button>
                                <button onclick="del();">삭제</button>


                                {% if counsel_qna.teacher_answer %}
                                <hr />
                                <div class="answerlist">
                                    <ul>
                                        <li class="teacher_name">
                                            <p>{{ counsel_qna.teacher_name|default_if_none:"" }} 컨설턴트</p>
                                        </li>
                                        <li class="teacher_answer">
                                            {% if counsel_qna.teacher_answer %}
                                            {{ counsel_qna.teacher_answer|safe|default_if_none:"" }}
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                                {% endif %}

                                {% if files2 %}
                                <div class="filelist">
                                    <ul>
                                        {% for file in files2 %}

                                        <li>
                                            {{ file.real_name|default_if_none:"" }}
                                            <a href="{% url 'file_download' file.id %}" target="hidden_target"><button
                                                    type="button" class="pc">다운로드</button></a>
                                            <a href="{% url 'file_download' file.id %}" target="hidden_target"><button
                                                    type="button" class="mobile"></button></a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btnArea">
                    <button class="gBtn" onclick="goList();">
                        <span>이전으로</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}