{% extends "sub_base.html" %}
{% load staticfiles %}
{% block script %}
<script>
let file_index = 0;
    var dz;

    $(document).ready(function () {
        set_dropzone();

    });

    function set_dropzone() {

        Dropzone.autoDiscover = false;
        Dropzone.prototype.defaultOptions.dictDefaultMessage = "업로드 하고싶은 파일을 드랍하거나 클릭하여 등록하세요.";
        Dropzone.prototype.defaultOptions.dictFallbackMessage = "브라우저가 파일 업로드를 지원하지 않습니다.";
        Dropzone.prototype.defaultOptions.dictFallbackText =
            "Please use the fallback form below to upload your files like in the olden days.";
        Dropzone.prototype.defaultOptions.dictFileTooBig =
            "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.";
        Dropzone.prototype.defaultOptions.dictInvalidFileType = "해당 형식의 파일은 업로드 할 수 없습니다.";
        Dropzone.prototype.defaultOptions.dictResponseError = "Server responded with {{statusCode}} code.";
        Dropzone.prototype.defaultOptions.dictCancelUpload = "업로드 취소";
        Dropzone.prototype.defaultOptions.dictUploadCanceled = "업로드 취소 완료";
        Dropzone.prototype.defaultOptions.dictCancelUploadConfirmation = "Are you sure you want to cancel this upload?";
        Dropzone.prototype.defaultOptions.dictRemoveFile =
            "<button type='button' class='btn btn-warning btn-sm'>삭제</button>";
        Dropzone.prototype.defaultOptions.dictMaxFilesExceeded = "You can not upload any more files.";

        $("#dropzone").dropzone({
            url: "/common/file_upload/",
            uploadMultiple: false,
            paramName: "files",
            parallelUploads: 100,
            // thumbnailWidth: 70,
            // thumbnailHeight: 70,
            addRemoveLinks: true,
            autoProcessQueue: false,
            dictRemoveFileConfirmation: '삭제하시겠습니까?',
            headers: {
                'X-CSRF-Token': $.cookie('csrftoken'),
                csrfmiddlewaretoken: $.cookie('csrftoken')
            },
            init: function () {
                dz = this;
                files = '{{ files|safe }}';

                if (files) {
                    console.debug('files -> ', files);

                    files = JSON.parse(files);

                    for (f in files) {

                        // console.debug(files[f]);
                        file = files[f];
                        console.log(file);

                        $("#file_list").append("<li id='uploaded" + file.id + "'>" + file.real_name +
                            "<button type='button' class='deleteBtn' onclick='remove_file(\"" + file
                            .real_name + "\")' data-dz-remove></button></li>");
                        file_index++;

                        file.name = file.real_name;
                        file.size = file.real_size;

                        this.files.push(file);

                        console.log('file.save_name: ' + file.save_name);

                        this.emit("addedfile", file);
                        switch (file.ext) {
                            case "jpeg":
                            case "jpg":
                            case "gif":
                            case "png":
                                this.emit("thumbnail", file, '/media/' + file.save_name);
                                break;
                            case "csv":
                            case "xls":
                            case "xlsx":
                            default:
                                console.log('thumbnail : default');
                                this.emit("thumbnail", file, "{% static 'images/file.png' %}");
                                break;

                        }
                        //this.emit("complete", file);

                        jQuery('<input/>', {
                            type: 'hidden',
                            name: 'files',
                            value: file.id,
                            id: file.id
                        }).appendTo('#form');
                    }
                }

                this.on("sending", function (file, xhr, formData) {
                    formData.append("path", 'counsel_file');
                });

                this.on('success', function (file, json) {

                    var result = JSON.parse(json);
                    // 업로드된 정보를 form 에 추가
                    jQuery('<input/>', {
                        type: 'hidden',
                        name: 'files',
                        value: result.id,
                        'data-uuid': file.upload.uuid
                    }).appendTo('#form');
                });

                this.on("addedfile", function (file) {
                    let cnt = $(".dz-image img[alt='" + file.name + "']").size();

                    if (cnt > 0) {
                        alert('동일한 파일명이 있으므로 추가할 수 없습니다.');
                        this.removeFile(file);
                        return;
                    }
                    console.log(file);
                    //console.log("addedfile");
                    //console.log(file.upload.uuid);
                    $("#file_list").append("<li id='" + file.upload.uuid + "'>" + file.name +
                        "<button type='button' class='deleteBtn' onclick='remove_file(\"" + file
                        .name + "\")' data-dz-remove></button></li>");
                    file_index++;

                    /*
                    $("#file_list").append("<li>" + file.name +
                      "<button type='button' class='deleteBtn' onclick='remove_file(" + file_index +
                      ")' data-dz-remove></button></li>");
                    file_index++;
                    */
                });

                this.on('removedfile', function (file) {
                    if (file.id) {
                        $("#uploaded" + file.id).remove();
                        $.post(
                            '/counsel_file_delete/', {
                                file_id: file.id
                            },
                            function (data) {
                                console.log(data);

                                if (data.success) {
                                    $("#" + file.id).remove();
                                } else {
                                    console.debug('file delete error');
                                }
                            }
                        )
                    } else {
                        $("#" + file.upload.uuid).remove();
                    }
                });

                this.on("queuecomplete", function (file) {
                    console.log("queuecomplete");
                    save();
                });
            }
        });
    }

    function click_file_upload() {
        $("#dropzone").click();
    }

    function file_upload() {

        let dz = $("#dropzone")[0].dropzone;
        if (dz.getQueuedFiles().length === 0) {
            save();
        } else {
            dz.processQueue();
        }
    }

    function remove_file(file_name) {
        console.log('remove_file > ' + file_name);
        $(".dz-image img[alt='" + file_name + "']").parents(".dz-preview").find("button").click()
        //$(".dz-remove:eq(" + index + ") button").trigger("click");
    }

    function save() {
        $.post("{% url 'counsel_qna_form' form.initial.id %}", $("#form").serializeArray(), function (data) {
            if (data.success) {
                alert('저장 되었습니다.');
                document.location.href = "{% url 'counsel_qna_list' %}";

            } else {
                console.log(data.message);
                alert('저장 되지 않았습니다.\n' + data.message);

            }
        });
    }
</script>
{% endblock %}
{% load custom_tags %}
{% block contents %}

<section class="content subMypage flexCenter">
    <div class="content_inner container">
        <ul class="tabMenu">
            <li><a href="{% url 'counsel_request' %}">상담신청 </a></li>
            <li><a href="{% url 'counsel_file' %}">상담 서류등록 </a></li>
            <li><a href="{% url 'counsel_list' %}">상담내역 </a></li>
            <li class="on">
                <a href="{% url 'counsel_qna_list' %}"><span class="mobile">선생님과의</span>질의응답</a>
            </li>
            <li><a href="{% url 'counsel_info' %}">나의 이용정보 </a></li>
        </ul>
    </div>
</section>

<section class="content subMypageItem" id="item01">
    <form id="form" method="post" class="post-form">
        {% csrf_token %}
        <input type="hidden" id="parent_id" name="parent_id" value="0" />
        <div class="content_inner container">
            <div class="row">
                <div class="tit">
                    <h1>질의수정</h1>
                    <div class="titLine"></div>
                </div>
                <div class="tableBox personalInfo">
                    <table>
                        <thead class="pc">
                            <tr>
                                <th colspan="2">질문</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- 제목 -->
                            <tr>
                                <th class="bold must" style="width: 20%">제목</th>
                                <td style="text-align: left">
                                    <input name="title" class="form-control" type="text" placeholder="제목" value="{{ form.title.value }}"
                                        aria-label="default input example" />
                                </td>
                            </tr>
                            <!-- 내용 -->
                            <tr>
                                <th class="bold must" style="width: 20%">내용</th>
                                <td style="text-align: left">
                                    <div style="margin: 19px 0;">
                                        {{ form.content }}
                                    </div>
                                </td>
                            </tr>

                            <!-- 파일 -->
                            <tr>
                                <th class="bold" style="width: 20%">파일</th>
                                <td style="text-align: left">
                                    <div class="uploadBox_inner" style="padding-top: 0px;">
                                        <!-- /* 파일업로드 커스텀 */ -->
                                        <div class="filebox pc">
                                            <label for="dropzone" class="form-label" onclick="click_file_upload();">파일
                                                업로드</label>
                                        </div>

                                        <div class="filelist">
                                            <ul id="file_list"></ul>
                                            <div class="dropzone" id="dropzone" style="display: none;"></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 상담신청 완료시 '상담 신청이 완료 모달창'으로 대체 -->
                <div class="btnArea">
                    <button type="button" class="yBtn" onclick="file_upload();">
                        <span>등록</span>
                    </button>
                    <button type="button" class="gBtn" onclick="goList();">
                        <span>목록으로</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}