{% extends "sub_base.html" %}
{% block script %}
<script>
    $(document).ready(function () {

    });

    function upload_file() {
        $("#file_form").submit();
    }
</script>

{% endblock %}
{% load custom_tags %}
{% block contents %}

<section class="content subMypage flexCenter">
    <div class="content_inner container">
        <ul class="tabMenu">
            <li><a href="{% url 'counsel_request' %}">상담신청 </a></li>
            <li><a href="{% url 'counsel_file' %}">상담 서류등록 </a></li>
            <li class="on"><a href="javascript:return false;">상담내역 </a></li>
            <li>
                <a href="{% url 'counsel_qna_list' %}"><span class="mobile">선생님과의</span>질의응답
                </a>
            </li>
            <li><a href="{% url 'counsel_info' %}">나의 이용정보 </a></li>
        </ul>
    </div>
</section>

<!-- -------------------------------------------- 상담내역------------------------------- : s -->

<section class="content subMypageItem consultList pc" id="item03">
    <div class="content_inner container">
        <div class="row">
            <!--
            <div class="tit">
                <h1>상담내역</h1>
                <div class="titLine"></div>
            </div>
            -->
            <div class="consultTable">
                <p>총 <span>{{ total }}</span>개의 상담내역이 있습니다.</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">신청일</th>
                            <th scope="col">상담일</th>
                            <th scope="col">담당 컨설턴트</th>
                            <th scope="col">학생 성명</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for counsel_result in page_list %}
                        <tr>
                            <td><a href="{% url 'counsel_result' counsel_result.id %}">{{ counsel_result.counsel.regist_date|date:"Y.m.d a h:i" }}</a></td>
                            <td><a href="{% url 'counsel_result' counsel_result.id %}">[{{ counsel_result.counsel_date|date:"Y.m.d a h:i" }}] 상담내역</a></td>
                            <td>{{ counsel_result.teacher_name }}</td>
                            <td>{{ counsel_result.counsel.student_name }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td style="text-align: center;" colspan="4">조회 결과가 없습니다.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% include 'common/pagination.html' with page_list=page_list %}
            </div>
        </div>
    </div>
</section>
<section class="content subMypageItem consultList mobile">
    <div class="content_inner container">
        <div class="row">
            <!--
            <div class="tit">
                <h1>상담내역</h1>
                <div class="titLine"></div>
            </div>
            -->
            <div class="consultTable consultCard">
                <p>총 <span>{{ total }}</span>개의 상담내역이 있습니다.</p>
                <ul class="cards">
                    {% for counsel_result in page_list %}
                    <li>
                        <a href="{% url 'counsel_result' counsel_result.id %}">
                            <div class="cardWrap">
                                <p class="date">{{ counsel_result.counsel_date|date:"Y.m.d a h:i" }}</p>
                                <div class="manager">
                                    <p>담당 컨설턴트</p>
                                    <p class="bold">{{ counsel_result.teacher_name }}</p>
                                </div>
                                <div class="student">
                                    <p>학생 성명</p>
                                    <p class="bold">{{ counsel_result.counsel.student_name }}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% include 'common/pagination.html' with page_list=page_list %}
            </div>
        </div>
    </div>
</section>
<!-- -------------------------------------------- 상담내역------------------------------- : e -->

{% endblock %}