{% extends "sub_base.html" %} {% block script %}
<script>
    function modify() {
        document.location.href = "/question_form/{{ form.initial.id }}/";
    }
</script>
{% endblock %}
{% load custom_tags %}
{% block contents %}
<section class="content subMypage flexCenter">
    <div class="content_inner container">
        <ul class="tabMenu">
            <li><a href="{% url 'counsel_request' %}">상담신청 </a></li>
            <li><a href="{% url 'counsel_file' %}">상담 서류등록 </a></li>
            <li class="on"><a href="{% url 'counsel_list' %}">상담내역 </a></li>
            <li>
                <a href="{% url 'counsel_qna_list' %}"><span class="mobile">선생님과의</span>질의응답</a>
            </li>
            <li><a href="{% url 'counsel_info' %}">나의 이용정보 </a></li>
        </ul>
    </div>
</section>

<!-- ----------------------------------------상담내역 확인------------------------------- : s -->

<section class="content subMypageItem consultListContent">
    <div class="content_inner container">
        <div class="row">
            <div class="consultListContent_inner">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>담당 컨설턴트</th>
                            <td>{{ counsel_result.teacher_name|default_if_none:"" }}</td>
                        </tr>
                        <tr>
                            <th>학생 성명</th>
                            <td>{{ counsel_result.counsel.student_name|default_if_none:"" }}</td>
                        </tr>
                        <tr>
                            <th>상담 진행일자</th>
                            <td>{{ counsel_result.counsel_date|default_if_none:""|date:"Y.m.d H:i" }}</td>
                        </tr>
                        <tr>
                            <th>종합 의견</th>
                            <td>
                                {{ counsel_result.counsel_total|safe }}
                            </td>
                        </tr>
                        <tr>
                            <th>향후 주력점</th>
                            <td>
                                {{ counsel_result.counsel_after|safe }}
                            </td>
                        </tr>
                        {% if counsel_result.next_counsel_date %}
                        <tr>
                            <th>다음 상담일자</th>
                            <td>{{ counsel_result.next_counsel_date|default_if_none:""|date:"Y.m.d H:i" }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>상담내역 파일</th>
                            <td>
                                <div class="filelist">
                                    <ul>
                                        {% for file in files %}
                                        <li>
                                            {{ file.real_name}}
                                            <a href="{% url 'file_download' file.id %}" target="hidden_target"><button
                                                    type="button" class="pc">다운로드</button></a>
                                            <a href="{% url 'file_download' file.id %}" target="hidden_target"><button
                                                    type="button" class="mobile"></button></a>
                                        </li>
                                        {% empty%}
                                        <li>첨부된 파일이 없습니다.</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btnArea">
                    <button class="gBtn" onclick="goList();">
                        <span>이전으로</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ----------------------------------------상담내역 확인------------------------------- : e -->
{% endblock %}