{% extends "sub_base.html" %}
{% block script %}
<script>
  $(document).ready(function () {

  });

  function counsel_qna_new() {
    document.location.href = "{% url 'counsel_qna_new' %}";

  }
</script>

{% endblock %}
{% load custom_tags %}
{% block contents %}

<section class="content subMypage flexCenter">
  <div class="content_inner container">
    <ul class="tabMenu">
      <li><a href="{% url 'counsel_request' %}">상담신청 </a></li>
      <li><a href="{% url 'counsel_file' %}">상담 서류등록 </a></li>
      <li><a href="{% url 'counsel_list' %}">상담내역 </a></li>
      <li class="on">
        <a href="#item04"><span class="mobile">선생님과의</span>질의응답</a>
      </li>
      <li><a href="{% url 'counsel_info' %}">나의 이용정보 </a></li>
    </ul>
  </div>
</section>

<!-- -----------------------------------선생님과의 질의응답(회원만)------------------------ : s -->

<section class="content subMypageItem qnaList pc" id="item04">
  <div class="content_inner container">
    <div class="row">
      <!--
      <div class="tit">
        <h1>선생님과의 질의응답</h1>
        <div class="titLine"></div>
      </div>
      -->
      <div class="consultTable">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">작성일자</th>
            </tr>
          </thead>
          <tbody>
            {% for counsel_qna in page_list %}
            <tr>
              <td><a href="{% url 'counsel_qna_detail' counsel_qna.id %}"
                  style="font-size: 20px; font-weight: 500;">{{ counsel_qna.title }}</a></td>
              <td>{{ counsel_qna.name }}</td>
              <td>{{ counsel_qna.regist_date|date:"Y.m.d" }}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
        
        <!-- 상품 이용중인 경우만 글쓰기 가능1 -->
        {% if is_paid %}
        <div class="btnArea writeBtn">
          <button onclick="counsel_qna_new();"><span>글쓰기</span></button>
        </div>
        {% endif %}
        
        {% include 'common/pagination.html' with page_list=page_list %}

      </div>
    </div>
  </div>
</section>
<section class="content subMypageItem qnaList mobile" id="item04">
  <div class="content_inner container">
    <div class="row">
      <div class="tit">
        <h1>선생님과의 질의응답</h1>
        <div class="titLine"></div>
      </div>
      <div class="consultTable">
        <table class="table">
          <tbody>
            {% for counsel_qna in page_list %}
            <tr>
              <td>
                <a href="{% url 'counsel_qna_detail' counsel_qna.id %}">
                  <p>{{ counsel_qna.title }}</p>
                  <span>{{ counsel_qna.regist_date|date:"Y.m.d" }}</span> | <span>{{ counsel_qna.name }}</span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <!-- 상품 이용중인 회원만 글쓰기 가능2 -->
        {% if is_paid %}
        <div class="btnArea writeBtn">
          <button onclick="counsel_qna_new();"><span>글쓰기</span></button>
        </div>
        {% endif %}
        
        {% include 'common/pagination.html' with page_list=page_list %}
      </div>
    </div>
  </div>
</section>
<!-- -----------------------------------선생님과의 질의응답(회원만)------------------------ : e -->


{% endblock %}