{% extends "sub_base.html" %} {% block script %}
<script>
    $(document).ready(function () {});

    function upload_file() {
        let url = "{% url 'document_upload' %}";
        //alert(url);
        save_file(url);
    }
</script>

{% endblock %} {% load custom_tags %} {% block contents %} mypage index

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'counsel_request' %}">상담신청</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">서류등록</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'question_and_answer' %}">질의응답</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'counsel_list' %}">상담내역</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'payment_result' %}">결제내역</a>
    </li>
</ul>

<br />

<div class="row">
    <!--     
    <div class="mb-3">
        <label for="formFile" class="form-label">파일 업로드</label>
        <input class="form-control" type="file" id="formFile" />
    </div>
 -->
    <form id="form">{% multi_upload 'files' request.user.id %}</form>

    <hr />

    <button type="button" class="btn btn-primary" onclick="upload_file();">서류제출</button>
</div>

<div class="row">
    <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>
</div>
{% endblock %}
