{% extends "sub_base.html" %} {% block script %}
<script>
    $(document).ready(function () {});

    function upload_file() {
        $("#file_form").submit();
    }
</script>

{% endblock %} {% load custom_tags %} {% block contents %} mypage index

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'counsel_request' %}">상담신청</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'document_upload' %}">서류등록</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">질의응답</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'counsel_list' %}">상담내역</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'payment_result' %}">결제내역</a>
    </li>
</ul>

<br />

<div class="row">
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile" />
    </div>

    <button type="button" class="btn btn-primary">Primary</button>
</div>
{% endblock %}
