{% extends "sub_base.html" %}
{% block script %}
<script>
    function view_regular() {
        // 정기상담 시작하기 버튼 클릭
        const loc = window.location;
        const path_label = location.pathname;
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            event: 'begin_subscription',
            begin_subscription: {
                action_field: {
                    affiliation: 'Park Sam',
                    path_label,
                },
            },
        });
        document.location.href = "{% url 'member_counseltant' %}";
    }
</script>
{% endblock %}
{% load custom_tags %}

{% block contents %}
<figure class="figure subConsult pc">
    <div class="banner subBanner03">
        <div class="figure_inner">
            <div class="container">
                <p>뻔한 이야기와 부족한 마무리에 실망한 적 없으신가요?</p>
                <h1>
                    컨설팅은 <span>기술이 아닌 경험</span>입니다
                </h1>
                <div class="bannerLine"></div>
                <p>학교 밖 담임선생님, <span>박샘</span></p>
            </div>
        </div>
    </div>
</figure>
<figure class="figure subConsult mobile">
    <div class="banner subBanner03">
        <div class="figure_inner">
            <div class="container">
                <p>뻔한 이야기와 부족한 마무리에<br/>실망한 적 없으신가요?</p>
                <div class="bannerLine"></div>
                <h1>
                    컨설팅은 <span>기술이 아닌 경험</span>입니다
                </h1>
            </div>
        </div>
    </div>
</figure>
<section class="content subConsult subContent06">
    <div class="content_inner container">
        <div class="row">
            <div class="tit">
                <h1>검증된 정보와 축적된 데이터로 <br class="mobile" /> <span>개별 특성에 맞는 해법을 제시</span>합니다</h1>
                <div class="titLine"></div>
            </div>
        </div>
        <div class="row items">

            <!-- 신동원 -->
            <!-- /* 210427 수정 :s*/ -->
            <div class="item">
                <div class="img img01"></div>
                <div class="info">
                    <p class="name">신동원<span>상담연구소장</span></p>
                    <ul class="career">
                        <li>현 한국진로진학정보원 이사</li>
                        <li>현 진로진학 칼럼니스트</li>
                        <li>전 휘문고등학교 교장</li>
                        <li>전 서울진학지도연구원 회장</li>
                    </ul>
                </div>
            </div>
            <!-- /* 210427 수정 :e*/ -->

            <!-- 전천석 -->
            <div class="item">
                <div class="img img04"></div>
                <div class="info">
                    <p class="name">전천석<span>컨설턴트</span></p>
                    <ul class="career">
                        <li>현 학종 전문 블로그 '삼선슬리퍼' 운영</li>
                        <li>현 삼선대학입시연구소장</li>
                        <li>전 고양외국어고 교사</li>
                    </ul>
                </div>
            </div>

            <!-- 임태형 -->
            <div class="item">
                <div class="img img05"></div>
                <div class="info">
                    <p class="name">임태형<span>컨설턴트</span></p>
                    <ul class="career">
                        <li>현 입시컨설턴트 및 교육칼럼니스트</li>
                        <li>현 교육입시 유튜브 채널 '임태형 TV' 운영</li>
                        <li>조선/동아일보 '임태형의 진학이야기' 연재</li>
                    </ul>
                </div>
            </div>

            <!-- 양재혁 -->
            <div class="item">
                <div class="img img03"></div>
                <div class="info">
                    <p class="name">양재혁<span>컨설턴트</span></p>
                    <ul class="career">
                        <li>중앙대·한국외대·동국대·숙명여대 등 다수 대학 자문교사</li>
                        <li>가톨릭대학교 위촉사정관</li>
                        <li>전 명덕여고 진학지도부장</li>
                    </ul>
                </div>
            </div>

            <!--윤명애 -->
            <!-- /* 210427 추가 :s*/ -->
            <div class="item">
                <div class="img img09"></div>
                <div class="info">
                    <p class="name">윤명애<span>컨설턴트</span></p>
                    <ul class="career">
                        <li>경희대·유니스트·서울여대 등 학생부종합전형 자문교사</li>
                        <li>대교협 전국 수시 및 정시 상담교사</li>
			            <li>전 동두천외고 3학년 부장 및 진학상담실 운영</li>
                    </ul>
                </div>
            </div>
            <!-- /* 210427 추가 :e*/ -->

            <!-- 박을용 -->
            <div class="item">
                <div class="img img07"></div>
                <div class="info">
                    <p class="name">박을용<span>컨설턴트</span></p>
                    <ul class="career">
                        <li>입학사정관 전문과정 수료 (서울대/성균관대)</li>
                        <li>경희대·숭실대·아주대 등 위촉사정관 및 자문위원</li>
                        <li>전 상문고 3학년 부장 및 진학상담실 운영</li>
                    </ul>
                </div>
            </div>

            <!-- 임병욱 -->
            <!--
            <div class="item">
                <div class="img img06"></div>
                <div class="info">
                    <p class="name">임병욱<span>컨설턴트</span></p>
                    <ul class="career">
                        <li>전 인창고등학교 교장</li>
                        <li>덕성여대 외부위촉사정관</li>
                        <li>중원대 인재선발단장 및 가톨릭대 <br />공공사정관</li>
                        <li>한국대학신문 대학선택12 편집장</li>
                    </ul>
                </div>
            </div>
            -->

            <!-- 진동섭 -->
            <div class="item">
                <div class="img img02"></div>
                <div class="info">
                    <p class="name">진동섭<span>교육과정 자문단</span></p>
                    <ul class="career">
                        <li>전 서울대 입학사정관</li>
                        <li>전 교육부 교육과정심의위원</li>
                        <li>전 MBC '공부가 머니' 패널</li>
                        <li>전 교육부 2015 개정 교육과정 연구위원 등</li>
                    </ul>
                </div>
            </div>

            <!-- 조미정 -->
            <div class="item">
                <div class="img img08"></div>
                <div class="info">
                    <p class="name">조미정<span>교육과정 자문단</span></p>
                    <ul class="career">
                        <li>현 ㈜에듀플라자 대표</li>
                        <li>전 TBS ‘상담 받고 대학 가자’ 전문 패널</li>
                        <li>전 성균관대학교 입시전문위원 및 <br />입학사정관</li>
                        <li>전 김영일교육컨설팅 교육연구소장</li>
                    </ul>
                </div>
            </div>
        </div>

        <!--
        <div class="row add_button">
            <div class="btnArea pc">
                <a href="{% url 'program_index' %}"><button class="yBtn">정기상담 알아보기</button></a>
            </div>
            <div class="btnArea mobile" style="padding: 0 17px;">
                <a href="{% url 'program_index' %}">
                    <button class="yBtn" style="font-size: 17px; height: 40px; padding: 5px; width: 100%;">정기상담
                        알아보기</button></a>
            </div>
        </div>
        -->

        <div class="btnArea">
            <!--
            <a href="{% url 'program_index' %}">''
                <button class="yBtn regular">
                    <b><span>현재 중3~고2라면</span></b>
                    <span class="small">정기상담 알아보기&nbsp;></span>
                </button>
            </a>
            -->
            <a href="{% url 'program_index' %}">
                <button class="bBtn regular">
                    <span>정기상담 알아보기</span>
                    <!--
                    <span class="small">1회상담 알아보기&nbsp;></span>
                    -->
                </button>
            </a>
        </div>



    </div>
</section>
{% endblock %}
