﻿<html>
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        $(document).ready(function () {
            $("input[name='name']", opener.document).val('{{ name }}');
            $("input[name='phone1']", opener.document).val('{{ mobileno|slice:":3" }}');
            $("input[name='phone2']", opener.document).val('{{ mobileno|slice:"3:7" }}');
            $("input[name='phone3']", opener.document).val('{{ mobileno|slice:"7:" }}');
            $("input[name='di']", opener.document).val('{{ dupinfo }}');
            self.close();
        });
    </script>
</head>
<body>
    checkplus_success_set
</body>
</html>