{% if not zip %}
    {% if files %}
        {% for file in files %}
            <a href="/common/file_download?id={{ file.id }}" target="hidden_target">{{ file.real_name }}</a><br/>
        {% endfor %}
    {% else %}
        파일이 존재하지 않습니다.
    {% endif %}
{% else %}
    {% if files %}
        <a href="/common/file_download?group_id={{ group_id }}" target="hidden_target">묶음 파일 받기</a><br/>
    {% else %}
        파일이 존재하지 않습니다.
    {% endif %}
{% endif %}