<div class='dropzone' id="{{ id }}">
    <div class="dz-message">
        업로드 하고싶은 파일을 드랍하거나 클릭하여 등록하세요<br>
        <span class="note needsclick">( Please drag file or click here. )</span>
    </div>
</div>
<script>
    set_dropzone('{{ id }}', '{{ multiple }}','{{ file|safe }}', '{{ files|safe }}', '{{ ext|default_if_none:"" }}', '{{ group_name|default_if_none:"" }}');
</script>
