{% extends "sub_base.html" %} {% load staticfiles %} {% block script %}
<script>
    $(document).ready(function () {
        $("input").blur(function () {
            let v = $(this).val();

            if (v) {
                $(this).removeClass("is-invalid");
                $(this).next("span").remove();
            }
        });
    });

    function search() {
        signin();
    }

    function find_id() {
        let params = $("#find_id_form").serializeArray();
        $.post("{% url 'find_id' %}", params, function (data) {
            if (!data.success) {
                $.each(data.message, function (key, value) {
                    console.log(key + ":" + value);
                    $("#" + key)
                        .parent()
                        .find("span")
                        .remove();

                    $("#" + key)
                        .removeClass("is-invalid")
                        .addClass("is-invalid")
                        .after(
                            $("<span>", {
                                text: value,
                                style: "color: red",
                                class: "is-invalid",
                            })
                        );
                });
                return;
            } else if (data.message){
                $("#text").text(data.message);

            } else {
                $("#find_id_form input").removeClass("is-invalid");
                $("span.is-invalid").remove();
                $("#text").text(data.username);
            }
        });
    }
</script>
{% endblock %} {% block contents %}
<div class="container my-3">
    <div class="row">
        <div class="col-sm-12">
            <form id="find_id_form" method="post" class="post-form" action="{% url 'find_id' %}" onsubmit="return false;">
                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" class="form-control" name="name" id="name" value="" autocomplete="off" />
                </div>
                <br />
                <div class="form-group">
                    <label for="phone">전화번호</label>
                    <input type="text" class="form-control" name="phone" id="phone" value="" autocomplete="off" />
                </div>
            </form>

            <div id="text" class="mb-3"></div>

            <button class="btn btn-secondary" type="button" id="find_id" onclick="find_id();">아이디 찾기</button>
        </div>

        
    </div>
</div>
{% endblock %}
