{% extends "main_base.html" %}
{% load staticfiles %}
{% block script %}
<script>
  $(document).ready(function () {
    $("*").focus(function(){
      $(this).removeAttr('data-error-message').removeClass("is-invalid");
    });


    $("#signin").click(function () {
      signin();
    });

    $("#signup").click(function () {
      document.location.href = "/signup";
    });
  });

  function find_id() {
    $("*").removeAttr('data-error-message').removeClass("is-invalid");

  $.post("{% url 'find_id' %}", {
      'name': $("#name").val(),
      'phone1': $("#phone1").val(),
      'phone2': $("#phone2").val(),
      'phone3': $("#phone3").val(),

    }, function (data) {
      if (data.success) {
        alert(data.message);
        /*
        Swal.fire({
          title: "",
          text: data.message,
          icon: "info",
          confirmButtonText: "확인",
        }).then(function () {
          //document.location.href = "{% url 'login' %}";
        });
        */
      } else {
        $.each(data.message, function (key, value) {
          console.log(key + ":" + value);

          $("*[name='" + key + "']").attr('data-error-message', value).addClass(
            "is-invalid");
        });
        /*
        console.log(data.message);

        Swal.fire({
          title: "Error",
          text: data.message,
          icon: "error",
          confirmButtonText: "확인",
        });
        */
      }
    });
  }

  function find_pw() {
    $.post("{% url 'find_pw' %}", {
      'name': $("#name").val(),
      'username': $("#usename").val(),
      'phone1': $("#phone1").val(),
      'phone2': $("#phone2").val(),
      'phone3': $("#phone3").val(),

    }, function (data) {
      if (data.success) {

        alert('휴대폰 번호로 임시 비밀번호를 발송 하였습니다.\n해당 정보로 로그인 후 비밀번호를 변경하시길 바랍니다.');
        document.location.href = "{% url 'login' %}";
        /*
        Swal.fire({
          title: "휴대폰 번호로 임시 비밀번호를 발송 하였습니다.\n해당 정보로 로그인 후 비밀번호를 변경하시길 바랍니다.",
          text: "",
          icon: "success",
          confirmButtonText: "확인",
        }).then(function () {
          document.location.href = "{% url 'login' %}";
        });
        */
      } else {
        console.log(data.message);
        alert(data.message);

        /*
        Swal.fire({
          title: "Error",
          text: data.message,
          icon: "error",
          confirmButtonText: "확인",
        });
        */
      }
    });
  }
</script>
{% endblock %}
{% block contents %}
<header class="header mobile loginMb">
  <div class="header_inner">
    <div class="container">
      <div class="row dfCenter">
        <div class="col-4 back">
          <a href="#"></a>
        </div>
        <div class="col-4 center">
          <a href="/login">
            <h1>로그인</h1>
          </a>
        </div>
        <div class="col-4">
          <a href="#"></a>
        </div>
      </div>
    </div>
  </div>
</header>

<!--
<figure class="figure pc" id="headerNext">
    <div class="banner mainBanner">
        <div class="figure_inner">
            <div class="container">
                <h1>
                    <span class="big">주기적인 상담</span><br />
                    국내최초
                    <span class="dot">정</span>
                    <span class="dot">기</span>
                    <span class="dot">구</span>
                    <span class="dot">독</span>
                    <span class="dot">형</span>
                    대입컨설팅
                </h1>
                <div class="bannerLine"></div>
                <p>학교 밖 담임선생님, <span>박샘</span></p>
            </div>
        </div>
    </div>
</figure>
-->






<section class="content contentFindIdPw pc">
  <div class="content_inner container">
    <div class="row">
      <div class="tit">
        <h1>아이디/비밀번호 찾기</h1>
        <div class="titLine"></div>
      </div>
      <div class="tableBox findId">
        <table>
          <thead>
            <tr>
              <th colspan="2">아이디 찾기</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="bold" style="width: 20%">이름</th>
              <td style="text-align: left">
                <input id="name" name="name" class="form-control" type="text" placeholder="가입한 이름 입력"
                  aria-label="default input example" />
              </td>
            </tr>
            <tr>
              <th class="bold" style="width: 20%">핸드폰 번호</th>
              <td style="text-align: left" class="inputPhoneBox">
                <input id="phone1" name="phone1" class="form-control" type="text" placeholder="010"
                  aria-label="default input example" />
                &nbsp;-
                <input id="phone2" name="phone2" class="form-control" type="text" placeholder="0000"
                  aria-label="default input example" />
                &nbsp;-
                <input id="phone3" name="phone3" class="form-control" type="text" placeholder="0000"
                  aria-label="default input example" />
              </td>
            </tr>
          </tbody>
        </table>
        <div class="btnArea">
          <button class="yBtn" onclick="find_id();">
            <span>아이디 확인</span>
          </button>
        </div>
      </div>
      <div class="tableBox findPw">
        <table>
          <thead>
            <tr>
              <th colspan="2">비밀번호 찾기</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="bold" style="width: 20%">아이디</th>
              <td style="text-align: left">
                <input class="form-control" type="text" name="username" placeholder="가입한 아이디 입력" aria-label="default input example" />
              </td>
            </tr>
            <tr>
              <th class="bold" style="width: 20%">이름</th>
              <td style="text-align: left">
                <input class="form-control" type="text" name="name" placeholder="가입한 이름 입력" aria-label="default input example" />
              </td>
            </tr>
            <tr>
              <th class="bold" style="width: 20%">핸드폰 번호</th>
              <td style="text-align: left" class="inputPhoneBox tdPadding">
                <input class="form-control" type="text" name="phone1" placeholder="010" aria-label="default input example" />
                &nbsp;-
                <input class="form-control" type="text" name="phone2" placeholder="0000" aria-label="default input example" />
                &nbsp;-
                <input class="form-control" type="text" name="phone3" placeholder="0000" aria-label="default input example" />
                <p>
                  * 가입한 핸드폰 번호로 임시 비밀번호를 전송해 드립니다.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="btnArea">
          <button class="yBtn" onclick="find_pw();">비밀번호 확인</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content contentFindIdPw mobile">
  <div class="content_inner">
    <div class="tableBox findId">
      <table>
        <thead>
          <tr>
            <th colspan="2">아이디 찾기</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left">
              <span class="bold must">이름</span>
              <input class="form-control" type="text" placeholder="이름을 입력해주세요" aria-label="default input example" />
            </td>
          </tr>
          <tr>
            <td style="text-align: left" class="inputPhoneBox">
              <span class="bold must">핸드폰 번호</span>

              <input class="form-control" type="text" placeholder="000-0000-0000" aria-label="default input example" />

            </td>
          </tr>
        </tbody>
      </table>
      <div class="btnArea">
        <a href="#">
          <button class="bBorderBtn" onclick="find_id();">
            <span>아이디 확인</span>
          </button>
        </a>
      </div>
    </div>
    <div class="tableBox findPw">
      <table>
        <thead>
          <tr>
            <th colspan="2">비밀번호 찾기</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left">
              <span class="bold must">아이디</span>

              <input class="form-control" type="text" placeholder="아이디를 입력해주세요" aria-label="default input example" />
            </td>
          </tr>
          <tr>
            <td style="text-align: left">
              <span class="bold must">이름</span>

              <input class="form-control" type="text" placeholder="비밀번호를 입력해주세요" aria-label="default input example" />
            </td>
          </tr>
          <tr>
            <td style="text-align: left" class="inputPhoneBox">
              <span class="bold must">핸드폰 번호</span>

              <input class="form-control" type="text" placeholder="000-0000-0000" aria-label="default input example" />
              <p>가입한 핸드폰 번호로 임시 비밀번호를 전송해 드립니다.</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btnArea">
        <a href="#">
          <button class="bBorderBtn" onclick="find_pw();"><span>비밀번호 확인</span></button>
        </a>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock %}