{% extends "main_base.html" %}
{% load staticfiles %}
{% block script %}
<style>
    .counsel_request_btn, .fix_phone {
        display: none !important;
    }
</style>
<script>
    $(document).ready(function () {
        // csrf_token 만료 방시를 위한 5분 간격 화면 갱신
        setInterval(function () {
            document.location.reload();
        }, 300000);

        $(".signin").click(function () {
            user_check();
        });

    });

    function user_check() {
        $.post("{% url 'user_check' %}", {
            "username": $("#username").val(),
            "password": $("#password").val()
        }, function (data) {

            if (data.success) {
                setTimeout(function () {
                    signin();
                }, 500);

            } else {
                alert(data.message);
                return false;

                /*
                Swal.fire({
                    title: "",
                    text: data.message,
                    icon: "error",
                    confirmButtonText: "확인",
                }).then(function () {
                    return false;
                });
                */

            }
        });
    }

    function signin() {
        $("#form").submit();

    }

    function search() {
        user_check();
    }
</script>
{% endblock %}
{% block contents %}
<!--
<header class="header mobile loginMb">
    <div class="header_inner">
        <div class="container">
            <div class="row dfCenter">
                <div class="col-4 back">
                    <a href="#"></a>
                </div>
                <div class="col-4 center">
                    <a href="/main.html">
                        <h1>로그인</h1>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </div>
</header>
-->

<!--
<figure class="figure pc" id="headerNext">
    <div class="banner mainBanner">
        <div class="figure_inner">
            <div class="container">
                <h1>
                    <span class="big">주기적인 상담</span><br />
                    국내최초
                    <span class="dot">정</span>
                    <span class="dot">기</span>
                    <span class="dot">구</span>
                    <span class="dot">독</span>
                    <span class="dot">형</span>
                    대입컨설팅
                </h1>
                <div class="bannerLine"></div>
                <p>학교 밖 담임선생님, <span>박샘</span></p>
            </div>
        </div>
    </div>
</figure>
-->

<section class="content contentLogin">
    <div class="content_inner container">
        <div class="row">
            <div class="tit pc">
                <h1>로그인</h1>
                <div class="titLine"></div>
            </div>
            <div class="item itemLogin">
                <div class="left">
                    <form id="form" method="post" class="post-form" action="{% url 'login' %}" onsubmit="user_check();">
                        {% csrf_token %}
                        {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}" />
                        {% endif %}
                        <div class="form-group">
                            <label for="username">아이디</label>
                            <input type="text" class="form-control" id="username" name="username"
                                aria-describedby="emailHelp" placeholder="아이디를 입력해주세요" />
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="비밀번호를 입력해주세요" />
                        </div>
                        <div class="btnArea">
                            <a href="#">
                                <button type="button" class="yBtn pc signin" id="signin">로그인</button>
                                <button type="button" class="bBtn mobile signin" id="signin">로그인</button>
                            </a>
                        </div>
                        <div class="loginBtm pc">
                            <ul>
                                <li><a href="{% url 'signup'%}?next={{ request.GET.next }}" class="signup"
                                        id="signup">회원가입</a></li>
                                <li>
                                    <a href="{% url 'find_info' %}" class="">아이디/비밀번호 찾기</a>
                                </li>
                            </ul>
                        </div>
                        <div class="loginBtm mobile">
                            <ul>
                                <li><a href="{% url 'find_id' %}" class="">아이디 찾기</a></li>
                                <li>
                                    <a href="{% url 'find_pw' %}" class="">비밀번호 찾기</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btnArea mobile">
                            <a href="{% url 'signup' %}"><button type="button" class="bBorderBtn signup"><span>회원가입</span></button></a>
                        </div>
                    </form>
                </div>
                <div class="right pc">
                    <div class="img"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}