{% load custom_tags %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_list.has_previous %}
        <li class="page-item">
            <a class="page-link icon doubleLeft" href="?{% url_replace request 'page' 1 %}" aria-label="Previous">
                <span aria-hidden="true"></span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link icon left" href="?{% url_replace request 'page' page_list.previous_page_number %}"
                aria-label="Previous">
                <span aria-hidden="true"></span>
            </a>
        </li>
        {% endif %}

        {% for page_number in page_list.paginator.page_range %}

        {% if page_number >= page_number|add:-5 and page_number <= page_number|add:5 %}
        {% if page_number == page_list.number %}
        <li class="page-item"><a class="page-link" href="javascript:return false;">{{ page_number }}</a></li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?{% url_replace request 'page' page_number %}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}

        {% endfor %}

        {% if page_list.has_next %}
        <li class="page-item">
            <a class="page-link icon right" href="?{% url_replace request 'page' page_list.next_page_number %}"
                aria-label="Next">
                <span aria-hidden="true"></span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link icon doubleRight" href="?{% url_replace request 'page' page_list.paginator.num_pages %}"
                aria-label="Next">
                <span aria-hidden="true"></span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>