<script>
    $(document).ready(function() {
        $("#pre_consult_date").datepicker({
            dateFormat: "yy/mm/dd",
            minDate: 1,
            startDate: "+1d",
            audoclose: true,
            calendarWeeks: false,
            clearBtn: false,
            disableTouchKeyboard: false,
            immediateUpdates: false,
            multidate: false,
            multidateSeparator: ",",
            showWeekDays: true,
            todayHighlight: true,
            toggleActive: true,
            weekStart: 0,
            daysOfWeekDisabled: [0, 6],
            language: "ko",
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        });

        $("#pre_consult_time").timepicker({
            timeFormat: "HH:mm",
            interval: 30,
            minTime: "10",
            maxTime: "5:00pm",
            startTime: "10:00",
            dynamic: false,
            dropdown: true,
            scrollbar: true,
        });

        $("#preConsultSubmit").on("click", function() {
            var name = $("#preConsultModal input[name=name]").val();
            var phone = $("#preConsultModal input[name=name]").val();
            var date = $("#preConsultModal input[name=date]").val() + " " + $("#preConsultModal input[name=time]").val();
            var data = JSON.stringify({
                name: name,
                phone: phone,
                date: date
            });
            
            $.ajax({
                method: "post",
                url: "{% url 'pre_consult_request' %}",
                contentType: 'application/json; charset=utf-8',
                dataType: "json", 
                data: data, 
                success: function(res) {
                    const success = res.success;

                    if (success) {
                        $("#preConsultModal").hide();
                        alert("사전상담 신청이 완료되었습니다.");
                    } else {
                        alert("사전상담 신청에 문제가 발생했습니다. 나중에 다시 시도해주세요.");
                    }
                },
                error: function(err) {
                    console.log(err)
                }
            });
        })
    
        $("#preConsultModal").on("hide.bs.modal", function () {
            $("#preConsultModal input[name=name]").val("");
            $("#preConsultModal input[name=name]").val("");
            $("#preConsultModal input[name=date]").val("")
            $("#preConsultModal input[name=time]").val("");
        })
    })
</script>

<div class="pre_consult_modal modal fade" id="preConsultModal" tabIndex="-1" role="dialog" aria-labelledby="preConsultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>성함과 전화번호를 남겨주시면<br/>박샘에서 연락을 드립니다.</h5>
                
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <div class="modal-form">
                        <div class="modal-form-group border">
                            <label><span>*</span>성함</label>
    
                            <input type="text" name="name" placeholder="성함 입력" required />
                        </div>

                        <div class="modal-form-group border">
                            <label><span>*</span>전화번호</label>
    
                            <input type="tel" name="name" placeholder="전화번호 입력" required />
                        </div>

                        <div class="modal-form-group border">
                            <label><span>*</span>상담희망일자</label>
    
                            <input type="text" id="pre_consult_date" name="date" placeholder="희망 상담일자 선택" required readonly />
                        </div>

                        <div class="modal-form-group">
                            <label><span>*</span>상담가능시간</label>
    
                            <input type="text" id="pre_consult_time" name="time" placeholder="희망 상담시간 선택" required readonly />
                        </div>
                    </div>
                    
                    <label class="agree">
                        <input type="checkbox" />
                        상담 진행을 위한 개인정보 제공에 동의합니다.
                    </label>
    
                    <button id="preConsultSubmit" class="submit" type="button">사전상담 신청</button>
                </div>
            </div>
        </div>
    </div>
</div>