{% load custom_tags %}
{% if files %}
    {% for file in files %}
        {% if link_yn %}
          {% file_download file.id %}
        {% elif file.ext|lower == 'jpg' or file.ext|lower == 'jpeg' or file.ext|lower == 'gif' or file.ext|lower == 'png' %}
            <a href="/common/file_download?id={{ file.id }}" target="hidden_target">
                <img src="/upload_files/{{ file.save_name }}" alt="{{ file.real_name }}" style="max-height: 100px; margin: 3px; border: 2px solid #aaaaaa;" title="{{ file.real_name }}" data-ext="{{ file.ext }}"/>
            </a>
        {% else %}
            <a href="/common/file_download?id={{ file.id }}" target="hidden_target">
                <!-- <span style="margin: 5px;">{{ file.real_name }}</span>-->
                <img src="/staticfiles/image/file_image_s.png" alt="{{ file.real_name }}" style="max-height: 100px; margin: 3px; border: 2px solid #aaaaaa;" title="{{ file.real_name }}" data-ext="{{ file.ext }}"/>
                <!-- <img src="/common/static/image/file_image.png" alt="file" style="max-height: 100px; margin: 3px; border: 2px solid #aaaaaa;" data-ext="{{ file.ext }}"/>-->
            </a>
        {% endif %}
    {% endfor %}
{% else %}
    파일이 존재하지 않습니다.
{% endif %}
