{% if id and real_name %}
    {% if file.ext|lower == 'jpg' or file.ext|lower == 'png' %}
        <a href="/common/file_download?id={{ file.id }}" target="hidden_target"><img src="/upload_files/{{ file.save_name }}" alt="{{ file.real_name }}" style="max-height: 100px; margin: 3px;" data-ext="{{ file.ext }}" onerror="this.src='/common/static/image/warning.png'"/></a><br/>
    {% else %}
        <a href="/common/file_download?id={{ file.id }}" target="hidden_target"><img src="/common/static/image/file_image.png" alt="file" style="max-height: 100px; margin: 3px;" data-ext="{{ file.ext }}"/></a><br/>
    {% endif %}
{% else %}
    파일이 존재하지 않습니다.
{% endif %}