{% extends "main_base.html" %}
{% load staticfiles %}
{% block script %}{% endblock %}
{% block contents %}
<section class="content contentTerms contentTermsPrivacy">
  <div class="content_inner container">
    <div class="row">
      <div class="tit pc">
        <h1>개인정보취급방침</h1>
        <div class="titLine"></div>
      </div>
      <div class="item">
        <p>
          "(주)에듀내일컨설팅"은 (이하 "회사"는) 고객님의 개인정보를
          중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을
          준수하고 있습니다. 회사는 개인정보취급방침을 통하여 고객님께서
          제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며,
          개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
        </p>
        <br />
        <p>
          회사는 개인정보취급방침을 개정하는 경우 웹사이트 박샘 소식(또는
          개별공지)을 통하여 공지할 것입니다.
        </p>
        <br /><br />

        <p><b> 1. 수집하는 개인정보의 항목과 수집방법 </b></p>

        <br /><br />

        <p>
          1) 수집하는 개인정보의 항목 <br />
          ① 회사는 회원가입, 상담, 각종 서비스 신청 및 제공 등을 위해 아래와
          같은 개인정보를 수집하고 있습니다.
        </p>
        <br />
        <p>
          ㅇ필수 항목 : 이름, 로그인ID, 비밀번호, 닉네임, 생년월일,
          이메일주소, 주소, 전화번호<br />
          ㅇ선택 항목 : 자녀 학년, 학교, 방문경로, 내일교육 아이디 (기입
          없이도 회원가입이 가능합니다)
        </p>
        <br />
        <p>
          ② 서비스 이용 과정이나 사업처리 과정에서 아래와 같은 정보들이
          자동으로 생성되어 수집될 수 있습니다. <br />
          - IP Address, 쿠키, 방문 일시, 서비스 이용 기록, 불량 이용 기록
        </p>
        <br />
        <p>
          ③ 부가서비스 및 맞춤 서비스 이용 또는 이벤트 응모 과정에서 해당
          서비스의 이용자에 한해서만 아래와 같은 정보들이 수집될 수
          있습니다.<br />
          - 개인정보 추가 수집에 대한 동의를 받은 경우<br />
          - 이벤트 응모시 : 배송 주소, 전화번호
        </p>
        <br />
        <p>
          ④ 유료 서비스 이용 과정에서 아래와 같은 결제 정보들이 수집될 수
          있습니다<br />
          - 신용카드 결제시 : 카드사명, 카드번호 등<br />
          - 휴대전화 결제시 : 이동전화번호, 통신사, 결제승인번호 등<br />
          - 계좌이체시 : 은행명, 계좌번호 등
        </p>
        <br />
        <p>
          2) 개인정보 수집방법 <br />
          회사는 다음과 같은 방법으로 개인정보를 수집합니다.<br />
          - 홈페이지 회원가입, 전화, 상담게시판, 이메일<br />
          - 생성정보 수집 툴을 통한 수집
        </p>
        <br /><br />

        <p><b>2. 개인정보의 수집 및 이용목적</b></p>

        <br /><br />

        <p>
          회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다. 이용자가
          제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지
          않으며 이용 목적이 변경될 시에는 사전 동의를 구할 것입니다.
        </p>
        <br />
        <p>
          1) 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산
          <br />
          ① 회사가 제공하는 컨텐츠에 대한 이용 신청 및 운영 관리<br />
          ② 콘텐츠 제공, 구매 및 요금 결제, 요금추심 등 <br />
        </p>
        <br />
        <p>
          2) 회원 관리<br />
          회원제 서비스 제공, 개인 식별, 이용약관 위반 회원에 대한 이용 제한
          조치, 서비스의 원활한 운영에 지장을 미치는 행위 및 서비스 부정
          이용 행위 제재, 가입 의사 확인, 분쟁 조정을 위한 기록보존,
          불만처리 등 민원처리, 고지사항 전달, 회원탈퇴
        </p>
        <br /><br />

        <p><b>3. 개인정보 보유 및 이용 기간</b></p>
        <br /><br />

        <p>
          회사는 회원 탈퇴를 요청하거나 개인정보의 수집 및 이용에 대한
          동의를 철회하는 경우, 수집 및 이용목적이 달성되거나 보유 및
          이용기간이 종료한 경우 해당 개인정보를 지체 없이 파기합니다. 단,
          다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.
        </p>
        <br />
        <p>
          1) 회사 내부 방침에 의한 정보보유 사유<br />
          보존 내용: 부정이용기록<br />
          보존 근거: 부정 이용 방지<br />
          보존 기간: 6개월
        </p>
        <br />
        <p>
          2) 관련 법령에 의한 정보보유 사유 <br />
          상법, 전자상거래 등에서의 소비자 보호에 관한 법률 등 관련 법령의
          규적에 의하여 보존할 필요가 있는 경우 회사는 관계법령에서 정한
          일정한 기간 동안 회원정보를 보관합니다. 이 경우 회사는 보관하는
          정보를 그 보관의 목적으로만 이용하며 보존기간은 다음과
          같습니다.<br />
          ① 표시.광고에 관한 기록 : 6개월 (전자상거래등에서의 소비자보호에
          관한 법률) <br />
          ② 계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의
          소비자보호에 관한 법률)<br />
          ③ 대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의
          소비자보호에 관한 법률)<br />
          ④ 소비자의 불만 또는 분쟁처리에 관한 기록: 3년 (전자상거래등에서의
          소비자보호에 관한 법률)<br />
          ⑤ 웹사이트 방문기록 : 3개월 (통신비밀보호법)
        </p>
        <br />
        <p>
          3) 회사는 회원이 연속하여 회사가 정한 기간 동안 사이트를 이용한
          기록이 없는 경우 회원에게 사전 통지하고 개인정보를 별도 분리하여
          저장 관리 또는 파기 할 수 있습니다. 단, 관계 법령에 의한 개인정보
          보존이 필요한 경우에는 규정된 기간 동안 보존합니다.
        </p>
        <br /><br />

        <p><b>4. 개인정보의 파기절차 및 방법</b></p>

        <br /><br />

        <p>
          회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당
          정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.
        </p>
        <br />
        <p>
          ο 파기절차<br />
          회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후
          별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타
          관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정
          기간 저장된 후 파기되어집니다.
        </p>
        <br />
        <p>
          별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는
          보유되어지는 이외의 다른 목적으로 이용되지 않습니다.
        </p>
        <br />
        <p>
          ο 파기방법 <br />
          - 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적
          방법을 사용하여 삭제합니다.
        </p>
        <br />
        <p><b>5. 개인정보 제공</b></p>

        <p>
          회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다.
          다만, 아래의 경우에는 예외로 합니다.<br />
          - 이용자들이 사전에 동의한 경우<br />
          - 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와
          방법에 따라 수사기관의 요구가 있는 경우
        </p>

        <br /><br />

        <p><b>6. 수집한 개인정보의 위탁</b></p>

        <p>
          회사는 고객님의 동의없이 고객님의 정보를 외부 업체에 위탁하지
          않습니다. 향후 그러한 필요가 생길 경우, 위탁 대상자와 위탁 업무
          내용에 대해 고객님에게 통지하고 필요한 경우 사전 동의를 받도록
          하겠습니다.
        </p>
        <br /><br />

        <p><b>7. 이용자 및 법정대리인의 권리와 그 행사방법</b></p>
        <br /><br />

        <p>
          이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만
          14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입해지를
          요청할 수도 있습니다.<br />
          이용자 혹은 만 14세 미만 아동의 개인정보 조회 및 수정을 위해서는
          ‘개인정보변경’(또는 ‘회원정보수정’ 등)을 가입해지(동의철회)를
          위해서는 “회원탈퇴”를 클릭 하여 본인 확인 절차를 거치신 후 직접
          열람, 정정 또는 탈퇴가 가능합니다.<br />
          혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면
          지체없이 조치하겠습니다. 귀하가 개인정보의 오류에 대한 정정을
          요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는
          제공하지 않습니다. 또한 잘못된 개인정보를 제3자 에게 이미 제공한
          경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정이
          이루어지도록 하겠습니다.<br />
          oo는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된
          개인정보는 “oo 가 수집하는 개인정보의 보유 및 이용기간”에 명시된
          바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록
          처리하고 있습니다.
        </p>
        <br /><br />

        <p>
          <b>8. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한
            사항</b>
        </p>
        <br /><br />

        <p>
          회사는 귀하의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 등을
          운용합니다. 쿠키란 oo의 웹사이트를 운영하는데 이용되는 서버가
          귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터
          하드디스크에 저장됩니다. 회사은(는) 다음과 같은 목적을 위해 쿠키를
          사용합니다.
        </p>
        <br />
        <p>
          ▶ 쿠키 등 사용 목적<br />
          - 회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과
          관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수
          파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공
        </p>
        <br />
        <p>
          귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는
          웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가
          저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할
          수도 있습니다.
        </p>
        <br />
        <p>
          ▶ 쿠키 설정 거부 방법<br />
          예: 쿠키 설정을 거부하는 방법으로는 회원님이 사용하시는 웹
          브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를
          저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수
          있습니다.
        </p>
        <br />
        <p>
          설정방법 예(인터넷 익스플로어의 경우)<br />
          : 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보
        </p>
        <br />
        <p>
          단, 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이
          있을 수 있습니다.
        </p>
        <br /><br />

        <p><b>9. 개인정보에 관한 민원서비스</b></p>

        <br /><br />

        <p>
          회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을
          처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를
          지정하고 있습니다.
        </p>
        <br />

        <div class="pc">
          <p>
            고객서비스담당 부서 : 고객지원팀<br />
            전화번호 : 02-2287-2386<br />
            이메일 : kjlee@parksam.co.kr
          </p>
          <br />
          <p>
            최고 보안 책임자 성명 : 이기정<br />
            전화번호 : 02-2287-2386<br />
            이메일 : kjlee@parksam.co.kr
          </p>
          <br />
        </div>
        <div class="mobile">
          <p>
            고객서비스담당 부서 : 고객지원팀<br />
            전화번호 : <a href="tel:02-2287-2386" style="display: inline;">02-2287-2386</a><br />
            이메일 : kjlee@parksam.co.kr
          </p>
          <br />
          <p>
            최고 보안 책임자 성명 : 이기정<br />
            전화번호 : <a href="tel:02-2287-2386" style="display: inline;">02-2287-2386</a><br />
            이메일 : kjlee@parksam.co.kr
          </p>
          <br />
        </div>


        <p>
          귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호
          관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수
          있습니다. <br />
          회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴
          것입니다.
        </p>
        <br />
        <p>
          기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래
          기관에 문의하시기 바랍니다.<br />
          1.개인분쟁조정위원회 (www.1336.or.kr/1336)<br />
          2.정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)<br />
          3.대검찰청 인터넷범죄수사센터
          (http://icic.sppo.go.kr/02-3480-3600)<br />
          4.경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)
        </p>

        <br /><br />

        <p><b>10. 약관 변경 동의</b></p>
        <p>
          회사는 약관 변경에 관해 전자우편(E-mail) 및 sms를 발송할 수
          있습니다.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}