{% extends "main_base.html" %}
{% block title %}선생님 회원가입{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        /*
        Swal.fire({
            title: "test title",
            text: "test text",
            icon: "success",
            confirmButtonText: "확인",
        });
        */

        $("#form input")
            .focus(function () {
                $(this).removeClass("is-invalid");
            })
            .blur(function () {
                $(this).parent().find("span.is-invalid").remove();
            });

        $("#agreement_all").click(function () {
            let is_checked = $(this).is(":checked");

            $("input:checkbox").prop("checked", is_checked);
        });
    });

    function join() {
        let params = $("#form").serializeArray();
        params.push({
            csrfmiddlewaretoken: $.cookie("csrftoken")
        });
        console.log(params);

        $.ajax({
            method: "post",
            url: "{% url 'signup_teacher' %}",
            data: params,
            success: function (data) {
                console.log("data check ------------------------------- s ");
                console.log(data);
                console.log("data check ------------------------------- e ");

                if (!data.result) {
                    $.each(data.message, function (key, value) {
                        console.log(key + ":" + value);

                        $("#" + key)
                            .addClass("is-invalid")
                            .after(
                                $("<span>", {
                                    text: value,
                                    style: "color: red",
                                    class: "is-invalid",
                                })
                            );
                    });
                    /*
                    Swal.fire({
                        title: "",
                        text: data.message,
                        icon: "error",
                        confirmButtonText: "확인",
                    });
                    */
                    return;
                } else {
                    alert('선생님계정의 회원 가입이 되었습니다.\n관리자 승인 이후 사용 가능합니다.');
                    document.location.href = '/';
                    /*
                    Swal.fire({
                        title: "선생님계정의 회원 가입이 되었습니다.",
                        text: "관리자 승인 이후 사용 가능합니다.",
                        icon: "success",
                        confirmButtonText: "확인",
                    }).then(function () {
                        document.location.href = '/';
                    });
                    */

                }
            },
        });
    }
</script>
{% endblock %}
{% block contents %}
<section class="content contentSignUp pc">
    <form method="post" class="post-form" id="form">
        {% csrf_token %}
        <div class="content_inner container">
            <div class="row">
                <div class="tit">
                    <h1>회원가입 (선생님)</h1>
                    <div class="titLine"></div>
                </div>
                <div class="tableBox loginInfo">

                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    로그인 정보<span class="must">필수 입력 항목</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="bold must" style="width: 20%">아이디</th>
                                <td style="text-align: left">
                                    <input class="form-control" type="text" name="username" id="username"
                                        placeholder="아이디 입력" aria-label="default input example" autocomplete="off" />
                                </td>
                            </tr>
                            <tr>
                                <th class="bold must" style="width: 20%">비밀번호</th>
                                <td style="text-align: left">
                                    <input name="password1" id="password1" class="form-control" type="password"
                                        placeholder="비밀번호 입력" aria-label="default input example" autocomplete="off" />
                                </td>
                            </tr>
                            <tr>
                                <th class="bold must" style="width: 20%">비밀번호 확인</th>
                                <td style="text-align: left" class="tdPadding">
                                    <input name="password2" id="password2" class="form-control" type="password"
                                        placeholder="비밀번호 재입력" aria-label="default input example" autocomplete="off" />
                                    <p>* 비밀번호는 8자리 이상으로 설정해주세요.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tableBox personInfo">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    인적 정보<span class="must">필수 입력 항목</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="bold must" style="width: 20%">이름</th>
                                <td style="text-align: left">
                                    <input name="name" id="name" class="form-control" type="text" placeholder="이름입력"
                                        aria-label="default input example" />
                                </td>
                            </tr>
                            <tr>
                                <th class="bold must" style="width: 20%">핸드폰 번호</th>
                                <td style="text-align: left" class="inputPhoneBox">
                                    <div class="form-group">
                                        <input id="phone1" name="phone1" class="form-control" type="text"
                                            placeholder="010" aria-label="default input example" />
                                        &nbsp;-
                                        <input id="phone2" name="phone2" class="form-control" type="text"
                                            placeholder="0000" aria-label="default input example" />
                                        &nbsp;-
                                        <input id="phone3" name="phone3" class="form-control" type="text"
                                            placeholder="0000" aria-label="default input example" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="bold must" style="width: 20%">이메일</th>
                                <td style="text-align: left">
                                    <input name="email" id="email" class="form-control" type="email"
                                        placeholder="이메일 주소 입력" aria-label="default input example" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btnArea">
                    <button type="button" class="yBtn" onclick="join();">회원가입</button>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="content contentSignUp mobile">
    <form method="post" class="post-form" id="form">
        {% csrf_token %}
        <div class="content_inner">
            <div class="tableBox loginInfo">

                <table>
                    <tbody>
                        <tr>
                            <td style="text-align: left">
                                <span class="bold must">아이디</span>
                                <input name="username" id="username" class="form-control" type="text"
                                    placeholder="예 : edu2021" aria-label="default input example" autocomplete="off" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <span class="bold must">비밀번호</span>

                                <input name="password1" id="password1" class="form-control" type="password"
                                    placeholder="6자 이상으로 입력해주세요" aria-label="default input example"
                                    autocomplete="off" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left" class="tdPadding">
                                <span class="bold must">비밀번호 확인</span>

                                <input name="password2" id="password2" class="form-control" type="password"
                                    placeholder="비밀번호를 한번 더 입력해주세요" aria-label="default input example"
                                    autocomplete="off" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btnArea">
                    <button type="button" class="bBorderBtn" onclick="identification();">
                        <span>본인인증</span>
                    </button>
                </div>
            </div>
            <div class="tableBox personInfo">
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align: left">
                                <span class="bold must">이름</span>
                                <input name="name" id="name" class="form-control" type="text" placeholder="이름을 입력해주세요"
                                    aria-label="default input example" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left" class="inputPhoneBox">
                                <span class="bold must">핸드폰번호 </span>
                                <div class="form-grouop">
                                    <input id="phone1" name="phone1" class="form-control" type="text" placeholder="000"
                                        aria-label="default input example" style="width: 28%;" />
                                    <input id="phone2" name="phone2" class="form-control" type="text" placeholder="0000"
                                        aria-label="default input example" style="width: 35%;" />
                                    <input id="phone3" name="phone3" class="form-control" type="text" placeholder="0000"
                                        aria-label="default input example" style="width: 35%;" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <span class="bold must">이메일</span>
                                <input name="email" id="email" class="form-control" type="email"
                                    placeholder="이메일 주소를 입력해주세요" aria-label="default input example" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tableBox agreeInfo">
                <div class="btnArea">
                    <button type="button" class="bBtn" onclick="join();"><span>회원가입</span></button>
                </div>
            </div>
        </div>
    </form>
</section>

{% endblock %}