{% extends "main_base.html" %}
{% load custom_tags %}
{% block script %}
<style>
    .counsel_request_btn, .fix_phone {
        display: none !important;
    }
</style>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if (data.buildingName !== '' && data.apartment === 'Y') {
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if (extraRoadAddr !== '') {
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                $("input[name='postcode']").val(data.zonecode);

                if (roadAddr) {
                    $("input[name='address1']").val(roadAddr);
                } else {
                    $("input[name='address1']").val(data.jibunAddress);
                }

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if (roadAddr !== '') {
                    $("input[name='address2']").val(extraRoadAddr);
                } else {
                    $("input[name='address2']").val('');
                }

            }
        }).open();
    }
</script>
<script>
    $(document).ready(function () {
        $("#form *")
            .focus(function () {

            })
            .blur(function () {
                $(this).removeClass("is-invalid");
                $(this).removeAttr('title');
                $(this).parent().find("span.is-invalid").remove();
            });

        $("input.agreement_all").click(function () {
            let is_checked = $(this).is(":checked");

            $("input:checkbox:visible").prop("checked", is_checked);
        });
    });

    function join() {
        // 오류 클래스 제거
        $("*").removeClass(".is-invalid");

        if (!$("input.service_agreement_yn:visible").is(":checked")) {
            alert('서비스 이용약관을 동의 하여야 회원 가입이 가능합니다.');
            /*
            Swal.fire({
                title: "",
                text: "서비스 이용약관을 동의 하여야 회원 가입이 가능합니다.",
                icon: "error",
                confirmButtonText: "확인",
            });
            */
            return;
        }

        if (!$("input.info_agreement_yn:visible").is(":checked")) {
            alert('개인정보 수집 및 이용을 동의 하여야 회원 가입이 가능합니다.');
            /*
            Swal.fire({
                title: "",
                text: "개인정보 수집 및 이용을 동의 하여야 회원 가입이 가능합니다.",
                icon: "error",
                confirmButtonText: "확인",
            });
            */
            return;
        }

        let params = $("form:visible").serializeArray();
        params.push({
            csrfmiddlewaretoken: $.cookie("csrftoken")
        });

        // checkbox 에 대한 value 지정 처리
        /*
        $("input:checkbox").each(function () {
            if ($(this).is(":checked")) {
                params.push({
                    name: $(this).attr("name"),
                    value: "Y",
                });
            }
        });
        */
        $.ajax({
            method: "post",
            url: "{% url 'signup' %}",
            data: params,
            success: function (data) {
                console.log("data check ------------------------------- s ");
                console.log(data);
                console.log("data check ------------------------------- e ");

                if (!data.result) {
                    console.log(data.message.length);

                    if (data.message == "회원가입이 실패하였습니다.") {
                        alert(data.message);
                        /*
                        Swal.fire({
                            title: "",
                            text: data.message,
                            icon: "error",
                            confirmButtonText: "확인",
                        });
                        */

                    } else {
                        let message = "";
                        $.each(data.message, function (key, value) {
                            console.log(key + ":" + value);
                            message += key + ":" + value + "\n";
                            $("*[name='" + key + "']").attr('title', value).prop('data-placement',
                                'right').addClass("is-invalid");
                        });
                        $(".is-invalid:first").focus();
                        if(message){
                            alert(message);
                        }
                        $(document).tooltip({
                            position: {
                                my: "left+15 center",
                                at: "right center"
                            }
                        });
                    }


                    /*
                    Swal.fire({
                        title: "",
                        text: data.message,
                        icon: "error",
                        confirmButtonText: "확인",
                    });
                    */
                    return;
                } else {
                    /*
                    Swal.fire({
                        title: "회원가입이 완료 되었습니다.",
                        text: "메인화면으로 이동 합니다.",
                        icon: "success",
                        confirmButtonText: "확인",
                    }).then(function () {
                        // document.location.href = "/";
                    });
                    */

                    // next 값이 있다면 해당 값으로 이동
                    if (data.next) {
                        document.location.href = data.next;
                    } else {

                        document.location.href = "/";
                    }


                }
            },
        });
    }

    window.name = "Parent_window";

    function identification() {
        window.open('', 'popupChk',
            'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no'
        );
        document.form_chk.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
        document.form_chk.target = "popupChk";
        document.form_chk.submit();
    }

    //카카오 주소찾기 연동
    function search_address() {
        alert('search_address');
    }
</script>
{% endblock %}
{% block contents %}

<!--
<figure class="figure pc" id="headerNext">
    <div class="banner mainBanner">
        <div class="figure_inner">
            <div class="container">
                <h1>
                    <span class="big">주기적인 상담</span><br />
                    국내최초
                    <span class="dot">정</span>
                    <span class="dot">기</span>
                    <span class="dot">구</span>
                    <span class="dot">독</span>
                    <span class="dot">형</span>
                    대입컨설팅
                </h1>
                <div class="bannerLine"></div>
                <p>학교 밖 담임선생님, <span>박샘</span></p>
            </div>
        </div>
    </div>
</figure>
-->
<!-- 안심본인인증 서비스 팝업 호출 form -->
<form name="form_chk" method="post">
    <!-- 요청모드 (필수 데이터) -->
    <input type="hidden" name="m" value="checkplusSerivce">
    <!-- 업체정보 암호화 데이터 -->
    <input type="hidden" name="EncodeData" value="{{ enc_data }}">
    <!-- 팝업 호출 링크 -->
</form>

<section class="content contentSignUp pc">
    <form method="post" class="post-form" id="form">
        {% csrf_token %}
        <!-- 본인인증전: N, 본인인증완료: Y -->
        <input type="hidden" name="is_nice_check_complete" value="N" />
        <input type="hidden" name="di" value="" />
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% endif %}
        <div class="content_inner container">
            <div class="row">
                <div class="tit">
                    <h1>회원가입</h1>
                    <div class="titLine"></div>
                </div>
                <div class="tableBox loginInfo">

                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    로그인 정보<span class="must">필수 입력 항목</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="bold must" style="width: 20%">아이디</th>
                                <td style="text-align: left">
                                    <input class="form-control" type="text" name="username" id="username"
                                        placeholder="아이디 입력" aria-label="default input example" autocomplete="off" />
                                </td>
                            </tr>
                            <tr>
                                <th class="bold must" style="width: 20%">비밀번호</th>
                                <td style="text-align: left">
                                    <input name="password1" id="password1" class="form-control" type="password"
                                        placeholder="비밀번호 입력" aria-label="default input example" autocomplete="off" />
                                </td>
                            </tr>
                            <tr>
                                <th class="bold must" style="width: 20%">비밀번호 확인</th>
                                <td style="text-align: left" class="tdPadding">
                                    <input name="password2" id="password2" class="form-control" type="password"
                                        placeholder="비밀번호 재입력" aria-label="default input example" autocomplete="off" />
                                    <p>* 비밀번호는 8자리 이상으로 설정해주세요.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btnArea">
                        <button type="button" class="gBtn" onclick="identification();">
                            <span>본인인증</span>
                        </button>
                    </div>
                </div>
                <div class="tableBox personInfo">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    인적 정보<span class="must">필수 입력 항목</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="bold must" style="width: 20%">이름</th>
                                <td style="text-align: left">
                                    <input name="name" id="name" class="form-control" type="text" placeholder="이름입력"
                                        aria-label="default input example" readonly />
                                </td>
                            </tr>
                            <tr>
                                <th class="bold must" style="width: 20%">핸드폰 번호</th>
                                <td style="text-align: left" class="inputPhoneBox">
                                    <div class="form-group">
                                        <input id="phone1" name="phone1" class="form-control" type="text" maxlength="3"
                                            placeholder="010" aria-label="default input example" readonly />
                                        &nbsp;-
                                        <input id="phone2" name="phone2" class="form-control" type="text" maxlength="4"
                                            placeholder="0000" aria-label="default input example" readonly />
                                        &nbsp;-
                                        <input id="phone3" name="phone3" class="form-control" type="text" maxlength="4"
                                            placeholder="0000" aria-label="default input example" readonly />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="bold must" style="width: 20%">이메일</th>
                                <td style="text-align: left">
                                    <input name="email" id="email" class="form-control" type="email"
                                        placeholder="이메일 주소 입력" aria-label="default input example" />
                                </td>
                            </tr>
                            <!--
                            <tr>
                                <th class="bold must" style="width: 20%">생년월일</th>
                                <td style="text-align: left" class="inputSelectBox">
                                    <input id="birth_year" name="birth_year" class="form-control" type="number"
                                        min="1950" max="2050" placeholder="YYYY" aria-label="default input example" />
                                    &nbsp;&nbsp;
                                    <select id="birth_month" name="birth_month" class="form-select"
                                        aria-label="Default select example">
                                        <option value="">선택하세요</option>
                                        {% for i in 12|times %}
                                        <option value="{{ i|add:'1' }}">{{ i|add:'1' }}</option>
                                        {% endfor %}
                                    </select>
                                    &nbsp;&nbsp;
                                    <select id="birth_day" name="birth_day" class="form-select"
                                        aria-label="Default select example">
                                        <option value="">선택하세요</option>
                                        {% for i in 31|times %}
                                        <option value="{{ i|add:'1' }}">{{ i|add:'1' }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            -->
                            <tr>
                                <th class="bold must" style="width: 20%">주소</th>
                                <td style="text-align: left" class="tdPadding">
                                    <div class="input-group inputBtnBox">
                                        <input id="postcode" name="postcode" type="hidden" />
                                        <input id="address1" name="address1" type="text" class="form-control"
                                            placeholder="주소입력" aria-label="Recipient's username"
                                            aria-describedby="button-addon2" readonly onclick="execDaumPostcode();" />
                                        <button class="btn" type="button" id="button-addon2"
                                            onclick="execDaumPostcode();">
                                            주소검색
                                        </button>
                                    </div>
                                    <input id="address2" name="address2" class="form-control" type="text"
                                        placeholder="상세주소 입력" aria-label="default input example" />
                                </td>
                            </tr>
                            <!--
                            <tr>
                                <th class="bold" style="width: 20%">자녀학교</th>
                                <td style="text-align: left">
                                    <input id="school" name="school" class="form-control" type="text" placeholder="학교입력"
                                        aria-label="default input example" />
                                </td>
                            </tr>
                            <tr>
                                <th class="bold" style="width: 20%">자녀학년</th>
                                <td style="text-align: left">
                                    <select id="grade" name="grade" class="form-select"
                                        aria-label="Default select example">
                                        <option selected>학년 선택</option>
                                        <option value="1">1학년</option>
                                        <option value="2">2학년</option>
                                        <option value="3">3학년</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th class="bold" style="width: 20%">방문경로</th>
                                <td style="text-align: left">
                                    <select id="source_from" name="source_from" class="form-select"
                                        aria-label="Default select example">
                                        <option value="">선택하세요</option>
                                        <option value="1">홍보문자</option>
                                        <option value="2">내일교육 지면광고</option>
                                        <option value="3">내일신문 지면광고</option>
                                        <option value="4">지인추천</option>
                                    </select>
                                </td>
                            </tr>
                            -->
                            <tr>
                                <th class="bold" style="width: 20%">내일교육 아이디</th>
                                <td style="text-align: left">
                                    <input id="naeiledu_id" name="naeiledu_id" class="form-control" type="text"
                                        placeholder="선택입력 사항" aria-label="default input example" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tableBox agreeInfo">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">약관 동의</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="bold">
                                    <div class="form-check">
                                        <input class="form-check-input agreement_all" type="checkbox" name="flexRadio1"
                                            id="flexRadio1" />
                                        <label class="form-check-label" for="flexRadio1">
                                            서비스 이용약관 전체 동의
                                        </label>
                                    </div>
                                </th>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="bold">
                                    <div class="form-check">
                                        <input class="form-check-input service_agreement_yn" type="checkbox"
                                            name="service_agreement_yn" id="flexRadio2" />
                                        <label class="form-check-label" for="flexRadio2">
                                            서비스 이용약관 동의 (필수)
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class="bold">
                                    <div class="form-check">
                                        <input class="form-check-input info_agreement_yn" type="checkbox"
                                            name="info_agreement_yn" id="flexRadio3" />
                                        <label class="form-check-label" for="flexRadio3">
                                            개인정보 수집 및 이용 동의 (필수)
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th class="bold">
                                    <div class="form-check">
                                        <input class="form-check-input marketing_agreement_yn" type="checkbox"
                                            name="marketing_agreement_yn" id="flexRadio4" value="Y" />
                                        <label class="form-check-label" for="flexRadio4">
                                            마케팅 정보 수신 동의 (선택)
                                        </label>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btnArea">
                    <button type="button" class="yBtn" onclick="join();">회원가입</button>
                </div>
            </div>
        </div>
    </form>
</section>
<section class="content contentSignUp mobile">
    <form method="post" class="post-form" id="form">
        {% csrf_token %}
        <input type="hidden" name="is_nice_check_complete" value="N" />
        <input type="hidden" name="di" value="" />
        <div class="content_inner">
            <div style="font-size: 12px; text-align: right; padding: 0 15px;">
                <span class="mustinfo"
                    style="font-size:23px; color: #4178dc; font-weight: 300; vertical-align: top;">*</span> 필수 입력 항목
            </div>
            <div class="tableBox loginInfo">

                <table>
                    <tbody>
                        <tr>
                            <td style="text-align: left">
                                <span class="bold must mobile">아이디</span>
                                <input name="username" id="username" class="form-control" type="text"
                                    placeholder="예 : edu2021" aria-label="default input example" autocomplete="off" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <span class="bold must">비밀번호</span>

                                <input name="password1" id="password1" class="form-control" type="password"
                                    placeholder="8자 이상으로 입력해주세요" aria-label="default input example"
                                    autocomplete="off" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left" class="tdPadding">
                                <span class="bold must">비밀번호 확인</span>

                                <input name="password2" id="password2" class="form-control" type="password"
                                    placeholder="비밀번호를 한번 더 입력해주세요" aria-label="default input example"
                                    autocomplete="off" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btnArea">
                    <button type="button" class="bBorderBtn" onclick="identification();">
                        <span>본인인증</span>
                    </button>
                </div>
            </div>
            <div class="tableBox personInfo">
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align: left">
                                <span class="bold must">이름</span>
                                <input name="name" id="name" class="form-control" type="text" placeholder="이름을 입력해주세요"
                                    aria-label="default input example" onclick="identification();" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left" class="inputPhoneBox">
                                <span class="bold must">핸드폰번호 </span>
                                <div class="form-grouop">
                                    <input id="phone1" name="phone1" class="form-control" type="text" placeholder="000"
                                        aria-label="default input example" style="width: 28%;" />
                                    <input id="phone2" name="phone2" class="form-control" type="text" placeholder="0000"
                                        aria-label="default input example" style="width: 35%;" />
                                    <input id="phone3" name="phone3" class="form-control" type="text" placeholder="0000"
                                        aria-label="default input example" style="width: 35%;" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <span class="bold must">이메일</span>
                                <input name="email" id="email" class="form-control" type="email"
                                    placeholder="이메일 주소를 입력해주세요" aria-label="default input example" />
                            </td>
                        </tr>
                        <!--
                        <tr>
                            <td style="text-align: left" class="inputSelectBox">
                                <span class="bold must">생년월일</span>

                                <select id="birth_year" name="birth_year" class="form-select"
                                    aria-label="Default select example" style="width: 33%;">
                                    <option value="">선택하세요</option>
                                    {% for i in 100|times %}
                                    <option value="{{ i|add:'1920' }}">{{ i|add:'1920' }}</option>
                                    {% endfor %}
                                </select>

                                <select id="birth_month" name="birth_month" class="form-select"
                                    aria-label="Default select example" style="width: 32%;">
                                    <option value="">선택하세요</option>
                                    {% for i in 12|times %}
                                    <option value="{{ i|add:'1' }}">{{ i|add:'1' }}</option>
                                    {% endfor %}
                                </select>

                                <select id="birth_day" name="birth_day" class="form-select"
                                    aria-label="Default select example" style="width: 32%;">
                                    <option value="">선택하세요</option>
                                    {% for i in 31|times %}
                                    <option value="{{ i|add:'1' }}">{{ i|add:'1' }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        -->
                        <tr>
                            <td style="text-align: left" class="tdPadding">
                                <span class="bold must">주소</span>

                                <div class="input-group inputBtnBox">
                                    <input id="postcode" name="postcode" type="hidden" />
                                    <input id="address1" name="address1" type="text" class="form-control"
                                        placeholder="도로명 , 지번, 건물명 검색" aria-label="Recipient's username"
                                        aria-describedby="button-addon2" readonly onclick="execDaumPostcode();" />
                                    <button class="btn" type="button" id="button-addon2"
                                        onclick="execDaumPostcode();"></button>
                                </div>
                                <input id="address2" name="address2" class="form-control" type="text"
                                    placeholder="상세주소를 입력해주세요" aria-label="default input example" />
                            </td>
                        </tr>
                        <!--
                        <tr>
                            <td style="text-align: left">
                                <span class="bold">자녀학교</span>

                                <input id="school" name="school" class="form-control" type="text" placeholder="학교입력"
                                    aria-label="default input example" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <span class="bold">자녀학년</span>

                                <select id="grade" name="grade" class="form-select" aria-label="Default select example">
                                    <option selected>학년 선택</option>
                                    <option value="1">1학년</option>
                                    <option value="2">2학년</option>
                                    <option value="3">3학년</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: left">
                                <span class="bold">방문경로</span>

                                <select id="source_from" name="source_from" class="form-select"
                                    aria-label="Default select example">
                                    <option value="">선택하세요</option>
                                    <option value="1">홍보문자</option>
                                    <option value="2">내일교육 지면광고</option>
                                    <option value="3">내일신문 지면광고</option>
                                    <option value="4">지인추천</option>
                                </select>
                            </td>
                        </tr>
                        -->
                        <tr>
                            <td style="text-align: left">
                                <span class="bold">내일교육 아이디</span>

                                <input id="naeiledu_id" name="naeiledu_id" class="form-control" type="text"
                                    placeholder="선택입력 사항" aria-label="default input example" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tableBox agreeInfo">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2"><span class="bold must">약관 동의</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                <div class="form-check radioCustom">
                                    <input class="form-check-input agreement_all" type="checkbox" name="flexRadio1"
                                        id="flexRadio1" />
                                    <label class="form-check-label" for="flexRadio1"> </label>
                                    <span>서비스 이용약관 전체 동의</span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-check radioCustom">
                                    <input class="form-check-input service_agreement_yn" type="checkbox"
                                        name="service_agreement_yn" id="flexRadio2" />
                                    <label class="form-check-label" for="flexRadio2"> </label>
                                    <span>서비스 이용약관 동의 (필수)</span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-check radioCustom">
                                    <input class="form-check-input info_agreement_yn" type="checkbox"
                                        name="info_agreement_yn" id="flexRadio3" />
                                    <label class="form-check-label" for="flexRadio3"> </label>
                                    <span>개인정보 수집 및 이용 동의 (필수)</span>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-check radioCustom">
                                    <input class="form-check-input marketing_agreement_yn" type="checkbox"
                                        name="marketing_agreement_yn" id="flexRadio4" value="Y" />
                                    <label class="form-check-label" for="flexRadio4"> </label>
                                    <span>마케팅 정보 수신 동의 (선택)</span>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <div class="btnArea">
                    <button type="button" class="bBtn" onclick="join();"><span>회원가입</span></button>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}