{% extends "sub_base.html" %} {% block script %}

<script>
    
</script>
{% endblock %} {% load custom_tags %} {% block contents %}
<h5>결제화면</h5>
<button type="button" class="btn btn-primary" onclick="pay()">결제하기</button>

{% endblock %}
